.version.ampg /* version checker */
{
	color: #0000E6;
	background-color: #BCEBFA;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 573px;
	border-style: none;
	border-color: #001F9D;
	background: transparent url("../images/ar8.jpg") no-repeat center bottom;
}

#page_position_content
{
	padding-top: 3px;
	width: 0.01px;
}

#u10494
{
	z-index: 107;
	width: 111px;
	background-color: transparent;
	margin-left: 25px;
	position: relative;
}

#u10110
{
	z-index: 10;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#ED1C24),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#ED1C24 ,#00FF00 100%);
	background: linear-gradient(to right,#ED1C24 ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFED1C24, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFED1C24', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 11px;
	position: relative;
}

#pu10488
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 2px;
}

#u10488
{
	z-index: 105;
	width: 207px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u10488::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#slideshowu10125
{
	z-index: 46;
	width: 0.01px;
	height: 210px;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#u10142
{
	position: absolute;
	width: 375px;
	height: 567px;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	top: -123px;
	left: -225px;
	-pie-background: rgba(68,68,68,0.9);
}

#u10142popup
{
	z-index: 47;
}

#u10151
{
	z-index: 48;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u10148
{
	z-index: 50;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u10147
{
	z-index: 52;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u10150
{
	z-index: 54;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u10444
{
	z-index: 56;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u10453
{
	z-index: 58;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u10462
{
	z-index: 60;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u10471
{
	z-index: 62;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u10127
{
	position: absolute;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u10127popup
{
	z-index: 64;
}

#u10132
{
	z-index: 65;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u10139
{
	z-index: 67;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u10141
{
	z-index: 69;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u10134
{
	z-index: 71;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u10447
{
	z-index: 73;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u10456
{
	z-index: 75;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 70px;
}

#u10465
{
	z-index: 77;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
}

#u10474
{
	z-index: 79;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 70px;
}

#u10132_clip,#u10139_clip,#u10141_clip,#u10134_clip,#u10447_clip,#u10474_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u10132_img,#u10139_img,#u10141_img,#u10134_img,#u10447_img,#u10474_img
{
	margin-left: -6px;
	margin-right: -7px;
}

#u10157-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 357px;
	left: 2px;
}

#u10157-4popup
{
	z-index: 81;
}

#u10158-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 357px;
	left: -30px;
}

#u10158-4popup
{
	z-index: 85;
}

#u10157,#u10158
{
	color: #999999;
}

#u10160-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 357px;
	left: 71px;
}

#u10160-4popup
{
	z-index: 89;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#ppu10113
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: -77px;
}

#pu10113
{
	width: 0.01px;
	margin: 83px -10000px -1px 207px;
}

#u10113
{
	z-index: 28;
	width: 142px;
	height: 5px;
	background: -webkit-gradient(linear, left center, right center, from(#ED1C24),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#ED1C24 ,#00FF00 100%);
	background: linear-gradient(to right,#ED1C24 ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFED1C24, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFED1C24', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
}

#u10116-4
{
	z-index: 37;
	width: 54px;
	min-height: 18px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 42px;
	margin-top: 23px;
	position: relative;
}

#u10116-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(57,181,74,0.5);
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 54px;
	margin: 23px 0px 0px 42px;
}

#u10114-4
{
	z-index: 29;
	width: 54px;
	min-height: 20px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 42px;
	margin-top: 8px;
	position: relative;
}

#u10114-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(57,181,74,0.5);
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 54px;
	margin: 8px 0px 0px 42px;
}

#u10109
{
	z-index: 9;
	width: 205px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u10109::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 2px -3px 4px rgba(255,255,255,0.75), inset -2px 3px 4px rgba(0,0,0,0.75);
}

#u10112-16
{
	z-index: 12;
	width: 190px;
	min-height: 196px;
	text-align: center;
	margin-bottom: -59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 6px;
	background: transparent url("../images/mialogo3-u10112-16-fr.png") no-repeat center center;
	background-size: contain;
}

#u10112-9,#u10112-10
{
	font-weight: bold;
	font-style: italic;
}

#u10176-5
{
	z-index: 93;
	width: 112px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 57px;
}

#u10178-7
{
	z-index: 98;
	width: 190px;
	min-height: 41px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 8px;
}

#u10112-2,#u10112-4,#u10112-5,#u10112-6,#u10112-7,#u10112-8,#u10176,#u10178-2,#u10178-4
{
	font-weight: bold;
}

#u10115-4
{
	z-index: 33;
	width: 54px;
	min-height: 19px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 258px;
	margin-top: 9px;
	position: relative;
}

#u10116-4::before,#u10114-4::before,#u10115-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 4px;
	box-shadow: inset 0px 0px 8px rgba(41,171,226,0.5), inset 0px 0px 8px rgba(41,171,226,0.5), inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u10115-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(57,181,74,0.5);
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 9px 0px 0px 258px;
}

#u10116-4:hover::before,#u10114-4:hover::before,#u10115-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 8px;
	box-shadow: inset 0px 0px 8px rgba(41,171,226,0.5), inset 0px 0px 8px rgba(41,171,226,0.5), inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u10116-4:hover p,#u10114-4:hover p,#u10115-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u10119
{
	z-index: 41;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#ED1C24),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#ED1C24 ,#00FF00 100%);
	background: linear-gradient(to right,#ED1C24 ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFED1C24, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFED1C24', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 8px;
	position: relative;
}

#u32202
{
	z-index: 109;
	width: 360px;
	height: 73px;
	background-color: transparent;
	left: -1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#U32767_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u10111
{
	z-index: 11;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#ED1C24),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#ED1C24 ,#00FF00 100%);
	background: linear-gradient(to right,#ED1C24 ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFED1C24, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFED1C24', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u10110::before,#u10113::before,#u10119::before,#u10111::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#ppu10120-4
{
	width: 0.01px;
	margin-left: 119px;
	margin-top: -7px;
}

#pu10120-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u10120-4
{
	z-index: 42;
	width: 65px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,255,0,0.5),0px 0px 8px rgba(0,255,0,0.5)/* glow */,
6px 6px 8px rgba(57,181,74,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 9px;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
	margin-left: 32px;
	position: relative;
}

#u10120-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 9px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u10120-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 65px;
	margin: 0px 0px 0px 32px;
}

#u10120-4:hover p
{
	color: #39B54A;
	visibility: inherit;
}

#u29585-4
{
	z-index: 5;
	width: 122px;
	min-height: 18px;
	top: -7px;
	margin-bottom: -7px;
}

#u26402
{
	z-index: 3;
	height: 40px;
	width: 41px;
	margin-bottom: -6px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 120px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

