.version.anatolia_cafe /* version checker */
{
	color: #000014;
	background-color: #AD1B33;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 551.7523682047673px;
	background-image: none;
	border-style: none;
	border-color: #001F9D;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 17px;
	width: 0.01px;
}

#pu3693
{
	width: 0.01px;
}

#u3693
{
	z-index: 16;
	width: 177px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
}

#u26402
{
	z-index: 3;
	height: 94px;
	width: 85px;
	margin-bottom: -6px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 279px;
}

#u3235
{
	z-index: 14;
	height: 5px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-size: 100% auto;
}

#u3235-bw
{
	z-index: 14;
	margin-top: 23px;
	height: 7px;
}

#u3229
{
	z-index: 5;
	min-height: 408px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u3229-bw
{
	z-index: 5;
	min-height: 408px;
	margin-top: 5px;
}

#u3236
{
	z-index: 15;
	height: 5px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-size: 100% auto;
}

#u3236-bw
{
	z-index: 15;
	height: 7px;
}

#pu3231-4
{
	width: 0.01px;
	margin-left: 63px;
	margin-top: -1px;
}

#u3231-4
{
	z-index: 6;
	width: 66px;
	min-height: 28px;
	background-color: transparent;
	color: #1D00E6;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u3232-4
{
	z-index: 10;
	width: 73px;
	min-height: 28px;
	background-color: transparent;
	color: #39B54A;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 167px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

