.version.apex /* version checker */
{
	color: #00000B;
	background-color: #DF0FBE;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 579.5445716352575px;
	border-style: none;
	border-color: #001F9D;
	padding-bottom: 0px;
	background: transparent url("../images/202_35thcelebration-page-fr.png") no-repeat center center;
	background-size: contain;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 13px;
	width: 0.01px;
}

#pu28780
{
	width: 0.01px;
	margin-left: 21px;
}

#u28780
{
	z-index: 98;
	width: 183px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
}

#u26402
{
	z-index: 3;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 258px;
}

#pu29085
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 8px;
}

#u29085
{
	z-index: 5;
	width: 208px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(193,39,45,0.5),0px 0px 8px rgba(193,39,45,0.5);
	background-color: #EFC9CA;
	background-color: rgba(193,39,45,0.25);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(193,39,45,0.25);
}

#u29085::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.1875), inset -3px -3px 4px rgba(0,0,0,0.1875);
}

#u29085_position_content
{
	margin-top: -3px;
}

#u27430
{
	z-index: 53;
	width: 360px;
	height: 4px;
	-pie-box-shadow: 0px 0px 8px 2px #E09396/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(193,39,45,0.5),0px 0px 8px rgba(193,39,45,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	background: -webkit-gradient(linear, left center, right center, from(#7D272D),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(left,#7D272D ,#FFFFFF 100%);
	background: linear-gradient(to right,#7D272D ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF7D272D, endColorstr=#FFFFFFFF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF7D272D', endColorstr='#FFFFFFFF', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -6px;
	position: relative;
}

#u27647-7
{
	z-index: 74;
	width: 200px;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	margin-top: 58px;
	position: relative;
}

#u27647-3,#u27647-5
{
	font-style: italic;
}

#u27649-5
{
	z-index: 86;
	width: 200px;
	background-color: transparent;
	text-align: center;
	margin-left: 8px;
	margin-top: 7px;
	position: relative;
}

#u27649
{
	font-weight: bold;
}

#slideshowu27379
{
	z-index: 6;
	width: 0.01px;
	height: 216px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 215px;
}

#u27413
{
	position: absolute;
	width: 382px;
	height: 554px;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	top: -139px;
	left: -36px;
	-pie-background: rgba(68,68,68,0.9);
}

#u27413popup
{
	z-index: 7;
}

#u27414
{
	z-index: 8;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27551
{
	z-index: 10;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27424
{
	z-index: 12;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27424_img
{
	padding: 164px 47px 164px 48px;
}

#u27504
{
	z-index: 14;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27504_img
{
	padding-top: 96px;
	padding-bottom: 96px;
}

#u27513
{
	z-index: 16;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27513_img
{
	padding-top: 92px;
	padding-bottom: 92px;
}

#u27522
{
	z-index: 18;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27522_img
{
	padding-top: 55px;
	padding-bottom: 55px;
}

#u27531
{
	z-index: 20;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27531_img
{
	padding: 162px 44px 161px 45px;
}

#u27566
{
	z-index: 22;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27414_img,#u27566_img
{
	padding: 158px 39px 158px 40px;
}

#u27387
{
	position: absolute;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 6px;
}

#u27387popup
{
	z-index: 24;
}

#u27400
{
	z-index: 25;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u27554
{
	z-index: 27;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u27392
{
	z-index: 29;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u27507
{
	z-index: 31;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u27516
{
	z-index: 33;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u27516_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u27516_img
{
	margin-left: -3px;
	margin-right: -2px;
}

#u27525
{
	z-index: 35;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 70px;
}

#u27534
{
	z-index: 37;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
}

#u27569
{
	z-index: 39;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 70px;
}

#u27386-4
{
	position: absolute;
	width: 48px;
	min-height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 307px;
	left: 238px;
}

#u27386-4popup
{
	z-index: 41;
}

#u27382-4
{
	position: absolute;
	width: 10px;
	min-height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 307px;
	left: 206px;
}

#u27382-4popup
{
	z-index: 45;
}

#u27386,#u27382
{
	color: #999999;
}

#u27385-4
{
	position: absolute;
	width: 10px;
	min-height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 307px;
	left: 309px;
}

#u27385-4popup
{
	z-index: 49;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u27433
{
	z-index: 55;
	width: 142px;
	height: 4px;
	-pie-box-shadow: 0px 0px 8px 2px #E09396/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(193,39,45,0.5),0px 0px 8px rgba(193,39,45,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	background: -webkit-gradient(linear, left center, right center, from(#84272D),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(left,#84272D ,#FFFFFF 100%);
	background: linear-gradient(to right,#84272D ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF84272D, endColorstr=#FFFFFFFF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF84272D', endColorstr='#FFFFFFFF', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 223px;
	left: 212px;
}

#u27648-5
{
	z-index: 81;
	width: 200px;
	min-height: 67px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u27648-2
{
	font-size: 18px;
	line-height: 22px;
}

#u27652-4
{
	z-index: 94;
	width: 158px;
	background-color: transparent;
	text-align: center;
	color: #0000FF;
	margin-left: 37px;
	margin-top: 12px;
	position: relative;
}

#u27652
{
	text-decoration: underline;
}

#pppu27651
{
	width: 0.01px;
	margin-left: 52px;
	margin-top: -4px;
}

#ppu27651
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-bottom: -11px;
	margin-right: -10000px;
	margin-top: 15px;
}

#u27651
{
	z-index: 92;
	margin-left: 2px;
	position: relative;
}

#u27651_states
{
	height: 33px;
	width: 133px;
	vertical-align: top;
	background: url("../images/u27651_states.png") no-repeat 0px 0px;
}

#u27651:hover #u27651_states
{
	background: url("../images/u27651_states-r.png") no-repeat 0px 0px;
}

#u27624
{
	z-index: 70;
	top: -5px;
	position: relative;
}

#u27624_states
{
	height: 33px;
	width: 133px;
	vertical-align: top;
	background: url("../images/u27624_states.png") no-repeat 0px 0px;
}

#u27624:hover #u27624_states
{
	margin-bottom: -5px;
	background: url("../images/u27624_states-r.png") no-repeat 0px 0px;
}

#u27643
{
	z-index: 72;
	width: 43px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(193,39,45,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 212px;
}

#u28780::before,#u27643::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u27643:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(193,39,45,0.5),0px 0px 8px rgba(193,39,45,0.5);
	width: 43px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u27439
{
	z-index: 68;
	width: 360px;
	height: 4px;
	-pie-box-shadow: 0px 0px 8px 2px #E09396/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(193,39,45,0.5),0px 0px 8px rgba(193,39,45,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	background: -webkit-gradient(linear, left center, right center, from(#862732),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(left,#862732 ,#FFFFFF 100%);
	background: linear-gradient(to right,#862732 ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF862732, endColorstr=#FFFFFFFF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF862732', endColorstr='#FFFFFFFF', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 7px;
	position: relative;
}

#u29079
{
	z-index: 100;
	width: 361px;
	background-color: #FFFFFF;
	padding-bottom: 6px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u29080
{
	z-index: 101;
	width: 263px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(127,127,127,0.5);
	background-color: transparent;
	border-radius: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 52px;
}

#u29080:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(193,39,45,0.5),0px 0px 8px rgba(193,39,45,0.5)/* glow */,
6px 6px 8px rgba(127,127,127,0.5)/* drop shadow*/;
	width: 263px;
	min-height: 0px;
	margin: 10px -10000px 0px 0px;
}

#u29080::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u29080::before .clip_frame,#u29080 .clip_frame
{
	-webkit-border-radius: 8px 8px 8px 8px;
}

#u27431
{
	z-index: 54;
	width: 360px;
	height: 4px;
	-pie-box-shadow: 0px 0px 8px 2px #E09396/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(193,39,45,0.5),0px 0px 8px rgba(193,39,45,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	background: -webkit-gradient(linear, left center, right center, from(#862732),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(left,#862732 ,#FFFFFF 100%);
	background: linear-gradient(to right,#862732 ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF862732, endColorstr=#FFFFFFFF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF862732', endColorstr='#FFFFFFFF', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 9px;
	position: relative;
}

#u27430::before,#u27433::before,#u27439::before,#u27431::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#pu27434-4
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 8px;
}

#u27434-4
{
	z-index: 56;
	width: 55px;
	min-height: 20px;
	-pie-box-shadow: 6px 6px 8px #E09396;
	box-shadow: 6px 6px 8px rgba(193,39,45,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #87272D;
	border-radius: 12px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u27434-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(193,39,45,0.5),0px 0px 8px rgba(193,39,45,0.5)/* glow */,
6px 6px 8px rgba(193,39,45,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 55px;
	margin: 1px -10000px -1px 0px;
}

#u27436-4
{
	z-index: 64;
	width: 57px;
	min-height: 18px;
	-pie-box-shadow: 6px 6px 8px #E09396;
	box-shadow: 6px 6px 8px rgba(193,39,45,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #87272D;
	border-radius: 12px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 84px;
}

#u27436-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(193,39,45,0.5),0px 0px 8px rgba(193,39,45,0.5)/* glow */,
6px 6px 8px rgba(193,39,45,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 57px;
	margin: 1px -10000px 0px 0px;
}

#u29083-4
{
	z-index: 103;
	width: 59px;
	min-height: 18px;
	-pie-box-shadow: 6px 6px 8px #E09396;
	box-shadow: 6px 6px 8px rgba(193,39,45,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #87272D;
	border-radius: 12px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 170px;
}

#u29083-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(193,39,45,0.5),0px 0px 8px rgba(193,39,45,0.5)/* glow */,
6px 6px 8px rgba(193,39,45,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 59px;
	margin: 1px -10000px 0px 0px;
}

#u27435-4
{
	z-index: 60;
	width: 66px;
	min-height: 19px;
	-pie-box-shadow: 6px 6px 8px #E09396;
	box-shadow: 6px 6px 8px rgba(193,39,45,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #87272D;
	border-radius: 12px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 256px;
}

#u27435-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(193,39,45,0.5),0px 0px 8px rgba(193,39,45,0.5)/* glow */,
6px 6px 8px rgba(193,39,45,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u27434-4:hover::before,#u27436-4:hover::before,#u29083-4:hover::before,#u27435-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u27434-4:hover p,#u27436-4:hover p,#u29083-4:hover p,#u27435-4:hover p
{
	color: #86272D;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 360px;
	padding-bottom: 1px;
}

#page .verticalspacer
{
	clear: both;
}

