.version.atlan_sea /* version checker */
{
	color: #0000FA;
	background-color: #3B5788;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 573px;
	background-image: none;
	border-style: none;
	border-color: #001F9D;
	background-color: transparent;
}

#page_position_content
{
	padding-top: 5px;
	width: 0.01px;
}

#u24872-4
{
	z-index: 76;
	display: block;
	vertical-align: top;
	margin-left: 84px;
	position: relative;
}

#u17512
{
	z-index: 10;
	width: 360px;
	height: 6px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	left: -1px;
	margin-top: 7px;
	position: relative;
}

#pu24718
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 6px;
}

#u24718
{
	z-index: 74;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u24718::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#slideshowu17527
{
	z-index: 26;
	width: 0.01px;
	height: 163px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 215px;
}

#u17531
{
	position: absolute;
	width: 375px;
	height: 567px;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	top: -135px;
	left: -231px;
	-pie-background: rgba(68,68,68,0.9);
}

#u17531popup
{
	z-index: 27;
}

#u17539
{
	z-index: 28;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17541
{
	z-index: 30;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17532
{
	z-index: 32;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u34651
{
	z-index: 34;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u34660
{
	z-index: 36;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u34679
{
	z-index: 38;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17539_img,#u17541_img,#u17532_img,#u34651_img,#u34660_img,#u34679_img
{
	padding: 162px 15px 161px 16px;
}

#u17558
{
	position: absolute;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 8px;
}

#u17558popup
{
	z-index: 40;
}

#u17568
{
	z-index: 41;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u17566
{
	z-index: 43;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u17565
{
	z-index: 45;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u34654
{
	z-index: 47;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u34663
{
	z-index: 49;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u34682
{
	z-index: 51;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 70px;
}

#u17568_clip,#u17566_clip,#u17565_clip,#u34654_clip,#u34663_clip,#u34682_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u17568_img,#u17566_img,#u17565_img,#u34654_img,#u34663_img,#u34682_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u17528-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 345px;
	left: -4px;
}

#u17528-4popup
{
	z-index: 53;
}

#u17530-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 345px;
	left: -36px;
}

#u17530-4popup
{
	z-index: 57;
}

#u17528,#u17530
{
	color: #999999;
}

#u17529-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 345px;
	left: 65px;
}

#u17529-4popup
{
	z-index: 61;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu17511
{
	width: 0.01px;
	margin-left: 11px;
	margin-top: -31px;
}

#u17511
{
	z-index: 9;
	width: 189px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u17511::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 2px -3px 4px rgba(255,255,255,0.75), inset -2px 3px 4px rgba(0,0,0,0.75);
}

#u17511_position_content
{
	padding-top: 13px;
	padding-bottom: 20px;
}

#u34689-4
{
	z-index: 81;
	width: 186px;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	position: relative;
}

#u17577-4
{
	z-index: 70;
	width: 186px;
	min-height: 42px;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	margin-left: 2px;
	margin-top: 20px;
	position: relative;
}

#u17576-5
{
	z-index: 65;
	width: 189px;
	background-color: transparent;
	text-align: center;
	left: -1px;
	margin-top: 23px;
	position: relative;
}

#u17576
{
	font-weight: bold;
}

#u17515
{
	z-index: 12;
	width: 159px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 189px;
}

#u17516-4
{
	z-index: 13;
	width: 54px;
	min-height: 20px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(251,176,59,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
	left: 242px;
}

#u17516-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 54px;
	margin: 132px -10000px 0px 0px;
}

#u17518-4
{
	z-index: 17;
	width: 54px;
	min-height: 18px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(251,176,59,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 242px;
}

#u17516-4::before,#u17518-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 4px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u17518-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 54px;
	margin: 96px -10000px 0px 0px;
}

#u17516-4:hover::before,#u17518-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u17521
{
	z-index: 21;
	height: 6px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
}

#u17521-bw
{
	z-index: 21;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 8px;
}

#u32400
{
	z-index: 80;
	width: 360px;
	height: 73px;
	background-color: transparent;
	left: -1px;
	margin-top: 1px;
	position: relative;
}

#U32401_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u17513
{
	z-index: 11;
	height: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
}

#u17512::before,#u17515::before,#u17521::before,#u17513::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u17513-bw
{
	z-index: 11;
	margin-top: 2px;
	height: 7px;
}

#u17522-4
{
	z-index: 22;
	width: 65px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 9px;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #000000;
	font-weight: bold;
	margin-left: 157px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u17522-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 9px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u17522-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 65px;
	margin: 0px 0px -7px 157px;
}

#pu29585-4
{
	width: 0.01px;
	margin-left: 119px;
	margin-top: -4px;
}

#u29585-4
{
	z-index: 5;
	width: 122px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u26402
{
	z-index: 3;
	height: 40px;
	width: 41px;
	margin-bottom: -6px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 120px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

