.version.aubpie_st /* version checker */
{
	color: #0000F0;
	background-color: #D49309;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 552px;
	border-style: none;
	border-color: #001F9D;
	background: transparent url("../images/20150106_151247-page-fr.png") no-repeat center center;
	background-size: contain;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 13px;
	width: 0.01px;
}

#ppu26402
{
	width: 0.01px;
	margin-left: 18px;
}

#u26402
{
	z-index: 3;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 261px;
}

#u16534-4
{
	z-index: 6;
	width: 323px;
	min-height: 43px;
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	color: #1B1464;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
}

#u16534-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset -1px 4px 4px rgba(255,255,255,0.75), inset 1px -4px 4px rgba(0,0,0,0.75);
}

#u16535
{
	z-index: 10;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 20px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u16535-bw
{
	z-index: 10;
	margin-top: 29px;
	height: 11px;
}

#pu16553-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 21px;
}

#u16553-4
{
	z-index: 24;
	width: 161px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 20px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.65);
}

#u16553-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 161px;
	margin: 0px -10000px -1px 0px;
}

#u27664
{
	z-index: 40;
	width: 52px;
	background-color: transparent;
	opacity: 0.78;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=78)";
	filter: alpha(opacity=78);
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 178px;
}

#u27664:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(193,39,45,0.5);
	width: 52px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
}

#u27664_clip
{
	overflow: hidden;
	width: 52px;
	height: 28px;
}

#u27664_img
{
	margin-bottom: -3px;
}

#pu16550-4
{
	width: 0.01px;
	margin-top: 7px;
}

#u16550-4
{
	z-index: 16;
	width: 252px;
	min-height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 20px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.65);
}

#u16550-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 252px;
	margin: 0px -10000px -1px 0px;
}

#u27670
{
	z-index: 47;
	width: 48px;
	background-color: #FFFFFF;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 258px;
}

#u27670:hover
{
	-pie-box-shadow: 6px 6px 8px #827F7F;
	box-shadow: 6px 6px 8px rgba(5,0,0,0.5);
	width: 48px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
}

#u16552-4
{
	z-index: 20;
	width: 222px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 20px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	-pie-background: rgba(41,171,226,0.65);
}

#u16552-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 222px;
	margin: 1px -10000px -1px 0px;
}

#u27668
{
	z-index: 45;
	width: 49px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 232px;
}

#u27668:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	width: 49px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u16549-4
{
	z-index: 12;
	width: 204px;
	min-height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 20px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.65);
}

#u16549-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 204px;
	margin: 0px -10000px -1px 0px;
}

#u27666
{
	z-index: 43;
	height: 29px;
	width: 62px;
	vertical-align: top;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 223px;
	background: url("../images/u27666.png") no-repeat 0px 0px;
}

#u27666:hover
{
	background: url("../images/u27666-r.png") no-repeat 0px 0px;
}

#pu16552-4,#pu16549-4,#pu16554-4
{
	width: 0.01px;
	margin-top: 6px;
}

#u16554-4
{
	z-index: 28;
	width: 161px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 20px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	-pie-background: rgba(41,171,226,0.65);
}

#u16554-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 161px;
	margin: 3px -10000px 0px 0px;
}

#u27683
{
	z-index: 49;
	width: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-radius: 20px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 198px;
}

#u27668::before,#u27683::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 20px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u27683:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	width: 44px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

#u27668::before .clip_frame,#u27668 .clip_frame,#u27683::before .clip_frame,#u27683 .clip_frame
{
	-webkit-border-radius: 19px 19px 19px 19px;
}

#u27683_img
{
	padding-right: 3px;
}

#pu16555-4
{
	width: 0.01px;
	margin-top: 1px;
}

#u16555-4
{
	z-index: 32;
	width: 281px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 20px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	-pie-background: rgba(41,171,226,0.65);
}

#u16553-4::before,#u16550-4::before,#u16552-4::before,#u16549-4::before,#u16554-4::before,#u16555-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 20px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.48750000000000004), inset -3px -3px 4px rgba(0,0,0,0.48750000000000004);
}

#u16555-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 281px;
	margin: 5px -10000px 0px 0px;
}

#u16553-4:hover p,#u16550-4:hover p,#u16552-4:hover p,#u16549-4:hover p,#u16554-4:hover p,#u16555-4:hover p
{
	color: #2E3192;
	visibility: inherit;
}

#u27685
{
	z-index: 51;
	width: 37px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(247,147,30,0.5)/* drop shadow*/;
	background-color: transparent;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u27685:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(5,0,0,0.5)/* drop shadow*/;
	width: 37px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u27664::before,#u27670::before,#u27670:hover::before,#u27685::before,#u27685:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 20px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u27664::before .clip_frame,#u27670::before .clip_frame,#u27670 .clip_frame,#u27670:hover::before .clip_frame,#u27685::before .clip_frame,#u27685 .clip_frame,#u27685:hover::before .clip_frame
{
	-webkit-border-radius: 20px 20px 20px 20px;
}

#u27685_img
{
	padding-top: 1px;
}

#u29146
{
	z-index: 56;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 20px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u29146-bw
{
	z-index: 56;
	margin-top: 68px;
	height: 11px;
}

#u29139
{
	z-index: 53;
	width: 361px;
	background-color: #FFFFFF;
	padding-bottom: 2px;
	margin-top: 2px;
	position: relative;
}

#u29140
{
	z-index: 54;
	width: 277px;
	background-color: transparent;
	border-radius: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 48px;
}

#u29140:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	width: 277px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u29140::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u29140::before .clip_frame,#u29140 .clip_frame
{
	-webkit-border-radius: 8px 8px 8px 8px;
}

#pu29416
{
	width: 0.01px;
	margin-top: 9px;
}

#u29416
{
	z-index: 5;
	width: 360px;
	height: 73px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#U29417_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u16547
{
	z-index: 11;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 20px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u16547-bw
{
	z-index: 11;
	margin-top: 62px;
	height: 11px;
}

#u16556-4
{
	z-index: 36;
	width: 98px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 16px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 141px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u16556-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 16px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u16556-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 98px;
	margin: 0px 0px -1px 141px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

