.version.car_and_spr2 /* version checker */
{
	color: #0000EA;
	background-color: #4CAEBE;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 580px;
	border-style: none;
	border-color: #001F9D;
	background: transparent url("../images/atl%20street%20car%205png.jpg") no-repeat center top;
	background-size: cover;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 8px;
	width: 0.01px;
}

#pu19237
{
	width: 0.01px;
	margin-left: 95px;
}

#u19237
{
	z-index: 5;
	width: 186px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
}

#u26402
{
	z-index: 3;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 184px;
}

#u19239
{
	z-index: 7;
	width: 357px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-left: 2px;
	margin-top: 2px;
	position: relative;
}

#paccordionu19240
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 1px;
}

#accordionu19240
{
	z-index: 8;
	width: 361px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	opacity: 0.79;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=79)";
	filter: alpha(opacity=79);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u19247
{
	z-index: 9;
	width: 361px;
	background-color: transparent;
	position: relative;
}

#u19248-3
{
	z-index: 10;
	width: 349px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u19248-3:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 349px;
	margin: 0px;
}

#u19248-3:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 349px;
	margin: 0px;
}

#u19248-3.AccordionPanelTabOpen
{
	background-color: #9DE4FF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 349px;
	margin: 0px;
}

#u19249
{
	z-index: 13;
	width: 359px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u19250-4
{
	z-index: 14;
	width: 340px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u19241
{
	z-index: 18;
	width: 361px;
	background-color: transparent;
	position: relative;
}

#u19242-9
{
	z-index: 19;
	width: 349px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u19242-9:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 349px;
	margin: 0px;
}

#u19242-9:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 349px;
	margin: 0px;
}

#u19242-3,#u19242-6
{
	line-height: 14px;
}

#u19243
{
	z-index: 28;
	width: 359px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 18px;
	position: relative;
}

#u19246-8
{
	z-index: 29;
	width: 340px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u19244
{
	z-index: 37;
	width: 84px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(5,0,0,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 256px;
}

#u19244:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(140,198,63,0.5),0px 0px 8px rgba(140,198,63,0.5)/* glow */,
6px 6px 8px rgba(255,255,0,0.5)/* drop shadow*/;
	width: 84px;
	min-height: 0px;
	margin: 58px -10000px 0px 0px;
}

#u19244_clip
{
	overflow: hidden;
	width: 84px;
	height: 53px;
}

#u19257
{
	z-index: 39;
	width: 361px;
	background-color: transparent;
	position: relative;
}

#u19258-9
{
	z-index: 40;
	width: 349px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u19258-9:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 349px;
	margin: 0px;
}

#u19258-9:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 349px;
	margin: 0px;
}

#u19242-9.AccordionPanelTabOpen,#u19258-9.AccordionPanelTabOpen
{
	background-color: #9DE4FF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 349px;
	margin: 0px;
}

#u19259
{
	z-index: 49;
	width: 359px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 2px;
	position: relative;
}

#u19260-12
{
	z-index: 50;
	width: 340px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u19260
{
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u19260-2
{
	color: #000000;
}

#u19260-5
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u19260-8
{
	color: #0000FF;
}

#u19261
{
	z-index: 62;
	width: 104px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 249px;
}

#u19251
{
	z-index: 64;
	width: 361px;
	background-color: transparent;
	position: relative;
}

#u19252-7
{
	z-index: 65;
	width: 349px;
	min-height: 26px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u19252-7:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 26px;
	width: 349px;
	margin: 0px;
}

#u19252-7:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 26px;
	width: 349px;
	margin: 0px;
}

#u19252-7.AccordionPanelTabOpen
{
	background-color: #9DE4FF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 26px;
	width: 349px;
	margin: 0px;
}

#u19248-3.AccordionPanelTabOpen p,#u19242-9.AccordionPanelTabOpen p,#u19242-9.AccordionPanelTabOpen span,#u19258-9.AccordionPanelTabOpen p,#u19258-9.AccordionPanelTabOpen span,#u19252-7.AccordionPanelTabOpen p,#u19252-7.AccordionPanelTabOpen span
{
	color: #000000;
	visibility: inherit;
}

#u19242-7,#u19258-7,#u19252-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u19242,#u19242-4,#u19258,#u19258-3,#u19258-5,#u19252,#u19252-3
{
	font-size: 24px;
	line-height: 24px;
}

#u19242-2,#u19242-5,#u19258-2,#u19258-4,#u19258-6,#u19252-2,#u19252-4
{
	font-size: 14px;
	line-height: 14px;
}

#u19253
{
	z-index: 72;
	width: 359px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	position: relative;
}

#u19256-8
{
	z-index: 73;
	width: 321px;
	min-height: 101px;
	background-color: transparent;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 11px;
}

#u19254
{
	z-index: 81;
	width: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 248px;
}

#u19244::before,#u19254::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u19254:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(193,39,45,0.5);
	width: 84px;
	min-height: 0px;
	margin: 58px -10000px 0px 0px;
}

#u19254_clip
{
	overflow: hidden;
	width: 84px;
	height: 69px;
}

#u19254_img
{
	margin-right: -3px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u19263-4
{
	z-index: 83;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 66px;
}

#u19264
{
	z-index: 87;
	height: 6px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-size: 100% auto;
}

#u19264-bw
{
	z-index: 87;
	margin-top: 305px;
	height: 8px;
}

#u29426
{
	z-index: 96;
	width: 360px;
	height: 73px;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#U29427_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u29428
{
	z-index: 97;
	height: 6px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-size: 100% auto;
}

#u29428-bw
{
	z-index: 97;
	height: 8px;
}

#pu19271-4
{
	width: 0.01px;
	margin-left: 37px;
	margin-top: 5px;
}

#u19271-4
{
	z-index: 88;
	width: 65px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	border-radius: 11px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u19271-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 65px;
	margin: 0px -10000px -1px 0px;
}

#u19272-4
{
	z-index: 92;
	width: 72px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	border-radius: 11px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 220px;
}

#u19271-4::before,#u19272-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 11px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u19272-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 72px;
	margin: 0px -10000px -1px 0px;
}

#u19271-4:hover p,#u19272-4:hover p
{
	color: #0071BC;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

