.version.carn_st /* version checker */
{
	color: #0000FE;
	background-color: #223A7D;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 551.8523682047675px;
	background-image: none;
	border-style: none;
	border-color: #001F9D;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 44px;
	width: 0.01px;
}

#ppu26402
{
	width: 0.01px;
	margin-left: 18px;
}

#u26402
{
	z-index: 3;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 261px;
}

#u18073-4
{
	z-index: 6;
	width: 323px;
	min-height: 43px;
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	color: #1B1464;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
}

#u18073-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset -1px 4px 4px rgba(255,255,255,0.75), inset 1px -4px 4px rgba(0,0,0,0.75);
}

#u18074
{
	z-index: 10;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background: transparent url("../images/images0tehniy7.jpg") no-repeat center center;
	background-size: cover;
}

#u18074-bw
{
	z-index: 10;
	margin-top: 29px;
	height: 11px;
}

#pu18076-4
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 29px;
}

#u18076-4
{
	z-index: 12;
	width: 106px;
	min-height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 10px;
	color: #000000;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.65);
}

#u18076-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 106px;
	margin: 0px -10000px -1px 0px;
}

#u27703
{
	z-index: 45;
	height: 38px;
	width: 104px;
	vertical-align: top;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: 115px;
	background: url("../images/u27703.png") no-repeat 6px 6px;
}

#u27703:hover
{
	background: url("../images/u27703-r.png") no-repeat 0px 0px;
}

#u18077-4
{
	z-index: 16;
	width: 136px;
	min-height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 10px;
	color: #000000;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.65);
}

#u18077-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 136px;
	margin: 0px -10000px -1px 0px;
}

#u27701
{
	z-index: 42;
	width: 73px;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 149px;
}

#u27701:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(127,127,127,0.5),0px 0px 8px rgba(127,127,127,0.5);
	width: 73px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#pu18078-4
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 9px;
}

#u18078-4
{
	z-index: 20;
	width: 182px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 10px;
	color: #000000;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.65);
}

#u18078-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 182px;
	margin: 0px -10000px -1px 0px;
}

#u27699
{
	z-index: 40;
	width: 53px;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 197px;
}

#u27699:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(117,76,36,0.5),0px 0px 8px rgba(117,76,36,0.5)/* glow */,
6px 6px 8px rgba(140,98,57,0.5)/* drop shadow*/;
	width: 53px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u18079-4
{
	z-index: 24;
	width: 186px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 10px;
	color: #000000;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 4px;
	margin-top: 9px;
	position: relative;
	-pie-background: rgba(41,171,226,0.65);
}

#u18079-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 186px;
	margin: 9px 0px 0px 4px;
}

#pu18077-4,#pu18080-4
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 8px;
}

#u18080-4
{
	z-index: 28;
	width: 156px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 10px;
	color: #000000;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	-pie-background: rgba(41,171,226,0.65);
}

#u18080-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 156px;
	margin: 3px -10000px 0px 0px;
}

#u27725
{
	z-index: 49;
	width: 46px;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 176px;
}

#u27725:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(193,39,45,0.5);
	width: 46px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u27725_clip
{
	overflow: hidden;
	width: 46px;
	height: 38px;
}

#u27725_img
{
	margin-right: -2px;
}

#pu18081-4
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 6px;
}

#u18081-4
{
	z-index: 32;
	width: 171px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 10px;
	color: #000000;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.65);
}

#u18076-4::before,#u18077-4::before,#u18078-4::before,#u18079-4::before,#u18080-4::before,#u18081-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.48750000000000004), inset -3px -3px 4px rgba(0,0,0,0.48750000000000004);
}

#u18081-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 171px;
	margin: 0px -10000px 0px 0px;
}

#u18076-4:hover p,#u18077-4:hover p,#u18078-4:hover p,#u18079-4:hover p,#u18080-4:hover p,#u18081-4:hover p
{
	color: #2E3192;
	visibility: inherit;
}

#u27721
{
	z-index: 47;
	width: 47px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(5,0,0,0.5);
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 187px;
}

#u27701::before,#u27699::before,#u27725::before,#u27721::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u27721:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(140,198,63,0.5),0px 0px 8px rgba(140,198,63,0.5)/* glow */,
6px 6px 8px rgba(255,255,0,0.5)/* drop shadow*/;
	width: 47px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u27701::before .clip_frame,#u27701 .clip_frame,#u27699::before .clip_frame,#u27699 .clip_frame,#u27725::before .clip_frame,#u27725 .clip_frame,#u27721::before .clip_frame,#u27721 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

#u29145
{
	z-index: 54;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background: transparent url("../images/images0tehniy7.jpg") no-repeat center center;
	background-size: cover;
}

#u29145-bw
{
	z-index: 54;
	margin-top: 8px;
	height: 11px;
}

#u29332
{
	z-index: 5;
	width: 360px;
	height: 73px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#U29333_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u29135
{
	z-index: 51;
	width: 306px;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	margin-left: 38px;
	margin-top: 4px;
	position: relative;
}

#u29136
{
	z-index: 52;
	width: 263px;
	background-color: transparent;
	border-radius: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 16px;
}

#u29136::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u29136:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	width: 263px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u29136::before .clip_frame,#u29136 .clip_frame
{
	-webkit-border-radius: 8px 8px 8px 8px;
}

#u18075
{
	z-index: 11;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background: transparent url("../images/images0tehniy7.jpg") no-repeat center center;
	background-size: cover;
}

#u18075-bw
{
	z-index: 11;
	margin-top: 2px;
	height: 11px;
}

#u18082-4
{
	z-index: 36;
	width: 98px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 15px;
	color: #000000;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 141px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u18082-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 15px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u18082-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,255,0,0.5),0px 0px 8px rgba(0,255,0,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 98px;
	margin: 0px 0px -1px 141px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

