.version.ccpg /* version checker */
{
	color: #0000F1;
	background-color: #866483;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 573px;
	background: #D4145A url("../images/u9438-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(74%, #FFFFFF),to(#D4145A));
	background: -webkit-linear-gradient(top,#FFFFFF 74%,#D4145A );
	background: linear-gradient(to bottom,#FFFFFF 74%,#D4145A );
	border-style: none;
	border-color: #001F9D;
}

#page_position_content
{
	padding-top: 6px;
	width: 0.01px;
}

#u9578
{
	z-index: 88;
	display: block;
	vertical-align: top;
	margin-left: 102px;
	position: relative;
}

#u9489
{
	z-index: 10;
	width: 360px;
	height: 5px;
	background: -webkit-gradient(linear, left center, right center, from(#FFFFFF),color-stop(100%, #FF00FF));
	background: -webkit-linear-gradient(left,#FFFFFF ,#FF00FF 100%);
	background: linear-gradient(to right,#FFFFFF ,#FF00FF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFFF00FF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFF00FF', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 4px;
	position: relative;
}

#pu9630
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 4px;
}

#u9630
{
	z-index: 85;
	width: 207px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u9630::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#slideshowu9504
{
	z-index: 46;
	width: 0.01px;
	height: 160px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 213px;
}

#u9534
{
	position: absolute;
	width: 375px;
	height: 573px;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	top: -120px;
	left: -231px;
	-pie-background: rgba(68,68,68,0.9);
}

#u9534popup
{
	z-index: 47;
}

#u9535
{
	z-index: 48;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u9535_img
{
	padding: 119px 90px 118px 91px;
}

#u9543
{
	z-index: 50;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u9547
{
	z-index: 52;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u9545
{
	z-index: 54;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u9549
{
	z-index: 56;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u9539
{
	z-index: 58;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u9543_img,#u9547_img,#u9545_img,#u9549_img,#u9539_img
{
	padding: 154px 90px 154px 91px;
}

#u9514
{
	position: absolute;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
}

#u9514popup
{
	z-index: 60;
}

#u9519
{
	z-index: 61;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u9527
{
	z-index: 63;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u9517
{
	z-index: 65;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u9515
{
	z-index: 67;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u9529
{
	z-index: 69;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u9523
{
	z-index: 71;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 70px;
}

#u9531-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: -4px;
}

#u9531-4popup
{
	z-index: 73;
}

#u9552-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: -36px;
}

#u9552-4popup
{
	z-index: 77;
}

#u9531,#u9552
{
	color: #999999;
}

#u9553-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 65px;
}

#u9553-4popup
{
	z-index: 81;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu9488
{
	width: 0.01px;
	margin-left: 11px;
	margin-top: -13px;
}

#u9488
{
	z-index: 9;
	width: 205px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u9488::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 2px -3px 4px rgba(255,255,255,0.75), inset -2px 3px 4px rgba(0,0,0,0.75);
}

#u9491-16
{
	z-index: 12;
	width: 207px;
	min-height: 141px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -2px;
}

#u9491,#u9491-3,#u9491-4,#u9491-10
{
	font-weight: bold;
}

#u9492
{
	z-index: 28;
	width: 142px;
	height: 5px;
	background: -webkit-gradient(linear, left center, right center, from(#FFFFFF),color-stop(100%, #FF00FF));
	background: -webkit-linear-gradient(left,#FFFFFF ,#FF00FF 100%);
	background: linear-gradient(to right,#FFFFFF ,#FF00FF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFFF00FF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFF00FF', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 206px;
}

#u9493-4
{
	z-index: 29;
	width: 54px;
	min-height: 20px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(226,30,121,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #E21E79;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 249px;
}

#u9493-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 54px;
	margin: 91px -10000px 0px 0px;
}

#u9494-4
{
	z-index: 33;
	width: 54px;
	min-height: 19px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(226,30,121,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #E21E79;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
	left: 249px;
}

#u9494-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 129px -10000px 0px 0px;
}

#u9495-4
{
	z-index: 37;
	width: 54px;
	min-height: 18px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(226,30,121,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #E21E79;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 249px;
}

#u9493-4::before,#u9494-4::before,#u9495-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 4px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u9495-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 54px;
	margin: 56px -10000px 0px 0px;
}

#u9493-4:hover::before,#u9494-4:hover::before,#u9495-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u9498
{
	z-index: 41;
	height: 5px;
	background: -webkit-gradient(linear, left center, right center, from(#FFFFFF),color-stop(100%, #FF00FF));
	background: -webkit-linear-gradient(left,#FFFFFF ,#FF00FF 100%);
	background: linear-gradient(to right,#FFFFFF ,#FF00FF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFFF00FF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFF00FF', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-size: 100% auto;
}

#u9498-bw
{
	z-index: 41;
	margin-top: 7px;
	height: 7px;
}

#u32185
{
	z-index: 87;
	width: 360px;
	height: 73px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#U32186_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u9490
{
	z-index: 11;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#FFFFFF),color-stop(100%, #FF00FF));
	background: -webkit-linear-gradient(left,#FFFFFF ,#FF00FF 100%);
	background: linear-gradient(to right,#FFFFFF ,#FF00FF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFFF00FF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFF00FF', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 2px;
	position: relative;
}

#u9489::before,#u9492::before,#u9498::before,#u9490::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u9499-4
{
	z-index: 42;
	width: 65px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 9px;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
	margin-left: 151px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u9499-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 65px;
	margin: 0px 0px -7px 151px;
}

#pu29585-4
{
	width: 0.01px;
	margin-left: 119px;
	margin-top: 3px;
}

#u29585-4
{
	z-index: 5;
	width: 122px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u26402
{
	z-index: 3;
	height: 40px;
	width: 41px;
	margin-bottom: -6px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 120px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

