.version.cen3 /* version checker */
{
	color: #00000F;
	background-color: #E8B05B;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 552px;
	border-style: none;
	border-color: #001F9D;
	background: transparent url("../images/atl%20street%20car%205png.jpg") no-repeat center bottom;
	background-size: cover;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 10px;
	width: 0.01px;
}

#pu25946
{
	width: 0.01px;
	margin-left: 93px;
}

#u25946
{
	z-index: 5;
	width: 192px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
}

#u26402
{
	z-index: 3;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 186px;
}

#u25940
{
	z-index: 84;
	width: 359px;
	height: 5px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
}

#paccordionu25909
{
	width: 0.01px;
	margin-top: -2px;
}

#accordionu25909
{
	z-index: 8;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	opacity: 0.79;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=79)";
	filter: alpha(opacity=79);
}

#u25928
{
	z-index: 9;
	background-color: transparent;
}

#u25929-3
{
	z-index: 10;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u25929-3:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u25929-3:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u25929-3.AccordionPanelTabOpen
{
	background-color: #9DE4FF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u25930
{
	z-index: 13;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u25933-4
{
	z-index: 14;
	width: 340px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u25931
{
	z-index: 18;
	width: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 272px;
}

#u25916
{
	z-index: 20;
	background-color: transparent;
}

#u25921-7
{
	z-index: 21;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u25921-7:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	margin: 0px;
}

#u25921-7:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	margin: 0px;
}

#u25917
{
	z-index: 28;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u25918-12
{
	z-index: 29;
	width: 327px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u25918
{
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u25919
{
	z-index: 42;
	height: 87px;
	width: 91px;
	vertical-align: top;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 240px;
	background: url("../images/u25919.png") no-repeat 6px 6px;
}

#u25919:hover
{
	background: url("../images/u25919-r.png") no-repeat 0px 0px;
}

#u25910
{
	z-index: 44;
	background-color: transparent;
}

#u25911-7
{
	z-index: 45;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u25911-7:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	margin: 0px;
}

#u25911-7:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	margin: 0px;
}

#u25912
{
	z-index: 52;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u25915-10
{
	z-index: 53;
	width: 337px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u25915-2,#u25915-4
{
	text-align: left;
	color: #000000;
}

#u25915-7
{
	text-align: left;
	color: #0008E0;
}

#u25915-8
{
	text-align: center;
	color: #000000;
}

#u25913
{
	z-index: 63;
	width: 117px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 209px;
}

#u25913::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u25913:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	width: 117px;
	min-height: 0px;
	margin: 58px -10000px 0px 0px;
}

#u25913_clip
{
	overflow: hidden;
	width: 117px;
	height: 65px;
}

#u25922
{
	z-index: 65;
	background-color: transparent;
}

#u25923-5
{
	z-index: 66;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u25923-5:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	margin: 0px;
}

#u25923-5:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	margin: 0px;
}

#u25921-7.AccordionPanelTabOpen,#u25911-7.AccordionPanelTabOpen,#u25923-5.AccordionPanelTabOpen
{
	background-color: #9DE4FF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	margin: 0px;
}

#u25929-3.AccordionPanelTabOpen p,#u25921-7.AccordionPanelTabOpen p,#u25921-7.AccordionPanelTabOpen span,#u25911-7.AccordionPanelTabOpen p,#u25911-7.AccordionPanelTabOpen span,#u25923-5.AccordionPanelTabOpen p,#u25923-5.AccordionPanelTabOpen span
{
	color: #000000;
	visibility: inherit;
}

#u25921-5,#u25911-5,#u25923-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u25921,#u25921-3,#u25911,#u25911-3,#u25923
{
	font-size: 24px;
	line-height: 24px;
}

#u25921-2,#u25921-4,#u25911-2,#u25911-4,#u25923-2
{
	font-size: 14px;
	line-height: 14px;
}

#u25924
{
	z-index: 71;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 3px;
}

#u25927-6
{
	z-index: 72;
	width: 321px;
	min-height: 101px;
	background-color: transparent;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 13px;
}

#u25918-4,#u25918-6,#u25918-8,#u25915-5,#u25927-2
{
	font-weight: bold;
}

#u25925
{
	z-index: 78;
	width: 73px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 243px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#accordionu25909-bw
{
	z-index: 8;
	margin-bottom: -1px;
}

#u25941-4
{
	z-index: 80;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 67px;
}

#u25934
{
	z-index: 7;
	width: 360px;
	height: 5px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 1px;
	position: relative;
}

#u29350
{
	z-index: 93;
	width: 360px;
	height: 73px;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#U29352_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u29355
{
	z-index: 94;
	width: 360px;
	height: 5px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
}

#pu25945-4
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 3px;
}

#u25945-4
{
	z-index: 85;
	width: 65px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	border-radius: 10px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-weight: bold;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u25945-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 65px;
	margin: 0px -10000px -1px 0px;
}

#u25944-4
{
	z-index: 89;
	width: 72px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	border-radius: 10px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-weight: bold;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 228px;
}

#u25945-4::before,#u25944-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u25944-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 72px;
	margin: 0px -10000px -1px 0px;
}

#u25945-4:hover p,#u25944-4:hover p
{
	color: #0071BC;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

