.version.cenpark_st /* version checker */
{
	color: #0000F2;
	background-color: #DACBEA;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 552px;
	border-style: none;
	border-color: #001F9D;
	background: transparent url("../images/centen%20img-page-fr.png") no-repeat right center;
	background-size: contain;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 11px;
	width: 0.01px;
}

#ppu26402
{
	width: 0.01px;
	margin-left: 13px;
}

#u26402
{
	z-index: 3;
	height: 94px;
	width: 85px;
	margin-bottom: -4px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 266px;
}

#u18123-4
{
	z-index: 5;
	width: 323px;
	min-height: 43px;
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	color: #1B1464;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
}

#u18123-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset -1px 4px 4px rgba(255,255,255,0.75), inset 1px -4px 4px rgba(0,0,0,0.75);
}

#u18124
{
	z-index: 9;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 14px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u18124-bw
{
	z-index: 9;
	margin-top: 18px;
	height: 11px;
}

#pu18137-4
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 25px;
}

#u18137-4
{
	z-index: 47;
	width: 86px;
	min-height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 14px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	-pie-background: rgba(41,171,226,0.65);
}

#u18137-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 86px;
	margin: 1px -10000px 0px 0px;
}

#u27745
{
	z-index: 55;
	width: 40px;
	background-color: transparent;
	border-radius: 14px;
	position: relative;
	margin-right: -10000px;
	left: 115px;
}

#u27745:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.5)/* drop shadow*/;
	width: 40px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu18126-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 2px;
}

#u18126-4
{
	z-index: 11;
	width: 50px;
	min-height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 14px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	-pie-background: rgba(41,171,226,0.65);
}

#u18126-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 50px;
	margin: 1px -10000px -1px 0px;
}

#u27741
{
	z-index: 51;
	width: 42px;
	background-color: transparent;
	border-radius: 14px;
	position: relative;
	margin-right: -10000px;
	left: 66px;
}

#u27741:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(5,0,0,0.5);
	width: 42px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pppu18127-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 6px;
}

#ppu18127-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#pu18127-4
{
	width: 0.01px;
}

#u18127-4
{
	z-index: 15;
	width: 130px;
	min-height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 14px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.65);
}

#u18127-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 130px;
	margin: 0px -10000px -1px 0px;
}

#u27743
{
	z-index: 53;
	width: 68px;
	background-color: transparent;
	border-radius: 14px;
	position: relative;
	margin-right: -10000px;
	left: 147px;
}

#u27743:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(251,176,59,0.5);
	width: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u18128-4
{
	z-index: 19;
	width: 256px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 14px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 7px;
	position: relative;
	-pie-background: rgba(41,171,226,0.65);
}

#u18128-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 256px;
	margin: 7px 0px 0px;
}

#u27760
{
	z-index: 58;
	height: 37px;
	width: 95px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 263px;
	background: url("../images/u27760.png") no-repeat 0px 0px;
}

#u27760:hover
{
	background: url("../images/u27760-r.png") no-repeat 0px 0px;
}

#u18134-4
{
	z-index: 39;
	width: 134px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 14px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.65);
}

#u18134-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 134px;
	margin: 0px -10000px -1px 0px;
}

#u27762
{
	z-index: 60;
	width: 50px;
	background-color: transparent;
	border-radius: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 146px;
}

#u27762:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,255,255,0.5),0px 0px 8px rgba(0,255,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.5)/* drop shadow*/;
	width: 50px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
}

#u27762_clip
{
	overflow: hidden;
	width: 50px;
	height: 27px;
}

#u27762_img
{
	margin-bottom: -1px;
}

#pu18134-4,#pu18133-4
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 7px;
}

#u18133-4
{
	z-index: 35;
	width: 213px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 14px;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.65);
}

#u18133-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 213px;
	margin: 0px -10000px -1px 0px;
}

#u27764
{
	z-index: 63;
	height: 32px;
	width: 63px;
	vertical-align: top;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 227px;
	background: url("../images/u27764.png") no-repeat 0px 0px;
}

#u27764:hover
{
	background: url("../images/u27764-r.png") no-repeat 0px 0px;
}

#pu18132-4
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 4px;
}

#u18132-4
{
	z-index: 31;
	width: 120px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 14px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	-pie-background: rgba(41,171,226,0.65);
}

#u18132-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 120px;
	margin: 3px -10000px 0px 0px;
}

#u27776
{
	z-index: 66;
	height: 50px;
	width: 52px;
	vertical-align: top;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: 132px;
	background: url("../images/u27776.png") no-repeat 6px 6px;
}

#u27776:hover
{
	background: url("../images/u27776-r.png") no-repeat 0px 0px;
}

#u18135-4
{
	z-index: 43;
	width: 214px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 14px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 1px;
	margin-top: 1px;
	position: relative;
	-pie-background: rgba(41,171,226,0.65);
}

#u18135-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 214px;
	margin: 1px 0px 0px 1px;
}

#pu18130-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 4px;
}

#u18130-4
{
	z-index: 23;
	width: 143px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 14px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.65);
}

#u18137-4::before,#u18126-4::before,#u18127-4::before,#u18128-4::before,#u18134-4::before,#u18133-4::before,#u18132-4::before,#u18135-4::before,#u18130-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 14px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.48750000000000004), inset -3px -3px 4px rgba(0,0,0,0.48750000000000004);
}

#u18130-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 143px;
	margin: 0px -10000px -1px 0px;
}

#u27778
{
	z-index: 68;
	width: 51px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	border-radius: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 160px;
}

#u27745::before,#u27741::before,#u27743::before,#u27762::before,#u27762:hover::before,#u27778::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 14px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u27778:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	width: 51px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
}

#u27745::before .clip_frame,#u27745 .clip_frame,#u27741::before .clip_frame,#u27741 .clip_frame,#u27743::before .clip_frame,#u27743 .clip_frame,#u27762::before .clip_frame,#u27762 .clip_frame,#u27762:hover::before .clip_frame,#u27778::before .clip_frame,#u27778 .clip_frame
{
	-webkit-border-radius: 14px 14px 14px 14px;
}

#u29160
{
	z-index: 70;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 13px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u29160-bw
{
	z-index: 70;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 11px;
}

#u29345
{
	z-index: 71;
	width: 360px;
	height: 73px;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#U29413_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u18125
{
	z-index: 10;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 13px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u18125-bw
{
	z-index: 10;
	margin-top: -2px;
	margin-bottom: -2px;
	height: 11px;
}

#u18131-4
{
	z-index: 27;
	width: 98px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 12px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 125px;
	margin-top: 2px;
	position: relative;
}

#u18131-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 12px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u18131-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 98px;
	margin: 2px 0px 0px 125px;
}

#u18137-4:hover p,#u18126-4:hover p,#u18127-4:hover p,#u18128-4:hover p,#u18134-4:hover p,#u18133-4:hover p,#u18132-4:hover p,#u18135-4:hover p,#u18130-4:hover p,#u18131-4:hover p
{
	color: #2E3192;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

