.version.colleg /* version checker */
{
	color: #0000FF;
	background-color: #2B1AB8;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 572.5232649816683px;
	background-image: none;
	border-style: none;
	border-color: #001F9D;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-top: 9px;
	width: 0.01px;
}

#u34288
{
	z-index: 87;
	margin-left: 59px;
	position: relative;
}

#u34288_img
{
	display: block;
	vertical-align: top;
}

#u20047
{
	z-index: 45;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #FCEE21));
	background: -webkit-linear-gradient(left,#0000FF ,#FCEE21 100%);
	background: linear-gradient(to right,#0000FF ,#FCEE21 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FFFCEE21, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FFFCEE21', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 5px;
	position: relative;
}

#pu20121
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 10px;
}

#u20121
{
	z-index: 84;
	width: 206px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u20121::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#slideshowu20010
{
	z-index: 10;
	width: 0.01px;
	height: 160px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 227px;
}

#u20011
{
	position: absolute;
	width: 382px;
	height: 554px;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	top: -139px;
	left: -36px;
	-pie-background: rgba(68,68,68,0.9);
}

#u20011popup
{
	z-index: 11;
}

#u20017
{
	z-index: 12;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u20013
{
	z-index: 14;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u20015
{
	z-index: 16;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u20019
{
	z-index: 18;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u20019_img
{
	padding-top: 42px;
	padding-bottom: 41px;
}

#u20012
{
	z-index: 20;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u20024
{
	position: absolute;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
}

#u20024popup
{
	z-index: 22;
}

#u20027
{
	z-index: 23;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u20025
{
	z-index: 25;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u20029
{
	z-index: 27;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u20027_img,#u20025_img,#u20029_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u20034
{
	z-index: 29;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u20027_clip,#u20025_clip,#u20029_clip,#u20034_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u20034_img
{
	margin-left: -4px;
	margin-right: -3px;
}

#u20031
{
	z-index: 31;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u20022-4
{
	position: absolute;
	width: 48px;
	min-height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 307px;
	left: 238px;
}

#u20022-4popup
{
	z-index: 33;
}

#u20046-4
{
	position: absolute;
	width: 10px;
	min-height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 307px;
	left: 206px;
}

#u20046-4popup
{
	z-index: 37;
}

#u20022,#u20046
{
	color: #999999;
}

#u20045-4
{
	position: absolute;
	width: 10px;
	min-height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 307px;
	left: 309px;
}

#u20045-4popup
{
	z-index: 41;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu20009
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: -13px;
}

#u20009
{
	z-index: 9;
	width: 205px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u20009::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 2px -3px 4px rgba(255,255,255,0.75), inset -2px 3px 4px rgba(0,0,0,0.75);
}

#u20049-19
{
	z-index: 47;
	width: 189px;
	min-height: 145px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 8px;
}

#u20049-2,#u20049-4,#u20049-16
{
	font-weight: bold;
}

#u20050
{
	z-index: 66;
	width: 147px;
	height: 6px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #FCEE21));
	background: -webkit-linear-gradient(left,#0000FF ,#FCEE21 100%);
	background: linear-gradient(to right,#0000FF ,#FCEE21 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FFFCEE21, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FFFCEE21', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 206px;
}

#u20051-4
{
	z-index: 67;
	width: 54px;
	min-height: 20px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	color: #0000FF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 253px;
}

#u20051-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 54px;
	margin: 90px -10000px 0px 0px;
}

#u20052-4
{
	z-index: 71;
	width: 54px;
	min-height: 19px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	color: #0000FF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 133px;
	left: 253px;
}

#u20052-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 133px -10000px 0px 0px;
}

#u20053-4
{
	z-index: 75;
	width: 54px;
	min-height: 18px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	color: #0000FF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 253px;
}

#u20051-4::before,#u20052-4::before,#u20053-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 4px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u20053-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 54px;
	margin: 49px -10000px 0px 0px;
}

#u20051-4:hover::before,#u20052-4:hover::before,#u20053-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u20056
{
	z-index: 79;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #FCEE21));
	background: -webkit-linear-gradient(left,#0000FF ,#FCEE21 100%);
	background: linear-gradient(to right,#0000FF ,#FCEE21 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FFFCEE21, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FFFCEE21', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -2px;
	margin-top: 2px;
	position: relative;
}

#u31909
{
	z-index: 86;
	width: 360px;
	height: 73px;
	background-color: transparent;
	left: -1px;
	margin-top: 1px;
	position: relative;
}

#U32876_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u20048
{
	z-index: 46;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #FCEE21));
	background: -webkit-linear-gradient(left,#0000FF ,#FCEE21 100%);
	background: linear-gradient(to right,#0000FF ,#FCEE21 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FFFCEE21, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FFFCEE21', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -2px;
	margin-top: 2px;
	position: relative;
}

#u20047::before,#u20050::before,#u20056::before,#u20048::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u20057-4
{
	z-index: 80;
	width: 65px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 9px;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #0000FF;
	font-weight: bold;
	margin-left: 155px;
	top: -16px;
	margin-bottom: -16px;
	position: relative;
}

#u20057-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 9px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u20057-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 65px;
	margin: 0px 0px -16px 155px;
}

#pu29585-4
{
	width: 0.01px;
	margin-left: 119px;
	margin-top: 3px;
}

#u29585-4
{
	z-index: 5;
	width: 122px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u26402
{
	z-index: 3;
	height: 40px;
	width: 41px;
	margin-bottom: -6px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 120px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

