.version.corner_tav_map /* version checker */
{
	color: #0000E8;
	background-color: #6D4DB3;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 573px;
	background-image: none;
	border-style: none;
	border-color: #001F9D;
	background-color: transparent;
}

#u29585-4
{
	z-index: 5;
	width: 122px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 555px;
	left: 119px;
}

#u26402
{
	z-index: 3;
	height: 40px;
	width: 41px;
	margin-bottom: -6px;
	margin-right: -10000px;
	margin-top: 539px;
	left: 239px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -538px;
}

