.version.dobbs_plaza /* version checker */
{
	color: #000003;
	background-color: #6005C4;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/atl%20street%20car%204.jpg") no-repeat center center scroll;
	background-size: contain;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 566.7783512788885px;
	border-style: none;
	border-color: #0050EC;
	padding-bottom: 0px;
	background: transparent url("../images/atl%20street%20car%205png.jpg") no-repeat center bottom;
	background-size: cover;
}

#u615
{
	z-index: 2;
	width: 154px;
	background-color: transparent;
	margin-left: 117px;
	position: relative;
}

#page_position_content,#pu33333-4
{
	width: 0.01px;
}

#u33333-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: 119px;
}

#u1179
{
	z-index: 15;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-size: 100% auto;
}

#u1179-bw
{
	z-index: 15;
	margin-top: 18px;
	height: 6px;
}

#accordionu1180
{
	z-index: 16;
	border-color: #7F7F7F;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}

#u1197
{
	z-index: 17;
	background-color: transparent;
}

#u1202-11
{
	z-index: 18;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1202-11:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	margin: 0px;
}

#u1202-11:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	margin: 0px;
}

#u1198
{
	z-index: 29;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 3px;
}

#u30999-14
{
	z-index: 30;
	width: 340px;
	min-height: 33px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 4px;
}

#u1717
{
	z-index: 44;
	position: relative;
	width: 139px;
	margin-right: -10000px;
	margin-top: 63px;
	left: 219px;
}

#u1717_img
{
	display: block;
	vertical-align: top;
}

#u1181
{
	z-index: 46;
	background-color: transparent;
}

#u1186-8
{
	z-index: 47;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1186-8:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	margin: 0px;
}

#u1186-8:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	margin: 0px;
}

#u1182
{
	z-index: 55;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 1px;
}

#u1183-11
{
	z-index: 56;
	width: 340px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u1183,#u1183-3,#u1183-5,#u1183-7
{
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u31759
{
	z-index: 67;
	width: 86px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 265px;
}

#u1193
{
	z-index: 69;
	background-color: transparent;
}

#u1193_position_content
{
	width: 100%;
}

#u1194-7
{
	z-index: 70;
	min-height: 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1194-7:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 23px;
	margin: 0px;
}

#u1194-7:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 23px;
	margin: 0px;
}

#u1194-7.AccordionPanelTabOpen
{
	border-style: none;
	background-color: #9DE4FF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	margin: 0px 1px 1px 0px;
}

#u1195
{
	z-index: 77;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	top: -1px;
	margin-bottom: -1px;
}

#u1196-4
{
	z-index: 78;
	width: 340px;
	min-height: 113px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u31812
{
	z-index: 82;
	width: 73px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 276px;
}

#u31759::before,#u31812::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u31812:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	width: 73px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u1187
{
	z-index: 84;
	background-color: transparent;
}

#u1192-8
{
	z-index: 85;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1192-8:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	margin: 0px;
}

#u1192-8:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	margin: 0px;
}

#u1202-11.AccordionPanelTabOpen,#u1186-8.AccordionPanelTabOpen,#u1192-8.AccordionPanelTabOpen
{
	border-style: none;
	background-color: #9DE4FF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px 1px 1px 0px;
}

#u1202-11.AccordionPanelTabOpen p,#u1202-11.AccordionPanelTabOpen span,#u1186-8.AccordionPanelTabOpen p,#u1186-8.AccordionPanelTabOpen span,#u1194-7.AccordionPanelTabOpen p,#u1194-7.AccordionPanelTabOpen span,#u1192-8.AccordionPanelTabOpen p,#u1192-8.AccordionPanelTabOpen span
{
	color: #000000;
	visibility: inherit;
}

#u1202-9,#u1186-6,#u1194-5,#u1192-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1202,#u1202-3,#u1202-5,#u1202-7,#u1186,#u1186-4,#u1194,#u1194-3,#u1192,#u1192-3
{
	font-size: 24px;
	line-height: 24px;
}

#u1202-2,#u1202-8,#u1186-2,#u1186-5,#u1192-4
{
	font-size: 14px;
	line-height: 14px;
}

#u1202-4,#u1202-6,#u1186-3,#u1194-2,#u1194-4,#u1192-2,#u1192-5
{
	line-height: 14px;
}

#u1188
{
	z-index: 93;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 2px;
}

#u1189-3
{
	z-index: 94;
	width: 321px;
	min-height: 101px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 11px;
}

#u1745
{
	z-index: 97;
	width: 69px;
	height: 69px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 263px;
}

.ie #u1745
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#accordionu1180-bw
{
	z-index: 16;
	margin-top: -4px;
	margin-bottom: -4px;
}

#u31447
{
	z-index: 112;
	width: 360px;
	height: 5px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 8px;
	position: relative;
}

#u31445
{
	z-index: 111;
	width: 360px;
	height: 73px;
	background-color: transparent;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#U32877_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u1206
{
	z-index: 98;
	width: 360px;
	height: 5px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	position: relative;
}

#ppu26402
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: -5px;
}

#u26402
{
	z-index: 9;
	height: 40px;
	width: 41px;
	margin-bottom: -6px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 210px;
}

#u29585-4
{
	z-index: 11;
	width: 122px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 90px;
}

#u16352-4
{
	z-index: 99;
	width: 65px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	border-radius: 10px;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u16352-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u16353-4
{
	z-index: 103;
	width: 72px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	border-radius: 10px;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 228px;
}

#u16354-4
{
	z-index: 107;
	width: 72px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	border-radius: 10px;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 114px;
}

#u16352-4::before,#u16353-4::before,#u16354-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u16353-4:hover,#u16354-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u16352-4:hover p,#u16353-4:hover p,#u16354-4:hover p
{
	color: #0071BC;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

