.version.ebrik /* version checker */
{
	color: #0000FB;
	background-color: #C2E374;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 573px;
	border-style: none;
	border-color: #001F9D;
	background: transparent url("../images/logo.png") no-repeat left bottom;
	background-size: cover;
}

#page_position_content
{
	margin-bottom: -12px;
	padding-top: 9px;
	width: 0.01px;
}

#u26517
{
	z-index: 68;
	width: 114px;
	background-color: transparent;
	margin-left: 132px;
	position: relative;
}

#u17228
{
	z-index: 10;
	width: 360px;
	height: 6px;
	background: -webkit-gradient(linear, left center, right center, from(#8C6239),color-stop(100%, #A67C52));
	background: -webkit-linear-gradient(left,#8C6239 ,#A67C52 100%);
	background: linear-gradient(to right,#8C6239 ,#A67C52 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF8C6239, endColorstr=#FFA67C52, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8C6239', endColorstr='#FFA67C52', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
}

#slideshowu17243
{
	z-index: 30;
	width: 0.01px;
	height: 112px;
	margin-left: 34px;
	margin-top: 6px;
	position: relative;
}

#u17247
{
	position: absolute;
	width: 375px;
	height: 567px;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	top: -120px;
	left: -240px;
	-pie-background: rgba(68,68,68,0.9);
}

#u17247popup
{
	z-index: 31;
}

#u17261
{
	z-index: 32;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17255
{
	z-index: 34;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17253
{
	z-index: 36;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17253_img
{
	padding: 170px 27px 170px 28px;
}

#u17248
{
	z-index: 38;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17274
{
	position: absolute;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 12px;
}

#u17274popup
{
	z-index: 39;
}

#u17279
{
	z-index: 40;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u17279_img
{
	margin-left: -2px;
	margin-right: -3px;
}

#u17284
{
	z-index: 42;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u17275
{
	z-index: 44;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u17279_clip,#u17275_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u17275_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u17281
{
	z-index: 46;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

.ie #u17248,.ie #u17281
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u17244-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: -13px;
}

#u17244-4popup
{
	z-index: 47;
}

#u17246-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: -45px;
}

#u17246-4popup
{
	z-index: 51;
}

#u17244,#u17246
{
	color: #999999;
}

#u17245-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 56px;
}

#u17245-4popup
{
	z-index: 55;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#ppu17231
{
	width: 0.01px;
	margin-top: 14px;
}

#pu17231
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 73px;
	margin-left: 201px;
}

#u17231
{
	z-index: 12;
	width: 159px;
	height: 7px;
	background: -webkit-gradient(linear, left center, right center, from(#8C6239),color-stop(100%, #A67C52));
	background: -webkit-linear-gradient(left,#8C6239 ,#A67C52 100%);
	background: linear-gradient(to right,#8C6239 ,#A67C52 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF8C6239, endColorstr=#FFA67C52, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8C6239', endColorstr='#FFA67C52', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
}

#u17234-4
{
	z-index: 21;
	width: 54px;
	min-height: 18px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(251,176,59,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #F15A24;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 52px;
	margin-top: 27px;
	position: relative;
}

#u17234-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(246,133,0,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 54px;
	margin: 27px 0px 0px 52px;
}

#u17227
{
	z-index: 9;
	width: 189px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.32);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255,255,255,0.32);
}

#u17227::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 2px -3px 4px rgba(255,255,255,0.24), inset -2px 3px 4px rgba(0,0,0,0.24);
}

#u17227_position_content
{
	padding-top: 50px;
	padding-bottom: 38px;
}

#u17293-4
{
	z-index: 64;
	width: 186px;
	min-height: 32px;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	margin-left: 2px;
	position: relative;
}

#u17292-5
{
	z-index: 59;
	width: 189px;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	left: -1px;
	margin-top: 6px;
	position: relative;
}

#u34163-5
{
	z-index: 70;
	width: 189px;
	min-height: 46px;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u17232-4
{
	z-index: 13;
	width: 54px;
	min-height: 20px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(251,176,59,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #F15A24;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 253px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u17232-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(246,133,0,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 54px;
	margin: 0px 0px -7px 253px;
}

#u17233-4
{
	z-index: 17;
	width: 54px;
	min-height: 19px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(251,176,59,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #F15A24;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 253px;
	margin-top: 8px;
	position: relative;
}

#u17234-4::before,#u17232-4::before,#u17233-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 4px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u17233-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(246,133,0,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 8px 0px 0px 253px;
}

#u17234-4:hover::before,#u17232-4:hover::before,#u17233-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u17237
{
	z-index: 25;
	height: 6px;
	background: -webkit-gradient(linear, left center, right center, from(#8C6239),color-stop(100%, #A67C52));
	background: -webkit-linear-gradient(left,#8C6239 ,#A67C52 100%);
	background: linear-gradient(to right,#8C6239 ,#A67C52 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF8C6239, endColorstr=#FFA67C52, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8C6239', endColorstr='#FFA67C52', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-size: 100% auto;
}

#u17237-bw
{
	z-index: 25;
	margin-top: 27px;
	height: 8px;
}

#u17229
{
	z-index: 11;
	height: 5px;
	background: -webkit-gradient(linear, left center, right center, from(#8C6239),color-stop(100%, #A67C52));
	background: -webkit-linear-gradient(left,#8C6239 ,#A67C52 100%);
	background: linear-gradient(to right,#8C6239 ,#A67C52 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF8C6239, endColorstr=#FFA67C52, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8C6239', endColorstr='#FFA67C52', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-size: 100% auto;
}

#u17228::before,#u17231::before,#u17237::before,#u17229::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u17229-bw
{
	z-index: 11;
	margin-top: 57px;
	height: 7px;
}

#ppu26402
{
	width: 0.01px;
	margin-left: 119px;
	margin-top: 6px;
}

#u26402
{
	z-index: 3;
	height: 40px;
	width: 41px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 120px;
}

#u29585-4
{
	z-index: 5;
	width: 122px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u17238-4
{
	z-index: 26;
	width: 65px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #000000;
	font-weight: bold;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 38px;
}

#u17238-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u17238-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 65px;
	margin: 10px -10000px -1px 0px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

