.version.edge_hill_st /* version checker */
{
	color: #000009;
	background-color: #C5B664;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 552px;
	background-image: none;
	border-style: none;
	border-color: #001F9D;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 14px;
	width: 0.01px;
}

#ppu26402
{
	width: 0.01px;
	margin-left: 18px;
}

#u26402
{
	z-index: 3;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 261px;
}

#u16587-4
{
	z-index: 11;
	width: 323px;
	min-height: 43px;
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	color: #1B1464;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
}

#u16587-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset -1px 4px 4px rgba(255,255,255,0.75), inset 1px -4px 4px rgba(0,0,0,0.75);
}

#u16588
{
	z-index: 15;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 13px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u16588-bw
{
	z-index: 15;
	margin-top: 11px;
	height: 11px;
}

#pu29433
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 1px;
}

#u29433
{
	z-index: 9;
	width: 362px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u16590-4
{
	z-index: 17;
	width: 173px;
	min-height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 13px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 1px;
	-pie-background: rgba(41,171,226,0.65);
}

#u16590-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 173px;
	margin: 9px -10000px 0px 0px;
}

#u16591-4
{
	z-index: 21;
	width: 173px;
	min-height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 13px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 1px;
	-pie-background: rgba(41,171,226,0.65);
}

#u16591-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 173px;
	margin: 45px -10000px 0px 0px;
}

#u16592-4
{
	z-index: 25;
	width: 144px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 13px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 5px;
	-pie-background: rgba(41,171,226,0.65);
}

#u16592-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 144px;
	margin: 84px -10000px 0px 0px;
}

#u16593-4
{
	z-index: 29;
	width: 156px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 13px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 5px;
	-pie-background: rgba(41,171,226,0.65);
}

#u16593-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 156px;
	margin: 121px -10000px 0px 0px;
}

#u16594-4
{
	z-index: 33;
	width: 164px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 13px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 5px;
	-pie-background: rgba(41,171,226,0.65);
}

#u16594-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 164px;
	margin: 157px -10000px 0px 0px;
}

#u18485-4
{
	z-index: 41;
	width: 248px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 13px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 5px;
	-pie-background: rgba(41,171,226,0.65);
}

#u16590-4::before,#u16591-4::before,#u16592-4::before,#u16593-4::before,#u16594-4::before,#u18485-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 13px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.48750000000000004), inset -3px -3px 4px rgba(0,0,0,0.48750000000000004);
}

#u18485-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 248px;
	margin: 200px -10000px 0px 0px;
}

#u16590-4:hover p,#u16591-4:hover p,#u16592-4:hover p,#u16593-4:hover p,#u16594-4:hover p,#u18485-4:hover p
{
	color: #2E3192;
	visibility: inherit;
}

#u27791
{
	z-index: 45;
	width: 38px;
	background-color: transparent;
	border-radius: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 213px;
}

#u27791:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	width: 38px;
	min-height: 0px;
	margin: 9px -10000px 0px 0px;
}

#u27793
{
	z-index: 47;
	width: 88px;
	background-color: transparent;
	border-radius: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 188px;
}

#u27793:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	width: 88px;
	min-height: 0px;
	margin: 49px -10000px 0px 0px;
}

#u27795
{
	z-index: 49;
	width: 39px;
	background-color: transparent;
	border-radius: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 174px;
}

#u27791::before,#u27793::before,#u27795::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 13px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u27795:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	width: 39px;
	min-height: 0px;
	margin: 84px -10000px 0px 0px;
}

#u27791::before .clip_frame,#u27791 .clip_frame,#u27793::before .clip_frame,#u27793 .clip_frame,#u27795::before .clip_frame,#u27795 .clip_frame
{
	-webkit-border-radius: 13px 13px 13px 13px;
}

#u27795_clip
{
	overflow: hidden;
	width: 39px;
	height: 36px;
}

#u27795_img
{
	margin-top: 1px;
	margin-bottom: -4px;
}

#u27810
{
	z-index: 52;
	height: 30px;
	width: 80px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
	left: 195px;
	background: url("../images/u27810.png") no-repeat 0px 0px;
}

#u27810:hover
{
	background: url("../images/u27810-r.png") no-repeat 0px 0px;
}

#u27812
{
	z-index: 55;
	height: 35px;
	width: 65px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 175px;
	background: url("../images/u27812.png") no-repeat 6px 6px;
}

#u27812:hover
{
	background: url("../images/u27812-r.png") no-repeat 0px 0px;
}

#u27814
{
	z-index: 58;
	height: 39px;
	width: 84px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 199px;
	left: 269px;
	background: url("../images/u27814.png") no-repeat 0px 0px;
}

#u27814:hover
{
	background: url("../images/u27814-r.png") no-repeat 0px 0px;
}

#u29147
{
	z-index: 60;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 20px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u29147-bw
{
	z-index: 60;
	margin-top: -6px;
	margin-bottom: -6px;
	height: 11px;
}

#u29439
{
	z-index: 8;
	width: 360px;
	height: 73px;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#U29440_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u29099
{
	z-index: 5;
	min-height: 61px;
	background-color: #FFFFFF;
	padding-bottom: 9px;
}

#u29100
{
	z-index: 6;
	width: 259px;
	background-color: transparent;
	border-radius: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 57px;
}

#u29100::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u29100:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	width: 259px;
	min-height: 0px;
	margin: 11px -10000px 0px 0px;
}

#u29100::before .clip_frame,#u29100 .clip_frame
{
	-webkit-border-radius: 8px 8px 8px 8px;
}

#u29099-bw
{
	z-index: 5;
	min-height: 61px;
	margin-top: 4px;
}

#u16589
{
	z-index: 16;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 13px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u16589-bw
{
	z-index: 16;
	margin-top: -5px;
	margin-bottom: -5px;
	height: 11px;
}

#u16596-4
{
	z-index: 37;
	width: 98px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 13px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 134px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u16596-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 13px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u16596-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,255,0,0.5),0px 0px 8px rgba(0,255,0,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 98px;
	margin: 0px 0px -2px 134px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

