.version.edgewood_and_hillard /* version checker */
{
	color: #0000F7;
	background-color: #E7A56C;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/atl%20street%20car%2042.jpg") no-repeat center center scroll;
	background-size: contain;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 581px;
	border-style: none;
	border-color: #001F9D;
	background: transparent url("../images/atl%20street%20car%205png.jpg") no-repeat center center;
	background-size: cover;
}

#page_position_content
{
	padding-top: 6px;
	width: 0.01px;
}

#u28713
{
	z-index: 2;
	width: 151px;
	background-color: transparent;
	margin-left: 111px;
	position: relative;
}

#u33335-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	margin-left: 66px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u1210
{
	z-index: 109;
	width: 360px;
	height: 6px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -3px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#accordionu1211
{
	z-index: 19;
	width: 361px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	opacity: 0.89;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=89)";
	filter: alpha(opacity=89);
	left: -1px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u1224
{
	z-index: 20;
	width: 361px;
	background-color: transparent;
	position: relative;
}

#u1225-9
{
	z-index: 21;
	width: 349px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1225-9:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 349px;
	margin: 0px;
}

#u1225-9:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 349px;
	margin: 0px;
}

#u1225-2,#u1225-4,#u1225-6
{
	line-height: 14px;
}

#u1226
{
	z-index: 30;
	width: 359px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
}

#u1227-10
{
	z-index: 31;
	width: 360px;
	min-height: 82px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: -1px;
}

#u32693
{
	z-index: 42;
	position: relative;
	width: 172px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 184px;
}

#u32693_states
{
	height: 71px;
	width: 172px;
	vertical-align: top;
	background: url("../images/u32693_states.png") no-repeat 0px 0px;
}

#u32693:hover #u32693_states
{
	background: url("../images/u32693_states-r.png") no-repeat 0px 0px;
}

#u1228
{
	z-index: 44;
	width: 361px;
	background-color: transparent;
	position: relative;
}

#u1233-9
{
	z-index: 45;
	width: 349px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1233-9:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 349px;
	margin: 0px;
}

#u1233-9:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 349px;
	margin: 0px;
}

#u1229
{
	z-index: 54;
	width: 359px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 1px;
	position: relative;
}

#u1230-10
{
	z-index: 55;
	width: 340px;
	min-height: 114px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u1230-2,#u1230-4
{
	text-align: left;
	color: #000000;
}

#u1230-7
{
	text-align: left;
	color: #0400DA;
	font-weight: bold;
}

#u1230-8
{
	text-align: center;
	color: #000000;
}

#u1766
{
	z-index: 65;
	width: 76px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 253px;
}

#u1766:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	width: 76px;
	min-height: 0px;
	margin: 41px -10000px 0px 0px;
}

#u1218
{
	z-index: 67;
	width: 361px;
	background-color: transparent;
	position: relative;
}

#u1223-7
{
	z-index: 68;
	width: 349px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1223-7:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 349px;
	margin: 0px;
}

#u1223-7:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 349px;
	margin: 0px;
}

#u1219
{
	z-index: 75;
	width: 359px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	position: relative;
}

#u1220-8
{
	z-index: 76;
	width: 321px;
	min-height: 101px;
	background-color: transparent;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 11px;
}

#u1220-6
{
	color: #0002EC;
	font-weight: bold;
}

#u1794
{
	z-index: 84;
	width: 143px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 210px;
}

#u1766::before,#u1794::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u1794:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	width: 143px;
	min-height: 0px;
	margin: 63px -10000px 0px 0px;
}

#u1967
{
	z-index: 86;
	width: 361px;
	background-color: transparent;
	position: relative;
}

#u1968-7
{
	z-index: 87;
	width: 349px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1968-7:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 349px;
	margin: 0px;
}

#u1968-7:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 349px;
	margin: 0px;
}

#u1225-9.AccordionPanelTabOpen,#u1233-9.AccordionPanelTabOpen,#u1223-7.AccordionPanelTabOpen,#u1968-7.AccordionPanelTabOpen
{
	background-color: #9DE4FF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 349px;
	margin: 0px;
}

#u1225-9.AccordionPanelTabOpen p,#u1225-9.AccordionPanelTabOpen span,#u1233-9.AccordionPanelTabOpen p,#u1233-9.AccordionPanelTabOpen span,#u1223-7.AccordionPanelTabOpen p,#u1223-7.AccordionPanelTabOpen span,#u1968-7.AccordionPanelTabOpen p,#u1968-7.AccordionPanelTabOpen span
{
	color: #000000;
	visibility: inherit;
}

#u1225-7,#u1233-7,#u1223-5,#u1968-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1225,#u1225-3,#u1225-5,#u1233,#u1233-3,#u1233-5,#u1223,#u1223-3,#u1968,#u1968-3
{
	font-size: 24px;
	line-height: 24px;
}

#u1233-2,#u1233-4,#u1233-6,#u1223-2,#u1223-4,#u1968-2,#u1968-4
{
	font-size: 14px;
	line-height: 14px;
}

#u1969
{
	z-index: 94;
	width: 359px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 1px;
	position: relative;
}

#u1974-10
{
	z-index: 95;
	width: 349px;
	min-height: 94px;
	background-color: transparent;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 6px;
}

#u3643
{
	z-index: 105;
	width: 71px;
	height: 67px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 275px;
}

#u2035
{
	z-index: 107;
	height: 73px;
	width: 78px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 272px;
	background: url("../images/u2035.png") no-repeat 6px 6px;
}

#u2035:hover
{
	background: url("../images/u2035-r.png") no-repeat 0px 0px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u1237
{
	z-index: 110;
	width: 360px;
	height: 5px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -3px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u29265
{
	z-index: 119;
	width: 360px;
	height: 73px;
	background-color: transparent;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#U32880_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u29270
{
	z-index: 120;
	width: 360px;
	height: 5px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -3px;
	margin-top: 1px;
	position: relative;
}

#pu16365-4
{
	width: 0.01px;
	margin-left: 34px;
	margin-top: -16px;
}

#u16365-4
{
	z-index: 111;
	width: 65px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	border-radius: 10px;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u16365-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 65px;
	margin: 0px -10000px -1px 0px;
}

#u34082-4
{
	z-index: 15;
	width: 72px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	border-radius: 10px;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 111px;
}

#u34082-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 72px;
	margin: 0px -10000px -1px 0px;
}

#u16366-4
{
	z-index: 115;
	width: 72px;
	min-height: 29px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	border-radius: 10px;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 228px;
}

#u16365-4::before,#u34082-4::before,#u16366-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u16366-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 72px;
	margin: 0px -10000px -1px 0px;
}

#u16365-4:hover p,#u34082-4:hover p,#u16366-4:hover p
{
	color: #0071BC;
	visibility: inherit;
}

#pu29585-4
{
	width: 0.01px;
	margin-left: 119px;
	margin-top: -1px;
}

#u29585-4
{
	z-index: 11;
	width: 122px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u26402
{
	z-index: 9;
	height: 40px;
	width: 41px;
	margin-bottom: -6px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 120px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

