.version.edgewood_and_hillard /* version checker */
{
	color: #0000EB;
	background-color: #5D9CC0;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/atl%20street%20car%204.jpg") no-repeat center center scroll;
	background-size: contain;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 571px;
	border-style: none;
	border-color: #001F9D;
	background: transparent url("../images/atl%20street%20car%205png.jpg") no-repeat center center;
	background-size: cover;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 10px;
	width: 0.01px;
}

#pu28713
{
	width: 0.01px;
	margin-left: 96px;
}

#u28713
{
	z-index: 2;
	width: 185px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
}

#u26402
{
	z-index: 5;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 183px;
}

#u1210
{
	z-index: 82;
	width: 360px;
	height: 6px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	position: relative;
}

#paccordionu1211
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: -1px;
}

#accordionu1211
{
	z-index: 7;
	width: 362px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	opacity: 0.89;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=89)";
	filter: alpha(opacity=89);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1224
{
	z-index: 8;
	width: 362px;
	background-color: transparent;
	position: relative;
}

#u1225-3
{
	z-index: 9;
	width: 350px;
	min-height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1225-3:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 9px;
	width: 350px;
	margin: 0px;
}

#u1225-3:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 9px;
	width: 350px;
	margin: 0px;
}

#u1225-3.AccordionPanelTabOpen
{
	background-color: #9DE4FF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 9px;
	width: 350px;
	margin: 0px;
}

#u1226
{
	z-index: 12;
	width: 352px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
	padding: 2px 2px 4px 6px;
}

#u2239
{
	z-index: 17;
	width: 238px;
	background-color: transparent;
	margin-left: 64px;
	position: relative;
}

#u1227-4
{
	z-index: 13;
	width: 352px;
	min-height: 82px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #000000;
	margin-top: 4px;
	position: relative;
}

#u1228
{
	z-index: 19;
	width: 362px;
	background-color: transparent;
	position: relative;
}

#u1233-9
{
	z-index: 20;
	width: 350px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1233-9:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 350px;
	margin: 0px;
}

#u1233-9:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 350px;
	margin: 0px;
}

#u1229
{
	z-index: 29;
	width: 360px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 14px;
	position: relative;
}

#u1230-9
{
	z-index: 30;
	width: 340px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u1230-2,#u1230-3
{
	text-align: left;
	color: #000000;
}

#u1230-6
{
	text-align: left;
	color: #0400DA;
	font-weight: bold;
}

#u1230-7
{
	text-align: center;
	color: #000000;
}

#u1766
{
	z-index: 39;
	width: 92px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 263px;
}

#u1766:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	width: 92px;
	min-height: 0px;
	margin: 59px -10000px 0px 0px;
}

#u1218
{
	z-index: 41;
	width: 362px;
	background-color: transparent;
	position: relative;
}

#u1223-7
{
	z-index: 42;
	width: 350px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1223-7:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 350px;
	margin: 0px;
}

#u1223-7:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 350px;
	margin: 0px;
}

#u1219
{
	z-index: 49;
	width: 360px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 42px;
	position: relative;
}

#u1220-8
{
	z-index: 50;
	width: 321px;
	min-height: 101px;
	background-color: transparent;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 11px;
}

#u1220-6
{
	color: #0002EC;
	font-weight: bold;
}

#u1794
{
	z-index: 58;
	width: 143px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 210px;
}

#u1766::before,#u1794::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u1794:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	width: 143px;
	min-height: 0px;
	margin: 63px -10000px 0px 0px;
}

#u1967
{
	z-index: 60;
	width: 362px;
	background-color: transparent;
	position: relative;
}

#u1968-7
{
	z-index: 61;
	width: 350px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1968-7:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 350px;
	margin: 0px;
}

#u1968-7:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 350px;
	margin: 0px;
}

#u1233-9.AccordionPanelTabOpen,#u1223-7.AccordionPanelTabOpen,#u1968-7.AccordionPanelTabOpen
{
	background-color: #9DE4FF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 350px;
	margin: 0px;
}

#u1225-3.AccordionPanelTabOpen p,#u1233-9.AccordionPanelTabOpen p,#u1233-9.AccordionPanelTabOpen span,#u1223-7.AccordionPanelTabOpen p,#u1223-7.AccordionPanelTabOpen span,#u1968-7.AccordionPanelTabOpen p,#u1968-7.AccordionPanelTabOpen span
{
	color: #000000;
	visibility: inherit;
}

#u1233-7,#u1223-5,#u1968-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1233,#u1233-3,#u1233-5,#u1223,#u1223-3,#u1968,#u1968-3
{
	font-size: 24px;
	line-height: 24px;
}

#u1233-2,#u1233-4,#u1233-6,#u1223-2,#u1223-4,#u1968-2,#u1968-4
{
	font-size: 14px;
	line-height: 14px;
}

#u1969
{
	z-index: 68;
	width: 360px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u1974-9
{
	z-index: 69;
	width: 343px;
	min-height: 103px;
	background-color: transparent;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: -1px;
}

#u1974-6
{
	color: #0001A9;
	font-weight: bold;
}

#u3643
{
	z-index: 78;
	width: 77px;
	height: 74px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
	left: 263px;
}

#u2035
{
	z-index: 80;
	height: 85px;
	width: 91px;
	vertical-align: top;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 258px;
	background: url("../images/u2035.png") no-repeat 6px 6px;
}

#u2035:hover
{
	background: url("../images/u2035-r.png") no-repeat 0px 0px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u1234-4
{
	z-index: 84;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 66px;
}

#u1237
{
	z-index: 83;
	width: 360px;
	height: 5px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u29265
{
	z-index: 96;
	width: 360px;
	height: 73px;
	background-color: transparent;
	left: -1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#U29267_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u29270
{
	z-index: 97;
	width: 360px;
	height: 5px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#pu16365-4
{
	width: 0.01px;
	margin-left: 38px;
	margin-top: 5px;
}

#u16365-4
{
	z-index: 88;
	width: 65px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	border-radius: 10px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-weight: bold;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u16365-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 65px;
	margin: 0px -10000px -1px 0px;
}

#u16366-4
{
	z-index: 92;
	width: 72px;
	min-height: 29px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	border-radius: 10px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-weight: bold;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 217px;
}

#u16365-4::before,#u16366-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u16366-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 72px;
	margin: 0px -10000px -1px 0px;
}

#u16365-4:hover p,#u16366-4:hover p
{
	color: #0071BC;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

