.version.googpg /* version checker */
{
	color: #000003;
	background-color: #FB998A;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 573px;
	background: transparent url("../images/u6755-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(74%, rgba(255,255,255,0)),to(#FB9A3B));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0) 74%,#FB9A3B );
	background: linear-gradient(to bottom,rgba(255,255,255,0) 74%,#FB9A3B );
	border-style: none;
	border-color: #001F9D;
}

#page_position_content
{
	padding-top: 7px;
	width: 0.01px;
}

#u28790
{
	z-index: 67;
	width: 203px;
	background-color: transparent;
	margin-left: 83px;
	position: relative;
}

#u6870
{
	z-index: 49;
	width: 359px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#FBB03B),color-stop(100%, #F7931E));
	background: -webkit-linear-gradient(left,#FBB03B ,#F7931E 100%);
	background: linear-gradient(to right,#FBB03B ,#F7931E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFBB03B, endColorstr=#FFF7931E, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBB03B', endColorstr='#FFF7931E', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 5px;
	position: relative;
}

#pu6958
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 4px;
}

#u6958
{
	z-index: 65;
	width: 214px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u28790::before,#u6958::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#slideshowu6819
{
	z-index: 10;
	width: 0.01px;
	height: 160px;
	position: relative;
	margin-right: -10000px;
	left: 221px;
}

#u6851
{
	position: absolute;
	width: 382px;
	height: 575px;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	top: -116px;
	left: -230px;
	-pie-background: rgba(68,68,68,0.9);
}

#u6851popup
{
	z-index: 11;
}

#u6864
{
	z-index: 12;
	width: 338px;
	height: 531px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6864_img
{
	padding: 183px 16px 184px;
}

#u6858
{
	z-index: 14;
	width: 338px;
	height: 531px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6858_img
{
	padding: 179px 22px 180px 23px;
}

#u6860
{
	z-index: 16;
	width: 338px;
	height: 531px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6860_img
{
	padding: 187px 7px 188px 8px;
}

#u6856
{
	z-index: 18;
	width: 338px;
	height: 531px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6856_img
{
	padding: 174px 31px 174px 32px;
}

#u6852
{
	z-index: 20;
	width: 338px;
	height: 531px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6852_img
{
	padding: 168px 39px 169px;
}

#u6992
{
	z-index: 22;
	width: 338px;
	height: 531px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6992_img
{
	padding: 168px 39px 169px 40px;
}

#u6834
{
	position: absolute;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
}

#u6834popup
{
	z-index: 24;
}

#u6843
{
	z-index: 25;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6849
{
	z-index: 27;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u6837
{
	z-index: 29;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u6835
{
	z-index: 31;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u6835_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u6835_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u6847
{
	z-index: 33;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u6995
{
	z-index: 35;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 70px;
}

#u6822-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 330px;
	left: 45px;
}

#u6822-4popup
{
	z-index: 37;
}

#u6821-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 330px;
	left: 12px;
}

#u6821-4popup
{
	z-index: 41;
}

#u6822,#u6821
{
	color: #999999;
}

#u6820-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 330px;
	left: 115px;
}

#u6820-4popup
{
	z-index: 45;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u6873
{
	z-index: 51;
	width: 360px;
	height: 3px;
	background: -webkit-gradient(linear, left center, right center, from(#FBB03B),color-stop(100%, #F7931E));
	background: -webkit-linear-gradient(left,#FBB03B ,#F7931E 100%);
	background: linear-gradient(to right,#FBB03B ,#F7931E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFBB03B, endColorstr=#FFF7931E, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBB03B', endColorstr='#FFF7931E', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 5px;
	position: relative;
}

#u6818
{
	z-index: 9;
	width: 348px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 4px;
	margin-top: 3px;
	position: relative;
}

#u6818::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 2px -3px 4px rgba(255,255,255,0.75), inset -2px 3px 4px rgba(0,0,0,0.75);
}

#u31906-11
{
	z-index: 74;
	width: 348px;
	min-height: 77px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u31906-2
{
	font-weight: bold;
}

#u31906-4,#u31906-6
{
	font-weight: normal;
	font-style: normal;
}

#u31906-7
{
	text-decoration: none;
}

#u6879
{
	z-index: 64;
	width: 359px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#FBB03B),color-stop(100%, #F7931E));
	background: -webkit-linear-gradient(left,#FBB03B ,#F7931E 100%);
	background: linear-gradient(to right,#FBB03B ,#F7931E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFBB03B, endColorstr=#FFF7931E, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBB03B', endColorstr='#FFF7931E', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 61px;
	position: relative;
}

#u31904
{
	z-index: 73;
	width: 360px;
	height: 73px;
	background-color: transparent;
	left: -1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#U32302_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u6871
{
	z-index: 50;
	width: 359px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#FBB03B),color-stop(100%, #F7931E));
	background: -webkit-linear-gradient(left,#FBB03B ,#F7931E 100%);
	background: linear-gradient(to right,#FBB03B ,#F7931E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFBB03B, endColorstr=#FFF7931E, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBB03B', endColorstr='#FFF7931E', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	position: relative;
}

#u6870::before,#u6873::before,#u6879::before,#u6871::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#pu6874-4
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 4px;
}

#u6874-4
{
	z-index: 52;
	width: 62px;
	min-height: 23px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #754C24;
	background-color: transparent;
	border-radius: 10px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u6874-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 62px;
	margin: 0px -10000px -1px 0px;
}

#u6876-4
{
	z-index: 60;
	width: 62px;
	min-height: 21px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #754C24;
	background-color: transparent;
	border-radius: 10px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 79px;
}

#u6876-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u31903-4
{
	z-index: 69;
	width: 62px;
	min-height: 22px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #754C24;
	background-color: transparent;
	border-radius: 10px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 160px;
}

#u31903-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u6875-4
{
	z-index: 56;
	width: 62px;
	min-height: 22px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #754C24;
	background-color: transparent;
	border-radius: 10px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 235px;
}

#u6874-4::before,#u6876-4::before,#u31903-4::before,#u6875-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u6875-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u6874-4:hover::before,#u6876-4:hover::before,#u31903-4:hover::before,#u6875-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#pu29585-4
{
	width: 0.01px;
	margin-left: 119px;
	margin-top: 2px;
}

#u29585-4
{
	z-index: 5;
	width: 122px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u26402
{
	z-index: 3;
	height: 40px;
	width: 41px;
	margin-bottom: -6px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 120px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

