.version.googpg /* version checker */
{
	color: #00000D;
	background-color: #0F60E3;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 551.8023682047682px;
	background: transparent url("../images/u6755-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(74%, rgba(255,255,255,0)),to(#FB9A3B));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0) 74%,#FB9A3B );
	background: linear-gradient(to bottom,rgba(255,255,255,0) 74%,#FB9A3B );
	border-style: none;
	border-color: #001F9D;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 8px;
	width: 0.01px;
}

#pu28790
{
	width: 0.01px;
	margin-left: 26px;
}

#u28790
{
	z-index: 100;
	width: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
}

#u26402
{
	z-index: 3;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 253px;
}

#u6870
{
	z-index: 45;
	width: 359px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#FBB03B),color-stop(100%, #F7931E));
	background: -webkit-linear-gradient(left,#FBB03B ,#F7931E 100%);
	background: linear-gradient(to right,#FBB03B ,#F7931E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFBB03B, endColorstr=#FFF7931E, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBB03B', endColorstr='#FFF7931E', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 11px;
	position: relative;
}

#pu6958
{
	width: 0.01px;
	margin-left: 11px;
}

#u6958
{
	z-index: 94;
	width: 199px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u28790::before,#u6958::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#slideshowu6819
{
	z-index: 6;
	width: 0.01px;
	height: 160px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 212px;
}

#u6851
{
	position: absolute;
	width: 382px;
	height: 575px;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	top: -116px;
	left: -230px;
	-pie-background: rgba(68,68,68,0.9);
}

#u6851popup
{
	z-index: 7;
}

#u6864
{
	z-index: 8;
	width: 338px;
	height: 531px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6864_img
{
	padding: 183px 16px 184px;
}

#u6858
{
	z-index: 10;
	width: 338px;
	height: 531px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6858_img
{
	padding: 179px 22px 180px 23px;
}

#u6860
{
	z-index: 12;
	width: 338px;
	height: 531px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6860_img
{
	padding: 187px 7px 188px 8px;
}

#u6856
{
	z-index: 14;
	width: 338px;
	height: 531px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6856_img
{
	padding: 174px 31px 174px 32px;
}

#u6852
{
	z-index: 16;
	width: 338px;
	height: 531px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6852_img
{
	padding: 168px 39px 169px;
}

#u6992
{
	z-index: 18;
	width: 338px;
	height: 531px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6992_img
{
	padding: 168px 39px 169px 40px;
}

#u6834
{
	position: absolute;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
}

#u6834popup
{
	z-index: 20;
}

#u6843
{
	z-index: 21;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6849
{
	z-index: 23;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u6837
{
	z-index: 25;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u6835
{
	z-index: 27;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u6835_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u6835_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u6847
{
	z-index: 29;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u6995
{
	z-index: 31;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 70px;
}

#u6822-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 330px;
	left: 45px;
}

#u6822-4popup
{
	z-index: 33;
}

#u6821-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 330px;
	left: 12px;
}

#u6821-4popup
{
	z-index: 37;
}

#u6822,#u6821
{
	color: #999999;
}

#u6820-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 330px;
	left: 115px;
}

#u6820-4popup
{
	z-index: 41;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu6818
{
	width: 0.01px;
	margin-left: 11px;
	margin-top: -13px;
}

#u6818
{
	z-index: 5;
	width: 198px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u6818::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 2px -3px 4px rgba(255,255,255,0.75), inset -2px 3px 4px rgba(0,0,0,0.75);
}

#u6872-27
{
	z-index: 47;
	width: 194px;
	min-height: 230px;
	background-color: transparent;
	text-align: center;
	margin-bottom: -25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 1px;
}

#u6872-2
{
	font-weight: bold;
}

#u6872-5
{
	font-weight: bold;
	font-style: italic;
}

#u6872-7,#u6872-9,#u6872-11,#u6872-13,#u6872-15,#u6872-17,#u6872-19
{
	font-weight: normal;
	font-style: normal;
}

#pu6873
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 28px;
	margin-left: 205px;
}

#u6873
{
	z-index: 74;
	width: 146px;
	height: 3px;
	background: -webkit-gradient(linear, left center, right center, from(#FBB03B),color-stop(100%, #F7931E));
	background: -webkit-linear-gradient(left,#FBB03B ,#F7931E 100%);
	background: linear-gradient(to right,#FBB03B ,#F7931E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFBB03B, endColorstr=#FFF7931E, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBB03B', endColorstr='#FFF7931E', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
}

#u6876-4
{
	z-index: 83;
	width: 54px;
	min-height: 18px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #754C24;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 45px;
	margin-top: 51px;
	position: relative;
}

#u6876-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(247,147,30,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 54px;
	margin: 51px 0px 0px 45px;
}

#u6874-4
{
	z-index: 75;
	width: 54px;
	min-height: 20px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #754C24;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 45px;
	margin-top: 8px;
	position: relative;
}

#u6874-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(247,147,30,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 54px;
	margin: 8px 0px 0px 45px;
}

#u6875-4
{
	z-index: 79;
	width: 54px;
	min-height: 19px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #754C24;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 45px;
	margin-top: 8px;
	position: relative;
}

#u6875-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(247,147,30,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 8px 0px 0px 45px;
}

#u6876-4:hover::before,#u6874-4:hover::before,#u6875-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u6879
{
	z-index: 89;
	width: 359px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#FBB03B),color-stop(100%, #F7931E));
	background: -webkit-linear-gradient(left,#FBB03B ,#F7931E 100%);
	background: linear-gradient(to right,#FBB03B ,#F7931E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFBB03B, endColorstr=#FFF7931E, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBB03B', endColorstr='#FFF7931E', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#pu6877
{
	width: 0.01px;
	margin-left: 39px;
	margin-top: 4px;
}

#u6877
{
	z-index: 87;
	width: 76px;
	background-color: transparent;
	border-radius: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u6877 .clip_frame
{
	-webkit-border-radius: 11px 11px 11px 11px;
}

#u6885
{
	z-index: 92;
	width: 60px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 125px;
}

#u6883
{
	z-index: 90;
	width: 74px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 234px;
}

#u6871
{
	z-index: 46;
	width: 359px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#FBB03B),color-stop(100%, #F7931E));
	background: -webkit-linear-gradient(left,#FBB03B ,#F7931E 100%);
	background: linear-gradient(to right,#FBB03B ,#F7931E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFBB03B, endColorstr=#FFF7931E, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBB03B', endColorstr='#FFF7931E', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 4px;
	position: relative;
}

#u6870::before,#u6873::before,#u6879::before,#u6871::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u7423-4
{
	z-index: 96;
	width: 65px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-weight: bold;
	margin-left: 157px;
	margin-top: 5px;
	position: relative;
}

#u7423-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u7423-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 65px;
	margin: 5px 0px 0px 157px;
}

#u7423-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

