.version.harolds /* version checker */
{
	color: #000009;
	background-color: #1F6D2D;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 573px;
	background: #ED1C24 url("../images/u16603-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(32%, #FFFFFF),to(#ED1C24));
	background: -webkit-linear-gradient(top,#FFFFFF 32%,#ED1C24 );
	background: linear-gradient(to bottom,#FFFFFF 32%,#ED1C24 );
	border-style: none;
	border-color: #001F9D;
}

#page_position_content
{
	padding-top: 3px;
	width: 0.01px;
}

#u16633
{
	z-index: 89;
	width: 345px;
	background-color: transparent;
	margin-left: 11px;
	position: relative;
}

#u16640
{
	z-index: 10;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#050000),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(left,#050000 ,#FFFFFF 100%);
	background: linear-gradient(to right,#050000 ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF050000, endColorstr=#FFFFFFFF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF050000', endColorstr='#FFFFFFFF', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-size: 100% auto;
}

#u16640-bw
{
	z-index: 10;
	height: 6px;
}

#slideshowu16655
{
	z-index: 30;
	width: 0.01px;
	height: 110px;
	margin-left: 227px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u16662
{
	position: absolute;
	width: 375px;
	height: 573px;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	top: -120px;
	left: -231px;
	-pie-background: rgba(68,68,68,0.9);
}

#u16662popup
{
	z-index: 31;
}

#u16663
{
	z-index: 32;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16663_img
{
	padding-top: 110px;
	padding-bottom: 109px;
}

#u16667
{
	z-index: 34;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16667_img
{
	padding-top: 120px;
	padding-bottom: 120px;
}

#u16747
{
	z-index: 36;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16747_clip
{
	overflow: hidden;
	width: 331px;
	height: 529px;
}

#u16747_img
{
	margin: 132px -15px 131px;
}

#u16768
{
	z-index: 38;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16768_img
{
	padding: 144px 45px;
}

#u16688
{
	position: absolute;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 10px;
}

#u16688popup
{
	z-index: 40;
}

#u16693
{
	z-index: 41;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u16693_img
{
	margin-left: -6px;
	margin-right: -6px;
}

#u16689
{
	z-index: 43;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u16689_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u16750
{
	z-index: 45;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u16693_clip,#u16689_clip,#u16750_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u16750_img
{
	margin-left: -1px;
}

#u16771
{
	z-index: 47;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u16656-4
{
	position: absolute;
	width: 48px;
	min-height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: -4px;
}

#u16656-4popup
{
	z-index: 49;
}

#u16705-4
{
	position: absolute;
	width: 10px;
	min-height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: -36px;
}

#u16705-4popup
{
	z-index: 53;
}

#u16656,#u16705
{
	color: #999999;
}

#u16657-4
{
	position: absolute;
	width: 10px;
	min-height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 65px;
}

#u16657-4popup
{
	z-index: 57;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u16777
{
	z-index: 61;
	width: 191px;
	background-color: #FFFFFF;
	margin-left: 19px;
	top: -105px;
	margin-bottom: -105px;
	position: relative;
}

#u16777::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u16643
{
	z-index: 12;
	width: 142px;
	height: 3px;
	background: -webkit-gradient(linear, left center, right center, from(#ED1C24),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(left,#ED1C24 ,#FFFFFF 100%);
	background: linear-gradient(to right,#ED1C24 ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFED1C24, endColorstr=#FFFFFFFF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFED1C24', endColorstr='#FFFFFFFF', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-left: 217px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#ppu16646-4
{
	width: 0.01px;
	margin-left: 11px;
	margin-top: 11px;
}

#pu16646-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 30px;
	margin-left: 245px;
}

#u16646-4
{
	z-index: 21;
	width: 54px;
	min-height: 20px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #050000;
	background-color: transparent;
	border-radius: 10px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 5px;
	position: relative;
}

#u16646-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(5,0,0,0.5),0px 0px 8px rgba(5,0,0,0.5)/* glow */,
6px 6px 8px rgba(5,0,0,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 54px;
	margin: 0px 0px 0px 5px;
}

#u16644-4
{
	z-index: 13;
	width: 54px;
	min-height: 20px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #050000;
	background-color: transparent;
	border-radius: 10px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 5px;
	margin-top: 28px;
	position: relative;
}

#u16644-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(5,0,0,0.5),0px 0px 8px rgba(5,0,0,0.5)/* glow */,
6px 6px 8px rgba(5,0,0,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 54px;
	margin: 28px 0px 0px 5px;
}

#u16645-4
{
	z-index: 17;
	width: 63px;
	min-height: 19px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #050000;
	background-color: transparent;
	border-radius: 10px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 28px;
	position: relative;
}

#u16646-4::before,#u16644-4::before,#u16645-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u16645-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(5,0,0,0.5),0px 0px 8px rgba(5,0,0,0.5)/* glow */,
6px 6px 8px rgba(5,0,0,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 63px;
	margin: 28px 0px 0px;
}

#u16646-4:hover::before,#u16644-4:hover::before,#u16645-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u16639
{
	z-index: 9;
	width: 205px;
	height: 192px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u16639::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 2px -3px 4px rgba(255,255,255,0.75), inset -2px 3px 4px rgba(0,0,0,0.75);
}

#u26460-20
{
	z-index: 63;
	width: 200px;
	min-height: 193px;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 2px;
}

#u26460-7,#u26460-9,#u26460-11,#u26460-13,#u26460-15,#u26460-18
{
	font-style: italic;
}

#u26461-5
{
	z-index: 83;
	width: 118px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 43px;
}

#u16649
{
	z-index: 25;
	width: 361px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#ED1C24),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(left,#ED1C24 ,#FFFFFF 100%);
	background: linear-gradient(to right,#ED1C24 ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFED1C24, endColorstr=#FFFFFFFF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFED1C24', endColorstr='#FFFFFFFF', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u32413
{
	z-index: 88;
	width: 360px;
	height: 73px;
	background-color: transparent;
	margin-top: 1px;
	position: relative;
}

#U32414_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u16641
{
	z-index: 11;
	width: 361px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#ED1C24),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(left,#ED1C24 ,#FFFFFF 100%);
	background: linear-gradient(to right,#ED1C24 ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFED1C24, endColorstr=#FFFFFFFF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFED1C24', endColorstr='#FFFFFFFF', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 1px;
	position: relative;
}

#u16640::before,#u16643::before,#u16649::before,#u16641::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#ppu26402
{
	width: 0.01px;
	margin-left: 119px;
	margin-top: -6px;
}

#u26402
{
	z-index: 3;
	height: 40px;
	width: 41px;
	margin-bottom: -6px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 120px;
}

#u29585-4
{
	z-index: 5;
	width: 122px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 22px;
}

#u16650-4
{
	z-index: 26;
	width: 65px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 9px;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #1D00E6;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 32px;
}

#u16650-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 9px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u16650-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

