.version.hur_st /* version checker */
{
	color: #000009;
	background-color: #FD969F;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 552px;
	background-image: none;
	border-style: none;
	border-color: #001F9D;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 4px;
	width: 0.01px;
}

#ppu26402
{
	width: 0.01px;
	margin-left: 18px;
}

#u26402
{
	z-index: 3;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 261px;
}

#u16845-4
{
	z-index: 7;
	width: 323px;
	min-height: 43px;
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	color: #1B1464;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
}

#u16845-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset -1px 4px 4px rgba(255,255,255,0.75), inset 1px -4px 4px rgba(0,0,0,0.75);
}

#u16846
{
	z-index: 11;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 11px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u16846-bw
{
	z-index: 11;
	margin-top: 20px;
	height: 11px;
}

#pu16848-4
{
	width: 0.01px;
	margin-top: 20px;
}

#u16848-4
{
	z-index: 13;
	width: 222px;
	min-height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #78CAEC;
	background-color: rgba(41,171,226,0.63);
	border-radius: 11px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.63);
}

#u16848-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 222px;
	margin: 0px -10000px -1px 0px;
}

#u27878
{
	z-index: 44;
	width: 46px;
	background-color: transparent;
	border-radius: 11px;
	position: relative;
	margin-right: -10000px;
	left: 236px;
}

#u27878:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	width: 46px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu16849-4
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 7px;
}

#u16849-4
{
	z-index: 17;
	width: 177px;
	min-height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #78CAEC;
	background-color: rgba(41,171,226,0.63);
	border-radius: 11px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.63);
}

#u16849-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 177px;
	margin: 0px -10000px -1px 0px;
}

#u27876
{
	z-index: 42;
	height: 43px;
	width: 94px;
	vertical-align: top;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: 179px;
	background: url("../images/u27876.png") no-repeat 6px 6px;
}

#u27876:hover
{
	background: url("../images/u27876-r.png") no-repeat 0px 0px;
}

#pu16850-4
{
	width: 0.01px;
	margin-top: 8px;
}

#u16850-4
{
	z-index: 21;
	width: 155px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #78CAEC;
	background-color: rgba(41,171,226,0.63);
	border-radius: 11px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.63);
}

#u16850-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 155px;
	margin: 0px -10000px 0px 0px;
}

#u27885
{
	z-index: 49;
	width: 38px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	border-radius: 11px;
	position: relative;
	margin-right: -10000px;
	left: 172px;
}

#u27878::before,#u27885::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 11px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u27885:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u27878::before .clip_frame,#u27878 .clip_frame,#u27885::before .clip_frame,#u27885 .clip_frame
{
	-webkit-border-radius: 11px 11px 11px 11px;
}

#u16851-4
{
	z-index: 25;
	width: 186px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #78CAEC;
	background-color: rgba(41,171,226,0.63);
	border-radius: 11px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: -1px;
	margin-top: 5px;
	position: relative;
	-pie-background: rgba(41,171,226,0.63);
}

#u16851-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 186px;
	margin: 5px 0px 0px;
}

#ppu16853-4
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 8px;
}

#pu16853-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u16853-4
{
	z-index: 33;
	width: 159px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #78CAEC;
	background-color: rgba(41,171,226,0.63);
	border-radius: 11px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	-pie-background: rgba(41,171,226,0.63);
}

#u16853-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 159px;
	margin: 0px;
}

#u16852-4
{
	z-index: 29;
	width: 159px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #78CAEC;
	background-color: rgba(41,171,226,0.63);
	border-radius: 11px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 8px;
	position: relative;
	-pie-background: rgba(41,171,226,0.63);
}

#u16848-4::before,#u16849-4::before,#u16850-4::before,#u16851-4::before,#u16853-4::before,#u16852-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 11px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.47250000000000003), inset -3px -3px 4px rgba(0,0,0,0.47250000000000003);
}

#u16852-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 159px;
	margin: 8px 0px 0px;
}

#u16848-4:hover p,#u16849-4:hover p,#u16850-4:hover p,#u16851-4:hover p,#u16853-4:hover p,#u16852-4:hover p
{
	color: #2E3192;
	visibility: inherit;
}

#u27880
{
	z-index: 47;
	height: 75px;
	width: 85px;
	vertical-align: top;
	margin-bottom: -8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 162px;
	background: url("../images/u27880.png") no-repeat 0px 0px;
}

#u27880:hover
{
	background: url("../images/u27880-r.png") no-repeat 0px 0px;
}

#u29449
{
	z-index: 55;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 11px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u29449-bw
{
	z-index: 55;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 11px;
}

#u29441
{
	z-index: 54;
	width: 360px;
	height: 73px;
	background-color: transparent;
	left: -1px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#U29442_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u29111
{
	z-index: 51;
	width: 361px;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	left: -1px;
	margin-top: 4px;
	position: relative;
}

#u29112
{
	z-index: 52;
	width: 263px;
	background-color: transparent;
	border-radius: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 55px;
}

#u29112::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u29112:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	width: 263px;
	min-height: 0px;
	margin: 6px -10000px 0px 0px;
}

#u29112::before .clip_frame,#u29112 .clip_frame
{
	-webkit-border-radius: 8px 8px 8px 8px;
}

#u16847
{
	z-index: 12;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 11px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u16847-bw
{
	z-index: 12;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 11px;
}

#u29443
{
	z-index: 5;
	width: 360px;
	background-color: transparent;
	opacity: 0.39;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=39)";
	filter: alpha(opacity=39);
	left: -1px;
	top: -421px;
	margin-bottom: -270px;
	position: relative;
}

#u16854-4
{
	z-index: 37;
	width: 98px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 11px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 130px;
	margin-top: 9px;
	position: relative;
}

#u16854-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 11px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u16854-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,255,0,0.5),0px 0px 8px rgba(0,255,0,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 98px;
	margin: 9px 0px 0px 130px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

