.version.joy_st /* version checker */
{
	color: #0000F0;
	background-color: #80903C;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 572.7401829589622px;
	background-image: none;
	border-style: none;
	border-color: #001F9D;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-top: 4px;
	width: 0.01px;
}

#u28191
{
	z-index: 95;
	width: 249px;
	background-color: transparent;
	margin-left: 55px;
	position: relative;
}

#u28191::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u17798
{
	z-index: 10;
	width: 360px;
	height: 6px;
	background: -webkit-gradient(linear, left center, right center, from(#FFFF00),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#FFFF00 ,#000000 100%);
	background: linear-gradient(to right,#FFFF00 ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF00, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF00', endColorstr='#FF000000', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-top: 4px;
	position: relative;
}

#pu28188
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 19px;
}

#u28188
{
	z-index: 86;
	width: 203px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#slideshowu17813
{
	z-index: 30;
	width: 0.01px;
	height: 163px;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#u17817
{
	position: absolute;
	width: 375px;
	height: 567px;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	top: -143px;
	left: -231px;
	-pie-background: rgba(68,68,68,0.9);
}

#u17817popup
{
	z-index: 31;
}

#u17825
{
	z-index: 32;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17829
{
	z-index: 34;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17825_img,#u17829_img
{
	padding: 205px 64px 204px;
}

#u17818
{
	z-index: 36;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17818_img
{
	padding: 186px 64px 185px;
}

#u28121
{
	z-index: 38;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28139
{
	z-index: 40;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28121_img,#u28139_img
{
	padding-top: 62px;
	padding-bottom: 61px;
}

#u28178
{
	z-index: 42;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28178_img
{
	padding: 62px 15px 61px 16px;
}

#u17844
{
	position: absolute;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 8px;
}

#u17844popup
{
	z-index: 44;
}

#u17854
{
	z-index: 45;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u17856
{
	z-index: 47;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u17851
{
	z-index: 49;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u28124
{
	z-index: 51;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u28142
{
	z-index: 53;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u28181
{
	z-index: 55;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 70px;
}

#u17814-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 337px;
	left: -4px;
}

#u17814-4popup
{
	z-index: 57;
}

#u17816-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 337px;
	left: -36px;
}

#u17816-4popup
{
	z-index: 61;
}

#u17814,#u17816
{
	color: #999999;
}

#u17815-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 337px;
	left: 65px;
}

#u17815-4popup
{
	z-index: 65;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu17797
{
	width: 0.01px;
	margin-left: 11px;
	margin-top: -41px;
}

#u17797
{
	z-index: 9;
	width: 189px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u17797::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 2px -3px 4px rgba(255,255,255,0.75), inset -2px 3px 4px rgba(0,0,0,0.75);
}

#u32915-4
{
	z-index: 91;
	width: 190px;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	left: -1px;
	position: relative;
}

#u17863-6
{
	z-index: 74;
	width: 186px;
	min-height: 42px;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	margin-left: 2px;
	margin-top: 9px;
	position: relative;
}

#u17862-5
{
	z-index: 69;
	width: 189px;
	background-color: transparent;
	text-align: center;
	margin-top: 67px;
	position: relative;
}

#u17862
{
	font-weight: bold;
}

#u17801
{
	z-index: 12;
	width: 159px;
	height: 7px;
	background: -webkit-gradient(linear, left center, right center, from(#FFFF00),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#FFFF00 ,#000000 100%);
	background: linear-gradient(to right,#FFFF00 ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF00, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF00', endColorstr='#FF000000', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 190px;
}

#u17802-4
{
	z-index: 13;
	width: 54px;
	min-height: 20px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(251,176,59,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFF00;
	background-color: transparent;
	border-radius: 4px;
	text-transform: none;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 243px;
}

#u17802-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(252,238,33,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 54px;
	margin: 110px -10000px 0px 0px;
}

#u17803-4
{
	z-index: 17;
	width: 54px;
	min-height: 19px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(251,176,59,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFF00;
	background-color: transparent;
	border-radius: 4px;
	text-transform: none;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 154px;
	left: 243px;
}

#u17803-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(252,238,33,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 154px -10000px 0px 0px;
}

#u17804-4
{
	z-index: 21;
	width: 54px;
	min-height: 18px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(251,176,59,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFF00;
	background-color: transparent;
	border-radius: 4px;
	text-transform: none;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 243px;
}

#u17802-4::before,#u17803-4::before,#u17804-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 4px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u17804-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(252,238,33,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 54px;
	margin: 71px -10000px 0px 0px;
}

#u17802-4:hover::before,#u17803-4:hover::before,#u17804-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u17864-6
{
	z-index: 80;
	width: 184px;
	min-height: 41px;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 95px;
	left: 3px;
}

#u17807
{
	z-index: 25;
	height: 6px;
	background: -webkit-gradient(linear, left center, right center, from(#FFFF00),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#FFFF00 ,#000000 100%);
	background: linear-gradient(to right,#FFFF00 ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF00, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF00', endColorstr='#FF000000', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-size: 100% auto;
}

#u17807-bw
{
	z-index: 25;
	margin-top: 3px;
	height: 8px;
}

#u31932
{
	z-index: 88;
	width: 360px;
	height: 73px;
	background: -webkit-gradient(linear, left center, right center, from(#FFFF00),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#FFFF00 ,#000000 100%);
	background: linear-gradient(to right,#FFFF00 ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF00, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF00', endColorstr='#FF000000', GradientType=1)";
	margin-left: 1px;
	margin-top: 1px;
	position: relative;
}

#U32301_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u17799
{
	z-index: 11;
	height: 5px;
	background: -webkit-gradient(linear, left center, right center, from(#FFFF00),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#FFFF00 ,#000000 100%);
	background: linear-gradient(to right,#FFFF00 ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF00, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF00', endColorstr='#FF000000', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-size: 100% auto;
}

#u17798::before,#u17801::before,#u17807::before,#u17799::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u17799-bw
{
	z-index: 11;
	margin-top: 3px;
	height: 7px;
}

#u32909
{
	z-index: 89;
	width: 71px;
	background-color: transparent;
	margin-left: 152px;
	margin-top: 1px;
	position: relative;
}

#ppu26402
{
	width: 0.01px;
	margin-left: 119px;
	margin-top: -1px;
}

#u26402
{
	z-index: 3;
	height: 40px;
	width: 41px;
	margin-bottom: -6px;
	margin-right: -10000px;
	left: 120px;
}

#u29585-4
{
	z-index: 5;
	width: 122px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 16px;
}

#u17808-4
{
	z-index: 26;
	width: 65px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #000000;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 33px;
}

#u17808-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u17808-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

