.version.kenpg /* version checker */
{
	color: #0000E9;
	background-color: #918A77;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 551.8103564068083px;
	border-style: none;
	border-color: #001F9D;
	padding-bottom: 0px;
	background: transparent url("../images/kn2-page-fr.png") no-repeat left top;
	background-size: cover;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 9px;
	width: 0.01px;
}

#pu18746
{
	width: 0.01px;
	margin-left: 101px;
}

#u18746
{
	z-index: 78;
	width: 164px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: -1px;
}

#u26402
{
	z-index: 3;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 179px;
}

#u19146
{
	z-index: 38;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#ED1C24),color-stop(100%, #FFFF00));
	background: -webkit-linear-gradient(left,#ED1C24 ,#FFFF00 100%);
	background: linear-gradient(to right,#ED1C24 ,#FFFF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFED1C24, endColorstr=#FFFFFF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFED1C24', endColorstr='#FFFFFF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 2px;
	position: relative;
}

#pu19214
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: -1px;
}

#u19214
{
	z-index: 5;
	width: 130px;
	height: 182px;
	background-color: #303030;
	background-color: rgba(0,0,0,0.81);
	position: relative;
	margin-right: -10000px;
	left: 221px;
	-pie-background: rgba(0,0,0,0.81);
}

#u19099
{
	z-index: 6;
	width: 215px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 171px;
	left: 1px;
}

#u19099::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 2px -3px 4px rgba(255,255,255,0.75), inset -2px 3px 4px rgba(0,0,0,0.75);
}

#u19148-12
{
	z-index: 40;
	width: 203px;
	min-height: 141px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 5px;
	background: transparent url("../images/kenley-s-u19148-12-fr.png") no-repeat center center;
	background-size: contain;
}

#u19148,#u19148-3,#u19148-4,#u19148-7,#u19148-8
{
	font-size: 18px;
	line-height: 22px;
}

#u19148-9
{
	font-size: 12px;
	line-height: 14px;
}

#slideshowu19100
{
	z-index: 7;
	width: 0.01px;
	height: 215px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 221px;
}

#u19131
{
	position: absolute;
	width: 382px;
	height: 554px;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	top: -139px;
	left: -36px;
	-pie-background: rgba(68,68,68,0.9);
}

#u19131popup
{
	z-index: 8;
}

#u19132
{
	z-index: 9;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u19140
{
	z-index: 11;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u19140_img
{
	padding: 154px 67px 153px 68px;
}

#u19136
{
	z-index: 13;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u19132_img,#u19136_img
{
	padding: 120px 68px 119px;
}

#u19144
{
	z-index: 15;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u19138
{
	z-index: 16;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u19101
{
	position: absolute;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 60px;
}

#u19101popup
{
	z-index: 17;
}

#u19102
{
	z-index: 18;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u19106
{
	z-index: 20;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u19112
{
	z-index: 22;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u19104
{
	z-index: 24;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u19110
{
	z-index: 25;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

.ie #u19144,.ie #u19138,.ie #u19104,.ie #u19110
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u19118-4
{
	position: absolute;
	width: 48px;
	min-height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 307px;
	left: 238px;
}

#u19118-4popup
{
	z-index: 26;
}

#u19119-4
{
	position: absolute;
	width: 10px;
	min-height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 307px;
	left: 206px;
}

#u19119-4popup
{
	z-index: 30;
}

#u19118,#u19119
{
	color: #999999;
}

#u19116-4
{
	position: absolute;
	width: 10px;
	min-height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 307px;
	left: 309px;
}

#u19116-4popup
{
	z-index: 34;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u19149
{
	z-index: 52;
	width: 138px;
	height: 5px;
	background: -webkit-gradient(linear, left center, right center, from(#ED1C24),color-stop(100%, #FFFF00));
	background: -webkit-linear-gradient(left,#ED1C24 ,#FFFF00 100%);
	background: linear-gradient(to right,#ED1C24 ,#FFFF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFED1C24, endColorstr=#FFFFFF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFED1C24', endColorstr='#FFFFFF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 227px;
	left: 216px;
}

#u19150-4
{
	z-index: 53;
	width: 66px;
	min-height: 17px;
	border-width: 2px;
	border-style: solid;
	border-color: #050000;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	color: #050000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 321px;
	left: 251px;
}

#u19150-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(252,238,33,0.5),0px 0px 8px rgba(252,238,33,0.5)/* glow */,
6px 6px 8px rgba(5,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 67px;
	margin: 322px -10000px 0px 1px;
}

#u19151-4
{
	z-index: 57;
	width: 66px;
	min-height: 17px;
	border-width: 2px;
	border-style: solid;
	border-color: #050000;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	color: #050000;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 251px;
}

#u19151-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(252,238,33,0.5),0px 0px 8px rgba(252,238,33,0.5)/* glow */,
6px 6px 8px rgba(5,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 67px;
	margin: 248px -10000px 0px 1px;
}

#u19160
{
	z-index: 72;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: -6px;
}

#u19162-4
{
	z-index: 74;
	width: 66px;
	min-height: 16px;
	border-width: 2px;
	border-style: solid;
	border-color: #050000;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	color: #050000;
	position: relative;
	margin-right: -10000px;
	margin-top: 284px;
	left: 251px;
}

#u19150-4::before,#u19151-4::before,#u19162-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -2px;
	left: -2px;
	bottom: -2px;
	right: -2px;
	border-radius: 4px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u19162-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(252,238,33,0.5),0px 0px 8px rgba(252,238,33,0.5)/* glow */,
6px 6px 8px rgba(5,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 67px;
	margin: 285px -10000px 0px 1px;
}

#u19150-4:hover::before,#u19151-4:hover::before,#u19162-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u19151,#u19162
{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u19154
{
	z-index: 63;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#050000),color-stop(100%, #FFFF00));
	background: -webkit-linear-gradient(left,#050000 ,#FFFF00 100%);
	background: linear-gradient(to right,#050000 ,#FFFF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF050000, endColorstr=#FFFFFF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF050000', endColorstr='#FFFFFF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 25px;
	position: relative;
}

#pu19152
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: 1px;
}

#u19152
{
	z-index: 61;
	width: 89px;
	background-color: transparent;
	border-radius: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u19152 .clip_frame
{
	-webkit-border-radius: 11px 11px 11px 11px;
}

#u19158
{
	z-index: 70;
	width: 79px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 123px;
}

#u19156
{
	z-index: 68;
	width: 85px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 246px;
}

#u19147
{
	z-index: 39;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#050000),color-stop(100%, #FFFF00));
	background: -webkit-linear-gradient(left,#050000 ,#FFFF00 100%);
	background: linear-gradient(to right,#050000 ,#FFFF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF050000, endColorstr=#FFFFFF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF050000', endColorstr='#FFFFFF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 3px;
	position: relative;
}

#u18746::before,#u19146::before,#u19149::before,#u19154::before,#u19147::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u19155-4
{
	z-index: 64;
	width: 65px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	color: #050000;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-weight: bold;
	margin-left: 155px;
	margin-top: 4px;
	position: relative;
}

#u19155-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u19155-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(252,238,33,0.5),0px 0px 8px rgba(252,238,33,0.5)/* glow */,
6px 6px 8px rgba(5,0,0,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 65px;
	margin: 4px 0px 0px 155px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

