.version.khs_st /* version checker */
{
	color: #0000E7;
	background-color: #5DEE8C;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 552px;
	border-style: none;
	border-color: #001F9D;
	background: transparent url("../images/20150106_151822-page-fr.png") no-repeat right center;
	background-size: contain;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 5px;
	width: 0.01px;
}

#ppu26402
{
	width: 0.01px;
	margin-left: 18px;
}

#u26402
{
	z-index: 3;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 261px;
}

#u16835-4
{
	z-index: 8;
	width: 323px;
	min-height: 43px;
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	color: #1B1464;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
}

#u16835-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset -1px 4px 4px rgba(255,255,255,0.75), inset 1px -4px 4px rgba(0,0,0,0.75);
}

#u16836
{
	z-index: 12;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 13px;
	background: transparent url("../images/images0tehniy7-ieu18124-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u16836-bw
{
	z-index: 12;
	margin-top: 29px;
	height: 11px;
}

#pu16839-4
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: 32px;
}

#u16839-4
{
	z-index: 18;
	width: 257px;
	min-height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #78CAEC;
	background-color: rgba(41,171,226,0.63);
	border-radius: 13px;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	-pie-background: rgba(41,171,226,0.63);
}

#u16839-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.315)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 257px;
	margin: 9px -10000px 0px 0px;
}

#u27831
{
	z-index: 45;
	height: 64px;
	width: 58px;
	vertical-align: top;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: 259px;
	background: url("../images/u27831.png") no-repeat 6px 6px;
}

#u27831:hover
{
	background: url("../images/u27831-r.png") no-repeat 0px 0px;
}

#pu16838-4
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: -5px;
}

#u16838-4
{
	z-index: 14;
	width: 147px;
	min-height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #78CAEC;
	background-color: rgba(41,171,226,0.63);
	border-radius: 13px;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.63);
}

#u16838-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.315)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 147px;
	margin: 0px -10000px -1px 0px;
}

#u27829
{
	z-index: 42;
	width: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: transparent;
	border-radius: 13px;
	position: relative;
	margin-right: -10000px;
	left: 157px;
}

#u27829::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 13px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u27829:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(140,198,63,0.5),0px 0px 8px rgba(140,198,63,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	width: 93px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u27829::before .clip_frame,#u27829 .clip_frame
{
	-webkit-border-radius: 13px 13px 13px 13px;
}

#pu16840-4
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: 8px;
}

#u16840-4
{
	z-index: 22;
	width: 156px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #78CAEC;
	background-color: rgba(41,171,226,0.63);
	border-radius: 13px;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.63);
}

#u16840-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.315)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 156px;
	margin: 0px -10000px 0px 0px;
}

#u27833
{
	z-index: 48;
	height: 46px;
	width: 43px;
	vertical-align: top;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: 175px;
	background: url("../images/u27833.png") no-repeat 6px 6px;
}

#u27833:hover
{
	background: url("../images/u27833-r.png") no-repeat 0px 0px;
}

#u16841-4
{
	z-index: 26;
	width: 97px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #78CAEC;
	background-color: rgba(41,171,226,0.63);
	border-radius: 13px;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 5px;
	margin-top: 4px;
	position: relative;
	-pie-background: rgba(41,171,226,0.63);
}

#u16841-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.315)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 97px;
	margin: 4px 0px 0px 5px;
}

#u16842-4
{
	z-index: 30;
	width: 149px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #78CAEC;
	background-color: rgba(41,171,226,0.63);
	border-radius: 13px;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 5px;
	margin-top: 3px;
	position: relative;
	-pie-background: rgba(41,171,226,0.63);
}

#u16842-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.315)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 149px;
	margin: 3px 0px 0px 5px;
}

#u16843-4
{
	z-index: 34;
	width: 114px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #78CAEC;
	background-color: rgba(41,171,226,0.63);
	border-radius: 13px;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 5px;
	margin-top: 2px;
	position: relative;
	-pie-background: rgba(41,171,226,0.63);
}

#u16839-4::before,#u16838-4::before,#u16840-4::before,#u16841-4::before,#u16842-4::before,#u16843-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 13px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.47250000000000003), inset -3px -3px 4px rgba(0,0,0,0.47250000000000003);
}

#u16843-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.315)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 114px;
	margin: 2px 0px 0px 5px;
}

#u16839-4:hover p,#u16838-4:hover p,#u16840-4:hover p,#u16841-4:hover p,#u16842-4:hover p,#u16843-4:hover p
{
	color: #2E3192;
	visibility: inherit;
}

#u29161
{
	z-index: 50;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 13px;
	background: transparent url("../images/images0tehniy7-ieu18124-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u29161-bw
{
	z-index: 50;
	margin-top: 38px;
	height: 11px;
}

#u29396
{
	z-index: 51;
	width: 360px;
	height: 73px;
	background-color: transparent;
	left: -1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#U29398_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u29103
{
	z-index: 5;
	width: 361px;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	left: -1px;
	position: relative;
}

#u29104
{
	z-index: 6;
	width: 280px;
	background-color: transparent;
	border-radius: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 39px;
}

#u29104:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	width: 280px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
}

#u29104::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u29104::before .clip_frame,#u29104 .clip_frame
{
	-webkit-border-radius: 8px 8px 8px 8px;
}

#u16837
{
	z-index: 13;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 13px;
	background: transparent url("../images/images0tehniy7-ieu18124-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u16837-bw
{
	z-index: 13;
	height: 11px;
}

#u16844-4
{
	z-index: 38;
	width: 98px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 13px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 137px;
	margin-top: 6px;
	position: relative;
}

#u16844-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 13px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u16844-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,255,0,0.5),0px 0px 8px rgba(0,255,0,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 98px;
	margin: 6px 0px 0px 137px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

