.version.luc_st /* version checker */
{
	color: #00001C;
	background-color: #9136CD;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 551.6023682047676px;
	border-style: none;
	border-color: #001F9D;
	padding-bottom: 0px;
	background: transparent url("../images/luckie%20and%20c.jpg") no-repeat center center;
	background-size: contain;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 15px;
	width: 0.01px;
}

#ppu26402
{
	width: 0.01px;
	margin-left: 18px;
}

#u26402
{
	z-index: 3;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 261px;
}

#u17885-4
{
	z-index: 5;
	width: 323px;
	min-height: 43px;
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	color: #1B1464;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
}

#u17885-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset -1px 4px 4px rgba(255,255,255,0.75), inset 1px -4px 4px rgba(0,0,0,0.75);
}

#u17886
{
	z-index: 9;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u17886-bw
{
	z-index: 9;
	margin-top: 9px;
	height: 11px;
}

#pu17888-4
{
	width: 0.01px;
	margin-top: 42px;
}

#u17888-4
{
	z-index: 10;
	width: 173px;
	min-height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #76C9EC;
	background-color: rgba(41,171,226,0.64);
	border-radius: 10px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	-pie-background: rgba(41,171,226,0.64);
}

#u17888-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.32)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 173px;
	margin: 6px -10000px 0px 0px;
}

#u27853
{
	z-index: 36;
	width: 43px;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 187px;
}

#u27853:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	width: 43px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u17889-4
{
	z-index: 14;
	width: 113px;
	min-height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #76C9EC;
	background-color: rgba(41,171,226,0.64);
	border-radius: 10px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	-pie-background: rgba(41,171,226,0.64);
}

#u17889-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.32)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 113px;
	margin: 0px;
}

#u17890-4
{
	z-index: 18;
	width: 118px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #76C9EC;
	background-color: rgba(41,171,226,0.64);
	border-radius: 10px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	-pie-background: rgba(41,171,226,0.64);
}

#u17890-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.32)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 118px;
	margin: 1px -10000px -1px 0px;
}

#u17888-4:hover p,#u17889-4:hover p,#u17890-4:hover p
{
	color: #2E3192;
	visibility: inherit;
}

#u27863
{
	z-index: 40;
	width: 56px;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 130px;
}

#u27863:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,255,255,0.5);
	width: 56px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu17890-4,#pu17891-4
{
	width: 0.01px;
	margin-top: 10px;
}

#u17891-4
{
	z-index: 22;
	width: 217px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #76C9EC;
	background-color: rgba(41,171,226,0.64);
	border-radius: 10px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.64);
}

#u27851
{
	z-index: 34;
	width: 65px;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 231px;
}

#u27851:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	width: 65px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
}

#u27851_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#pu17892-4
{
	width: 0.01px;
	margin-top: 11px;
}

#u17892-4
{
	z-index: 26;
	width: 164px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #76C9EC;
	background-color: rgba(41,171,226,0.64);
	border-radius: 10px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.64);
}

#u17888-4::before,#u17889-4::before,#u17890-4::before,#u17891-4::before,#u17892-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.48), inset -3px -3px 4px rgba(0,0,0,0.48);
}

#u27855
{
	z-index: 38;
	width: 52px;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 180px;
}

#u27855:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	width: 52px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u27853::before,#u27863::before,#u27851::before,#u27855::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u27853::before .clip_frame,#u27853 .clip_frame,#u27863::before .clip_frame,#u27863 .clip_frame,#u27851::before .clip_frame,#u27851 .clip_frame,#u27855::before .clip_frame,#u27855 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

#u29162
{
	z-index: 45;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u29162-bw
{
	z-index: 45;
	margin-top: 5px;
	height: 11px;
}

#u29389
{
	z-index: 47;
	width: 360px;
	height: 73px;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#U29390_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u29107
{
	z-index: 42;
	width: 361px;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	position: relative;
}

#u29108
{
	z-index: 43;
	width: 277px;
	background-color: transparent;
	border-radius: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 49px;
}

#u29108:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	width: 277px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
}

#u29108::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u29108::before .clip_frame,#u29108 .clip_frame
{
	-webkit-border-radius: 8px 8px 8px 8px;
}

#u29163
{
	z-index: 46;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u29163-bw
{
	z-index: 46;
	height: 11px;
}

#u17894-4
{
	z-index: 30;
	width: 98px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 138px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u17894-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u17894-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,255,0,0.5),0px 0px 8px rgba(0,255,0,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 98px;
	margin: 0px 0px -3px 138px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

