.version.mama_mia /* version checker */
{
	color: #000016;
	background-color: #917FDF;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 567.7023682047686px;
	border-style: none;
	border-color: #001F9D;
	padding-bottom: 0px;
	background: transparent url("../images/mama%20mia.jpg") no-repeat center bottom;
	background-size: contain;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 28px;
	width: 0.01px;
}

#pu25610
{
	width: 0.01px;
	margin-left: 2px;
}

#u25610
{
	z-index: 88;
	width: 214px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
}

#u25610_img
{
	padding-right: 1px;
}

#u26402
{
	z-index: 3;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 277px;
}

#u17690
{
	z-index: 6;
	width: 360px;
	height: 6px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #ED1C24;
	left: -1px;
	position: relative;
}

#pu17757
{
	width: 0.01px;
	margin-left: 11px;
	margin-top: 6px;
}

#u17757
{
	z-index: 86;
	width: 183px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u17757::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u17757_clip
{
	overflow: hidden;
	width: 183px;
	height: 147px;
}

#u17757_img
{
	margin: -22px -61px -14px;
}

#slideshowu17705
{
	z-index: 32;
	width: 0.01px;
	height: 156px;
	position: relative;
	margin-right: -10000px;
	left: 205px;
}

#u17709
{
	position: absolute;
	width: 375px;
	height: 567px;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	top: -120px;
	left: -231px;
	-pie-background: rgba(68,68,68,0.9);
}

#u17709popup
{
	z-index: 33;
}

#u17717
{
	z-index: 34;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17715
{
	z-index: 36;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17713
{
	z-index: 38;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17713_img
{
	padding: 164px 36px;
}

#u17710
{
	z-index: 40;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25593
{
	z-index: 42;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25593_clip
{
	overflow: hidden;
	width: 331px;
	height: 523px;
}

#u25593_img
{
	margin-left: -35px;
	margin-right: -36px;
}

#u17736
{
	position: absolute;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
}

#u17736popup
{
	z-index: 44;
}

#u17746
{
	z-index: 45;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u17737
{
	z-index: 47;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u17737_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u17737_img
{
	margin-top: -3px;
	margin-bottom: -3px;
}

#u17750
{
	z-index: 49;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u17743
{
	z-index: 51;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u25596
{
	z-index: 53;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u17706-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: -4px;
}

#u17706-4popup
{
	z-index: 55;
}

#u17708-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: -36px;
}

#u17708-4popup
{
	z-index: 59;
}

#u17706,#u17708
{
	color: #999999;
}

#u17707-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 65px;
}

#u17707-4popup
{
	z-index: 63;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu17689
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: -9px;
}

#u17689
{
	z-index: 5;
	width: 189px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.51);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	-pie-background: rgba(255,255,255,0.51);
}

#u17689::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 2px -3px 4px rgba(255,255,255,0.3825), inset -2px 3px 4px rgba(0,0,0,0.3825);
}

#u17689_position_content
{
	padding-top: 49px;
	padding-bottom: 10px;
}

#u17755-14
{
	z-index: 72;
	width: 186px;
	min-height: 42px;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	margin-left: 2px;
	position: relative;
}

#u17754-5
{
	z-index: 67;
	width: 189px;
	background-color: transparent;
	text-align: center;
	left: -1px;
	margin-top: 11px;
	position: relative;
}

#u17754
{
	font-weight: bold;
}

#u17693
{
	z-index: 8;
	width: 159px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #ED1C24;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 189px;
}

#u17694-4
{
	z-index: 9;
	width: 54px;
	min-height: 20px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(251,176,59,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #F15A24;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 243px;
}

#u17694-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(246,133,0,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 54px;
	margin: 78px -10000px 0px 0px;
}

#u17695-4
{
	z-index: 13;
	width: 63px;
	min-height: 19px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(251,176,59,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #F15A24;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 237px;
}

#u17695-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(246,133,0,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 63px;
	margin: 116px -10000px 0px 0px;
}

#u17696-4
{
	z-index: 17;
	width: 54px;
	min-height: 18px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(251,176,59,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #F15A24;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 243px;
}

#u17694-4::before,#u17695-4::before,#u17696-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 4px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u17696-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(246,133,0,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 54px;
	margin: 43px -10000px 0px 0px;
}

#u17694-4:hover::before,#u17695-4:hover::before,#u17696-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u25620-4
{
	z-index: 90;
	width: 190px;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u17699
{
	z-index: 23;
	height: 6px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #ED1C24;
}

#u17699-bw
{
	z-index: 23;
	margin-top: 5px;
	height: 8px;
}

#pu17697
{
	width: 0.01px;
	margin-left: 33px;
	margin-top: -1px;
}

#u17697
{
	z-index: 21;
	width: 76px;
	background-color: transparent;
	border-radius: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u17697 .clip_frame
{
	-webkit-border-radius: 11px 11px 11px 11px;
}

#u17703
{
	z-index: 30;
	width: 60px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 125px;
}

#u17701
{
	z-index: 28;
	width: 74px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 234px;
}

#u17691
{
	z-index: 7;
	height: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #ED1C24;
}

#u17690::before,#u17693::before,#u17699::before,#u17691::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u17691-bw
{
	z-index: 7;
	margin-top: -2px;
	margin-bottom: -2px;
	height: 7px;
}

#u17700-4
{
	z-index: 24;
	width: 65px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	color: #000000;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-weight: bold;
	margin-left: 161px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u17700-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u17700-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 65px;
	margin: 0px 0px -1px 161px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

