.version.mlkpg /* version checker */
{
	color: #00000F;
	background-color: #FD73DC;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 570.8023682047674px;
	border-style: none;
	border-color: #001F9D;
	padding-bottom: 0px;
	background: transparent url("../images/m4-page-fr.png") no-repeat center bottom;
	background-size: contain;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 8px;
	width: 0.01px;
}

#pu29038
{
	width: 0.01px;
	margin-left: 154px;
}

#u29038
{
	z-index: 79;
	width: 70px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
}

#u29038_clip
{
	overflow: hidden;
	width: 70px;
	height: 90px;
}

#u29038_img
{
	margin-top: -4px;
	margin-right: -1px;
}

#u26402
{
	z-index: 3;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 126px;
}

#u8479
{
	z-index: 46;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #8C6239));
	background: -webkit-linear-gradient(left,#0000FF ,#8C6239 100%);
	background: linear-gradient(to right,#0000FF ,#8C6239 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF8C6239, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF8C6239', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 6px;
	position: relative;
}

#pu29003
{
	width: 0.01px;
	margin-left: 11px;
	margin-top: 5px;
}

#u29003
{
	z-index: 77;
	width: 192px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u29038::before,#u29003::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#slideshowu7378
{
	z-index: 6;
	width: 0.01px;
	height: 160px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 208px;
}

#u7379
{
	position: absolute;
	width: 382px;
	height: 554px;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	top: -130px;
	left: -36px;
	-pie-background: rgba(68,68,68,0.9);
}

#u7379popup
{
	z-index: 7;
}

#u7382
{
	z-index: 8;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28963
{
	z-index: 10;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28972
{
	z-index: 12;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28981
{
	z-index: 14;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7385
{
	z-index: 16;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7384
{
	z-index: 18;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7382_img,#u28963_img,#u28972_img,#u28981_img,#u7385_img,#u7384_img
{
	padding: 180px 94px;
}

#u7390
{
	position: absolute;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
}

#u7390popup
{
	z-index: 20;
}

#u7393
{
	z-index: 21;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u28966
{
	z-index: 23;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u28975
{
	z-index: 25;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u28984
{
	z-index: 27;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u7396
{
	z-index: 29;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u7394
{
	z-index: 31;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 70px;
}

#u7397-4
{
	position: absolute;
	width: 48px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 316px;
	left: 238px;
}

#u7397-4popup
{
	z-index: 33;
}

#u7398-4
{
	position: absolute;
	width: 10px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 316px;
	left: 206px;
}

#u7398-4popup
{
	z-index: 37;
}

#u7397,#u7398
{
	color: #999999;
}

#u7389-4
{
	position: absolute;
	width: 10px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 316px;
	left: 309px;
}

#u7389-4popup
{
	z-index: 41;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u8482
{
	z-index: 63;
	width: 360px;
	height: 6px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #8C6239));
	background: -webkit-linear-gradient(left,#0000FF ,#8C6239 100%);
	background: linear-gradient(to right,#0000FF ,#8C6239 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF8C6239, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF8C6239', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -2px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u8478
{
	z-index: 45;
	width: 348px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.65);
	margin-left: 6px;
	margin-top: 8px;
	position: relative;
	-pie-background: rgba(255,255,255,0.65);
}

#u8478::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 2px -3px 4px rgba(255,255,255,0.48750000000000004), inset -2px 3px 4px rgba(0,0,0,0.48750000000000004);
}

#u8481-15
{
	z-index: 48;
	display: block;
	vertical-align: top;
	margin-bottom: -28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 4px;
}

#u8488
{
	z-index: 76;
	height: 6px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #8C6239));
	background: -webkit-linear-gradient(left,#0000FF ,#8C6239 100%);
	background: linear-gradient(to right,#0000FF ,#8C6239 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF8C6239, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF8C6239', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-size: 100% auto;
}

#u8488-bw
{
	z-index: 76;
	margin-top: -3px;
	margin-bottom: -3px;
	height: 8px;
}

#u29064
{
	z-index: 5;
	width: 360px;
	background-color: #FFFFFF;
	padding-bottom: 6px;
	left: -1px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u29065
{
	z-index: 85;
	width: 263px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(46,49,146,0.5);
	background-color: transparent;
	border-radius: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 55px;
}

#u29065::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 9px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u29065:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5);
	width: 263px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#u29065::before .clip_frame,#u29065 .clip_frame
{
	-webkit-border-radius: 9px 9px 9px 9px;
}

#u8480
{
	z-index: 47;
	height: 7px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #8C6239));
	background: -webkit-linear-gradient(left,#0000FF ,#8C6239 100%);
	background: linear-gradient(to right,#0000FF ,#8C6239 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF8C6239, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF8C6239', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-size: 100% auto;
}

#u8479::before,#u8482::before,#u8488::before,#u8480::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u8480-bw
{
	z-index: 47;
	height: 9px;
}

#pu8483-4
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 6px;
}

#u8483-4
{
	z-index: 64;
	width: 56px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u8483-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 56px;
	margin: 0px -10000px -1px 0px;
}

#u8485-4
{
	z-index: 72;
	width: 61px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 81px;
}

#u8485-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 61px;
	margin: 1px -10000px 0px 0px;
}

#u29056-4
{
	z-index: 81;
	width: 59px;
	min-height: 19px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 165px;
}

#u29056-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u8484-4
{
	z-index: 68;
	width: 66px;
	min-height: 19px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 247px;
}

#u8483-4::before,#u8485-4::before,#u29056-4::before,#u8484-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 4px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u8484-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 1px -10000px -1px 0px;
}

#u8483-4:hover::before,#u8485-4:hover::before,#u29056-4:hover::before,#u8484-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 8px;
	box-shadow: inset 0px 0px 8px rgba(255,255,255,0.5), inset 0px 0px 8px rgba(255,255,255,0.5), inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

