.version.mognolia /* version checker */
{
	color: #0000F6;
	background-color: #2B9029;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 573px;
	background-image: none;
	border-style: none;
	border-color: #001F9D;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -13px;
	width: 0.01px;
}

#pu17004
{
	width: 0.01px;
	margin-left: -71px;
}

#u17004
{
	z-index: 10;
	width: 360px;
	height: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 71px;
}

#slideshowu17019
{
	z-index: 52;
	width: 0.01px;
	height: 212px;
	position: relative;
	margin-right: -10000px;
	margin-top: 123px;
	left: 294px;
}

#u17022
{
	position: absolute;
	width: 375px;
	height: 573px;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	top: -104px;
	left: -231px;
	-pie-background: rgba(68,68,68,0.9);
}

#u17022popup
{
	z-index: 53;
}

#u25367
{
	z-index: 54;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25376
{
	z-index: 56;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25385
{
	z-index: 58;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25376_img,#u25385_img
{
	padding-top: 26px;
	padding-bottom: 25px;
}

#u25394
{
	z-index: 60;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25394_img
{
	padding-top: 97px;
	padding-bottom: 97px;
}

#u25403
{
	z-index: 62;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25403_img
{
	padding-top: 116px;
	padding-bottom: 116px;
}

#u25421
{
	z-index: 64;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25430
{
	z-index: 66;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25430_img
{
	padding: 25px 6px;
}

#u25439
{
	z-index: 68;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25367_img,#u25421_img,#u25439_img
{
	padding-top: 25px;
	padding-bottom: 25px;
}

#u17050
{
	position: absolute;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 2px;
}

#u17050popup
{
	z-index: 70;
}

#u25370
{
	z-index: 71;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u25370_img
{
	margin-left: -4px;
	margin-right: -3px;
}

#u25379
{
	z-index: 73;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u25379_img
{
	margin-left: -2px;
	margin-right: -2px;
}

#u25388
{
	z-index: 75;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u25397
{
	z-index: 77;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u25406
{
	z-index: 79;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u25388_img,#u25406_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u25424
{
	z-index: 81;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 70px;
}

#u25370_clip,#u25379_clip,#u25388_clip,#u25406_clip,#u25424_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u25424_img
{
	margin-top: -5px;
	margin-bottom: -6px;
}

#u25433
{
	z-index: 83;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
}

#u25442
{
	z-index: 85;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 70px;
}

#u17049-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 376px;
	left: -4px;
}

#u17049-4popup
{
	z-index: 87;
}

#u17021-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 376px;
	left: -36px;
}

#u17021-4popup
{
	z-index: 91;
}

#u17049,#u17021
{
	color: #999999;
}

#u17020-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 376px;
	left: 65px;
}

#u17020-4popup
{
	z-index: 95;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u25457
{
	z-index: 99;
	width: 207px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 77px;
}

#u25457::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u16882
{
	z-index: 102;
	width: 124px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 187px;
}

#u16890-4
{
	z-index: 104;
	width: 311px;
	min-height: 52px;
	background-color: transparent;
	line-height: 36px;
	text-align: center;
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u16891-4
{
	z-index: 108;
	width: 151px;
	min-height: 50px;
	background-color: transparent;
	line-height: 36px;
	text-align: center;
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 220px;
}

#pu17003
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: -69px;
}

#u17003
{
	z-index: 9;
	width: 205px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u17003::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 2px -3px 4px rgba(255,255,255,0.75), inset -2px 3px 4px rgba(0,0,0,0.75);
}

#u17006-22
{
	z-index: 12;
	width: 200px;
	min-height: 187px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: -1px;
	background: transparent url("../images/man-u17006-22-fr.png") no-repeat center bottom;
}

#u17006-2,#u17006-4
{
	font-weight: bold;
}

#u17006-6,#u17006-7,#u17006-9,#u17006-11,#u17006-13,#u17006-14,#u17006-16
{
	font-weight: bold;
	font-style: italic;
}

#u17007
{
	z-index: 34;
	width: 148px;
	height: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 206px;
}

#u17008-4
{
	z-index: 35;
	width: 54px;
	min-height: 20px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 253px;
}

#u17008-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 54px;
	margin: 126px -10000px 0px 0px;
}

#u17009-4
{
	z-index: 39;
	width: 54px;
	min-height: 19px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 167px;
	left: 253px;
}

#u17009-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 167px -10000px 0px 0px;
}

#u17010-4
{
	z-index: 43;
	width: 54px;
	min-height: 18px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 253px;
}

#u17010-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 54px;
	margin: 87px -10000px 0px 0px;
}

#u17008-4:hover::before,#u17009-4:hover::before,#u17010-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u17013
{
	z-index: 47;
	width: 360px;
	height: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	left: -1px;
	margin-top: 1px;
	position: relative;
}

#u31991
{
	z-index: 101;
	width: 360px;
	height: 73px;
	background-color: transparent;
	left: -1px;
	position: relative;
}

#U31992_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u17005
{
	z-index: 11;
	width: 360px;
	height: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	left: -2px;
	margin-top: 1px;
	position: relative;
}

#u17004::before,#u17007::before,#u17013::before,#u17005::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#ppu17014-4
{
	width: 0.01px;
	margin-left: 119px;
	margin-top: -6px;
}

#pu17014-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u17014-4
{
	z-index: 48;
	width: 65px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #000000;
	font-weight: bold;
	margin-left: 38px;
	position: relative;
}

#u17014-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u17014-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 65px;
	margin: 0px 0px 0px 38px;
}

#u29585-4
{
	z-index: 5;
	width: 122px;
	min-height: 18px;
	top: -3px;
	margin-bottom: -3px;
}

#u26402
{
	z-index: 3;
	height: 40px;
	width: 41px;
	margin-bottom: -6px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 120px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

