.version.nomi_s_pg /* version checker */
{
	color: #0000E8;
	background-color: #E86281;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 579.852368204767px;
	border-style: none;
	border-color: #001F9D;
	padding-bottom: 0px;
	background: #FFFFFF url("../images/nn.jpg") no-repeat center bottom;
	background-size: cover;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 21px;
	width: 0.01px;
}

#pu28088
{
	width: 0.01px;
	margin-left: 70px;
}

#u28088
{
	z-index: 91;
	width: 118px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
}

#u26402
{
	z-index: 3;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 209px;
}

#u4833
{
	z-index: 54;
	height: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #F7931E;
}

#u4833-bw
{
	z-index: 54;
	height: 6px;
}

#u4781
{
	z-index: 6;
	width: 350px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.45);
	margin-left: 9px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
	-pie-background: rgba(255,255,255,0.45);
}

#u4781::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 2px -3px 4px rgba(255,255,255,0.3375), inset -2px 3px 4px rgba(0,0,0,0.3375);
}

#u4835-21
{
	z-index: 56;
	width: 345px;
	min-height: 118px;
	background-color: transparent;
	text-align: center;
	margin-bottom: -11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: -10px;
}

#u4835-2,#u4835-4,#u4835-7
{
	font-weight: bold;
}

#pu28797
{
	width: 0.01px;
	margin-left: 5px;
}

#u28797
{
	z-index: 5;
	width: 153px;
	height: 223px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.75);
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	-pie-background: rgba(255,255,255,0.75);
}

#slideshowu4782
{
	z-index: 7;
	width: 0.01px;
	height: 210px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 11px;
}

#u4809
{
	position: absolute;
	width: 382px;
	height: 554px;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	top: -139px;
	left: -36px;
	-pie-background: rgba(68,68,68,0.9);
}

#u4809popup
{
	z-index: 8;
}

#u4816
{
	z-index: 9;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4820
{
	z-index: 11;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4816_img,#u4820_img
{
	padding: 104px 69px;
}

#u4818
{
	z-index: 13;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4822
{
	z-index: 15;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4814
{
	z-index: 17;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4814_img
{
	padding-top: 88px;
	padding-bottom: 88px;
}

#u4812
{
	z-index: 19;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4824
{
	z-index: 21;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4824_img
{
	padding-top: 89px;
	padding-bottom: 89px;
}

#u4810
{
	z-index: 23;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4818_img,#u4822_img,#u4812_img,#u4810_img
{
	padding-top: 86px;
	padding-bottom: 86px;
}

#u4783
{
	position: absolute;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u4783popup
{
	z-index: 25;
}

#u4788
{
	z-index: 26;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4794
{
	z-index: 28;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u4786
{
	z-index: 30;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u4790
{
	z-index: 32;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u4798
{
	z-index: 34;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u4796
{
	z-index: 36;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 70px;
}

#u4792
{
	z-index: 38;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
}

#u4784
{
	z-index: 40;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 70px;
}

#u4829-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 307px;
	left: 238px;
}

#u4829-4popup
{
	z-index: 42;
}

#u4832-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 307px;
	left: 206px;
}

#u4832-4popup
{
	z-index: 46;
}

#u4829,#u4832
{
	color: #999999;
}

#u4831-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 307px;
	left: 309px;
}

#u4831-4popup
{
	z-index: 50;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u4836
{
	z-index: 77;
	width: 189px;
	height: 7px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #F7931E;
	position: relative;
	margin-right: -10000px;
	left: 157px;
}

#u4844
{
	z-index: 90;
	height: 4px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #F7931E;
}

#u4844-bw
{
	z-index: 90;
	margin-top: 5px;
	height: 6px;
}

#u28798
{
	z-index: 97;
	width: 210px;
	background-color: transparent;
	margin-left: 75px;
	margin-top: 2px;
	position: relative;
}

#u28798::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u4834
{
	z-index: 55;
	height: 4px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #F7931E;
}

#u4833::before,#u4836::before,#u4844::before,#u4834::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u4834-bw
{
	z-index: 55;
	margin-top: 3px;
	height: 6px;
}

#pu4837-4
{
	width: 0.01px;
	margin-left: 34px;
	margin-top: 2px;
}

#u4837-4
{
	z-index: 78;
	width: 54px;
	min-height: 20px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #36DDFF;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4837-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(193,39,45,0.5),0px 0px 8px rgba(193,39,45,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 54px;
	margin: 0px -10000px -1px 0px;
}

#u4839-4
{
	z-index: 86;
	width: 54px;
	min-height: 18px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #36DDFF;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 86px;
}

#u4839-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(193,39,45,0.5),0px 0px 8px rgba(193,39,45,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 54px;
	margin: 1px -10000px 0px 0px;
}

#u28796-4
{
	z-index: 93;
	width: 54px;
	min-height: 18px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #36DDFF;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 180px;
}

#u28796-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(193,39,45,0.5),0px 0px 8px rgba(193,39,45,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 54px;
	margin: 1px -10000px 0px 0px;
}

#u4838-4
{
	z-index: 82;
	width: 54px;
	min-height: 19px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #36DDFF;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 263px;
}

#u4837-4::before,#u4839-4::before,#u28796-4::before,#u4838-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 4px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u4838-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(193,39,45,0.5),0px 0px 8px rgba(193,39,45,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u4837-4:hover::before,#u4839-4:hover::before,#u28796-4:hover::before,#u4838-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u4837-4:hover p,#u4839-4:hover p,#u28796-4:hover p,#u4838-4:hover p
{
	color: #050000;
	visibility: inherit;
	text-align: center;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

