.version.ond_dat_cafe /* version checker */
{
	color: #0000FD;
	background-color: #B1A092;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 552px;
	border-style: none;
	border-color: #001F9D;
	background: transparent url("../images/oc-page-fr.png") no-repeat center top;
	background-size: contain;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 13px;
	width: 0.01px;
}

#pu25806
{
	width: 0.01px;
	margin-left: 134px;
}

#u25806
{
	z-index: 80;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
}

#u25806::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u26402
{
	z-index: 3;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 145px;
}

#u23844
{
	z-index: 5;
	width: 357px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #B4B886;
	background-color: rgba(140,146,69,0.65);
	padding-bottom: 0px;
	left: -1px;
	margin-top: 3px;
	position: relative;
	-pie-background: rgba(140,146,69,0.65);
}

#u23844::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 2px -3px 4px rgba(255,255,255,0.48750000000000004), inset -2px 3px 4px rgba(0,0,0,0.48750000000000004);
}

#u23844_position_content
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u23845
{
	z-index: 6;
	width: 360px;
	height: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #C1272D;
	left: -1px;
	position: relative;
}

#u25857-13
{
	z-index: 82;
	width: 332px;
	min-height: 100px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	margin-left: 19px;
	margin-top: 1px;
	position: relative;
}

#u23911-5
{
	z-index: 75;
	width: 112px;
	background-color: transparent;
	text-align: center;
	margin-left: 123px;
	margin-top: 9px;
	position: relative;
}

#u23911
{
	font-weight: bold;
}

#u23848
{
	z-index: 8;
	width: 350px;
	height: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #C1272D;
	margin-left: 6px;
	margin-top: 7px;
	position: relative;
}

#slideshowu23860
{
	z-index: 28;
	width: 0.01px;
	height: 211px;
	margin-left: 18px;
	margin-top: 3px;
	position: relative;
}

#u23875
{
	position: absolute;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	padding: 22px;
	-pie-background: rgba(68,68,68,0.9);
}

#u23875popup
{
	z-index: 29;
}

#u23890
{
	z-index: 30;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u23884
{
	z-index: 32;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u23882
{
	z-index: 34;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u23886
{
	z-index: 36;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u25783
{
	z-index: 38;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u25792
{
	z-index: 40;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u25828
{
	z-index: 42;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u25837
{
	z-index: 44;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u23892
{
	position: absolute;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
}

#u23892popup
{
	z-index: 46;
}

#u23895
{
	z-index: 47;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u23895_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u23895_img
{
	margin-left: -1px;
}

#u23901
{
	z-index: 49;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u23907
{
	z-index: 51;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u23897
{
	z-index: 53;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u25786
{
	z-index: 55;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u25795
{
	z-index: 57;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 70px;
}

#u25831
{
	z-index: 59;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
}

#u25840
{
	z-index: 61;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 70px;
}

#u23862-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 214px;
	left: 209px;
}

#u23862-4popup
{
	z-index: 63;
}

#u23863-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 214px;
	left: 178px;
}

#u23863-4popup
{
	z-index: 67;
}

#u23862,#u23863
{
	color: #999999;
}

#u23874-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 214px;
	left: 279px;
}

#u23874-4popup
{
	z-index: 71;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u23854
{
	z-index: 23;
	width: 360px;
	height: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #C1272D;
	left: -4px;
	margin-top: 4px;
	position: relative;
}

#pu23852
{
	width: 0.01px;
	margin-left: 33px;
	margin-top: -1px;
}

#u23852
{
	z-index: 21;
	width: 76px;
	background-color: transparent;
	border-radius: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u23852 .clip_frame
{
	-webkit-border-radius: 11px 11px 11px 11px;
}

#u23858
{
	z-index: 26;
	width: 60px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 115px;
}

#u23856
{
	z-index: 24;
	width: 74px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 243px;
}

#u23846
{
	z-index: 7;
	width: 360px;
	height: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #C1272D;
	left: -2px;
	margin-top: 4px;
	position: relative;
}

#u23845::before,#u23848::before,#u23854::before,#u23846::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#pu23849-4
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 6px;
}

#u23849-4
{
	z-index: 9;
	width: 66px;
	min-height: 24px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(120,31,34,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	color: #71272B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u23849-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(193,39,45,0.5);
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 66px;
	margin: 1px -10000px -1px 0px;
}

#u23851-4
{
	z-index: 17;
	width: 65px;
	min-height: 24px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(120,31,34,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	color: #71272B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 88px;
}

#u23851-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(193,39,45,0.5);
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 65px;
	margin: 1px -10000px -1px 0px;
}

#u28801-4
{
	z-index: 95;
	width: 60px;
	min-height: 24px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(120,31,34,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	color: #71272B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 175px;
}

#u28801-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(193,39,45,0.5);
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 60px;
	margin: 1px -10000px -1px 0px;
}

#u23850-4
{
	z-index: 13;
	width: 65px;
	min-height: 25px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(120,31,34,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	color: #71272B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 257px;
}

#u23849-4::before,#u23851-4::before,#u28801-4::before,#u23850-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 4px;
	box-shadow: inset 0px 0px 8px rgba(193,39,45,0.5), inset 0px 0px 8px rgba(193,39,45,0.5), inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u23850-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(193,39,45,0.5);
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 65px;
	margin: 0px -10000px -1px 0px;
}

#u23849-4:hover::before,#u23851-4:hover::before,#u28801-4:hover::before,#u23850-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 8px;
	box-shadow: inset 0px 0px 8px rgba(255,255,255,0.5), inset 0px 0px 8px rgba(255,255,255,0.5), inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u23849-4:hover p,#u23851-4:hover p,#u28801-4:hover p,#u23850-4:hover p
{
	color: #C1272D;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

