.version.p_center2 /* version checker */
{
	color: #000011;
	background-color: #140181;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/atl%20street%20car%204.jpg") no-repeat center center scroll;
	background-size: contain;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 551.8523682047678px;
	border-style: none;
	border-color: #001F9D;
	padding-bottom: 0px;
	background: transparent url("../images/atl%20street%20car%205png.jpg") no-repeat center bottom;
	background-size: cover;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 11px;
	width: 0.01px;
}

#pu22433
{
	width: 0.01px;
	margin-left: -1px;
}

#u22433
{
	z-index: 2;
	width: 192px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 93px;
}

#u26402
{
	z-index: 5;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 280px;
}

#u22469-4
{
	z-index: 73;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
	left: -6px;
}

#u22470
{
	z-index: 77;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#accordionu22444
{
	z-index: 7;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 0px;
}

#u22451
{
	z-index: 8;
	background-color: transparent;
}

#u22452-7
{
	z-index: 9;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u22452-7:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	margin: 0px;
}

#u22452-7:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	margin: 0px;
}

#u22452-4
{
	font-size: 12px;
	line-height: 12px;
}

#u22453
{
	z-index: 16;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 4px;
}

#u22454-7
{
	z-index: 17;
	width: 348px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u22454-2
{
	color: #000000;
}

#u22454-5
{
	color: #3100EC;
}

#u27999
{
	z-index: 24;
	width: 99px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 242px;
}

#u27999:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	width: 99px;
	min-height: 0px;
	margin: 51px -10000px 0px 0px;
}

#u22457
{
	z-index: 26;
	background-color: transparent;
}

#u22458-8
{
	z-index: 27;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u22458-8:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	margin: 0px;
}

#u22458-8:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	margin: 0px;
}

#u22458-3
{
	line-height: 14px;
}

#u22459
{
	z-index: 35;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 11px;
}

#u22462-12
{
	z-index: 36;
	width: 340px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 10px;
}

#u22462,#u22462-3
{
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u22462-5
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#u28003
{
	z-index: 48;
	width: 130px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 228px;
}

#u28003:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(41,171,226,0.5);
	width: 130px;
	min-height: 0px;
	margin: 50px -10000px 0px 0px;
}

#u28005-4
{
	z-index: 50;
	width: 100px;
	min-height: 36px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	color: #A67C52;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 243px;
}

#u22445
{
	z-index: 54;
	background-color: transparent;
	padding-bottom: 0px;
}

#u22446-7
{
	z-index: 55;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u22446-7:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	margin: 0px;
}

#u22446-7:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	margin: 0px;
}

#u22452-7.AccordionPanelTabOpen,#u22458-8.AccordionPanelTabOpen,#u22446-7.AccordionPanelTabOpen
{
	background-color: #9DE4FF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	margin: 0px;
}

#u22452-7.AccordionPanelTabOpen p,#u22452-7.AccordionPanelTabOpen span,#u22458-8.AccordionPanelTabOpen p,#u22458-8.AccordionPanelTabOpen span,#u22446-7.AccordionPanelTabOpen p,#u22446-7.AccordionPanelTabOpen span
{
	color: #000000;
	visibility: inherit;
}

#u22452-5,#u22458-6,#u22446-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u22452,#u22452-3,#u22458,#u22458-4,#u22446,#u22446-3
{
	font-size: 24px;
	line-height: 24px;
}

#u22452-2,#u22458-2,#u22458-5,#u22446-2,#u22446-4
{
	font-size: 14px;
	line-height: 14px;
}

#u22447
{
	z-index: 62;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u22450-8
{
	z-index: 63;
	width: 295px;
	min-height: 101px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 6px;
}

#u22450-6
{
	color: #303DFF;
}

#u22454-3,#u22462-6,#u22462-8,#u22450-4
{
	font-weight: bold;
}

#u28854
{
	z-index: 71;
	width: 111px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 218px;
}

#u27999::before,#u28003:hover::before,#u28854::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u28854:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	width: 111px;
	min-height: 0px;
	margin: 55px -10000px 0px 0px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#accordionu22444-bw
{
	z-index: 7;
	margin-top: -4px;
	margin-bottom: -4px;
}

#u22467
{
	z-index: 78;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 2px;
	position: relative;
}

#u29487
{
	z-index: 88;
	width: 360px;
	height: 73px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#U29488_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u28865
{
	z-index: 87;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	position: relative;
}

#u22470::before,#u22467::before,#u28865::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#pu22468-4
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 3px;
}

#u22468-4
{
	z-index: 79;
	width: 65px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	border-radius: 9px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u22468-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 65px;
	margin: 0px -10000px -1px 0px;
}

#u22475-4
{
	z-index: 83;
	width: 72px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	border-radius: 9px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 228px;
}

#u22468-4::before,#u22475-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 9px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u22475-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 72px;
	margin: 0px -10000px -1px 0px;
}

#u22468-4:hover p,#u22475-4:hover p
{
	color: #0071BC;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

