.version.peac_cen_st /* version checker */
{
	color: #000003;
	background-color: #99A291;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 552px;
	background-image: none;
	border-style: none;
	border-color: #001F9D;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 5px;
	width: 0.01px;
}

#ppu26402
{
	width: 0.01px;
	margin-left: 18px;
}

#u26402
{
	z-index: 6;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 261px;
}

#u17905-4
{
	z-index: 10;
	width: 323px;
	min-height: 43px;
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	color: #1B1464;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
}

#u17905-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset -1px 4px 4px rgba(255,255,255,0.75), inset 1px -4px 4px rgba(0,0,0,0.75);
}

#u17906
{
	z-index: 14;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u17906-bw
{
	z-index: 14;
	margin-top: 3px;
	height: 11px;
}

#pu29475
{
	width: 0.01px;
	margin-left: -2px;
	margin-top: 3px;
}

#u29475
{
	z-index: 3;
	width: 361px;
	background-color: transparent;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	position: relative;
	margin-right: -10000px;
}

#u28869
{
	z-index: 8;
	width: 45px;
	background-color: transparent;
	border-radius: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 246px;
	left: 149px;
}

#u28869::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 9px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u28869:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	width: 45px;
	min-height: 0px;
	margin: 246px -10000px 0px 0px;
}

#u28869::before .clip_frame,#u28869 .clip_frame
{
	-webkit-border-radius: 9px 9px 9px 9px;
}

#u17908-4
{
	z-index: 16;
	width: 188px;
	min-height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #78CAEC;
	background-color: rgba(41,171,226,0.63);
	border-radius: 10px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 6px;
	-pie-background: rgba(41,171,226,0.63);
}

#u17908-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.315)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 188px;
	margin: 43px -10000px 0px 0px;
}

#u17909-4
{
	z-index: 20;
	width: 119px;
	min-height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #78CAEC;
	background-color: rgba(41,171,226,0.63);
	border-radius: 10px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 9px;
	-pie-background: rgba(41,171,226,0.63);
}

#u17909-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.315)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 119px;
	margin: 82px -10000px 0px 0px;
}

#u17910-4
{
	z-index: 24;
	width: 150px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #78CAEC;
	background-color: rgba(41,171,226,0.63);
	border-radius: 10px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 7px;
	-pie-background: rgba(41,171,226,0.63);
}

#u17910-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.315)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 150px;
	margin: 124px -10000px 0px 0px;
}

#u17912-4
{
	z-index: 28;
	width: 101px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #78CAEC;
	background-color: rgba(41,171,226,0.63);
	border-radius: 10px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 166px;
	left: 9px;
	-pie-background: rgba(41,171,226,0.63);
}

#u17912-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.315)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 101px;
	margin: 166px -10000px 0px 0px;
}

#u17913-4
{
	z-index: 32;
	width: 133px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #78CAEC;
	background-color: rgba(41,171,226,0.63);
	border-radius: 10px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 206px;
	left: 9px;
	-pie-background: rgba(41,171,226,0.63);
}

#u17913-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.315)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 133px;
	margin: 206px -10000px 0px 0px;
}

#u18627-4
{
	z-index: 40;
	width: 223px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #78CAEC;
	background-color: rgba(41,171,226,0.63);
	border-radius: 10px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 7px;
	-pie-background: rgba(41,171,226,0.63);
}

#u18627-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.315)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 223px;
	margin: 3px -10000px 0px 0px;
}

#u18628-4
{
	z-index: 44;
	width: 126px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #78CAEC;
	background-color: rgba(41,171,226,0.63);
	border-radius: 10px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 244px;
	left: 13px;
	-pie-background: rgba(41,171,226,0.63);
}

#u17908-4::before,#u17909-4::before,#u17910-4::before,#u17912-4::before,#u17913-4::before,#u18627-4::before,#u18628-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.47250000000000003), inset -3px -3px 4px rgba(0,0,0,0.47250000000000003);
}

#u18628-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.315)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 126px;
	margin: 244px -10000px 0px 0px;
}

#u17908-4:hover p,#u17909-4:hover p,#u17910-4:hover p,#u17912-4:hover p,#u17913-4:hover p,#u18627-4:hover p,#u18628-4:hover p
{
	color: #2E3192;
	visibility: inherit;
}

#u27972
{
	z-index: 48;
	width: 51px;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 206px;
}

#u27972:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(252,238,33,0.5);
	width: 51px;
	min-height: 0px;
	margin: 42px -10000px 0px 0px;
}

#u27974
{
	z-index: 51;
	height: 40px;
	width: 67px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 163px;
	background: url("../images/u27974.png") no-repeat 0px 0px;
}

#u27974:hover
{
	background: url("../images/u27974-r.png") no-repeat 0px 0px;
}

#u27976
{
	z-index: 53;
	width: 36px;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 140px;
}

#u27976:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(193,39,45,0.5);
	width: 36px;
	min-height: 0px;
	margin: 82px -10000px 0px 0px;
}

#u27972::before,#u27976::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u28024
{
	z-index: 55;
	width: 40px;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 166px;
	left: 129px;
}

#u28024:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	width: 40px;
	min-height: 0px;
	margin: 166px -10000px 0px 0px;
}

#u28028
{
	z-index: 57;
	width: 85px;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 204px;
	left: 158px;
}

#u28028:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(41,171,226,0.5),0px 0px 8px rgba(41,171,226,0.5);
	width: 85px;
	min-height: 0px;
	margin: 204px -10000px 0px 0px;
}

#u28030-4
{
	z-index: 59;
	width: 48px;
	min-height: 20px;
	background-color: transparent;
	border-radius: 10px;
	font-size: 14px;
	text-align: center;
	color: #A67C52;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 224px;
	left: 176px;
}

#u29184
{
	z-index: 67;
	width: 38px;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 248px;
}

#u29184:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5);
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u27972::before .clip_frame,#u27972 .clip_frame,#u27976::before .clip_frame,#u27976 .clip_frame,#u28024 .clip_frame,#u28028 .clip_frame,#u29184 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

#u29177
{
	z-index: 66;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u29177-bw
{
	z-index: 66;
	margin-top: 1px;
	height: 11px;
}

#u29473
{
	z-index: 2;
	width: 360px;
	height: 73px;
	background-color: transparent;
	left: -2px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#U29474_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u29119
{
	z-index: 63;
	width: 361px;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	left: -2px;
	margin-top: 1px;
	position: relative;
}

#u29120
{
	z-index: 64;
	width: 278px;
	background-color: transparent;
	border-radius: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 42px;
}

#u29120::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u29120:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	width: 278px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
}

#u29120::before .clip_frame,#u29120 .clip_frame
{
	-webkit-border-radius: 8px 8px 8px 8px;
}

#u17907
{
	z-index: 15;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u17907-bw
{
	z-index: 15;
	margin-top: 2px;
	height: 11px;
}

#u17914-4
{
	z-index: 36;
	width: 98px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 130px;
	margin-top: 7px;
	position: relative;
}

#u17914-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u17914-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,255,0,0.5),0px 0px 8px rgba(0,255,0,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 98px;
	margin: 7px 0px 0px 130px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

