.version.pitty_pats /* version checker */
{
	color: #000016;
	background-color: #7E597A;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 551.9053802529614px;
	background-image: none;
	border-style: none;
	border-color: #001F9D;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 11px;
	width: 0.01px;
}

#pu19739
{
	width: 0.01px;
	margin-left: 37px;
}

#u19739
{
	z-index: 99;
	width: 137px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#u26402
{
	z-index: 3;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 242px;
}

#u19538
{
	z-index: 45;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#9E005D),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#9E005D ,#000000 100%);
	background: linear-gradient(to right,#9E005D ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF9E005D, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9E005D', endColorstr='#FF000000', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	position: relative;
}

#pu19552
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 1px;
}

#u19552
{
	z-index: 93;
	width: 211px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u19552::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#slideshowu19492
{
	z-index: 6;
	width: 0.01px;
	height: 162px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 218px;
}

#u19512
{
	position: absolute;
	width: 382px;
	height: 554px;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	top: -139px;
	left: -36px;
	-pie-background: rgba(68,68,68,0.9);
}

#u19512popup
{
	z-index: 7;
}

#u19521
{
	z-index: 8;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u19704
{
	z-index: 10;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u19713
{
	z-index: 12;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u19729
{
	z-index: 14;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u19515
{
	z-index: 16;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u19704_img,#u19515_img
{
	padding-top: 141px;
	padding-bottom: 141px;
}

#u19517
{
	z-index: 18;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u19493
{
	position: absolute;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 7px;
}

#u19493popup
{
	z-index: 20;
}

#u19506
{
	z-index: 21;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u19707
{
	z-index: 23;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u19716
{
	z-index: 25;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u19732
{
	z-index: 27;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u19498
{
	z-index: 29;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u19504
{
	z-index: 31;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 70px;
}

#u19511-4
{
	position: absolute;
	width: 48px;
	min-height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 307px;
	left: 238px;
}

#u19511-4popup
{
	z-index: 33;
}

#u19509-4
{
	position: absolute;
	width: 10px;
	min-height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 307px;
	left: 206px;
}

#u19509-4popup
{
	z-index: 37;
}

#u19511,#u19509
{
	color: #999999;
}

#u19510-4
{
	position: absolute;
	width: 10px;
	min-height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 307px;
	left: 309px;
}

#u19510-4popup
{
	z-index: 41;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu19491
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: -29px;
}

#u19491
{
	z-index: 5;
	width: 211px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u19491::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 2px -3px 4px rgba(255,255,255,0.75), inset -2px 3px 4px rgba(0,0,0,0.75);
}

#u19540-26
{
	z-index: 47;
	width: 194px;
	min-height: 253px;
	background-color: transparent;
	margin-bottom: -31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 8px;
}

#u19540-2
{
	text-align: center;
	font-weight: bold;
}

#u19540-3,#u19540-5,#u19540-7,#u19540-9,#u19540-11,#u19540-13,#u19540-15,#u19540-17,#u19540-18
{
	text-align: center;
	font-weight: bold;
	font-style: italic;
}

#u19540-22
{
	text-align: left;
}

#u19540-23,#u19540-24
{
	text-align: center;
}

#u19541
{
	z-index: 73;
	width: 143px;
	height: 7px;
	background: -webkit-gradient(linear, left center, right center, from(#9E005D),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#9E005D ,#000000 100%);
	background: linear-gradient(to right,#9E005D ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF9E005D, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9E005D', endColorstr='#FF000000', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 211px;
}

#u19542-4
{
	z-index: 74;
	width: 68px;
	min-height: 20px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	color: #9E005D;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 246px;
}

#u19542-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(147,39,143,0.5),0px 0px 8px rgba(147,39,143,0.5)/* glow */,
6px 6px 8px rgba(158,0,93,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 68px;
	margin: 138px -10000px 0px 0px;
}

#u19543-4
{
	z-index: 78;
	width: 68px;
	min-height: 19px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	color: #9E005D;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
	left: 246px;
}

#u19543-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(147,39,143,0.5),0px 0px 8px rgba(147,39,143,0.5)/* glow */,
6px 6px 8px rgba(158,0,93,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 68px;
	margin: 183px -10000px 0px 0px;
}

#u19544-4
{
	z-index: 82;
	width: 68px;
	min-height: 18px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	color: #9E005D;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 246px;
}

#u19542-4::before,#u19543-4::before,#u19544-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 4px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u19544-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(147,39,143,0.5),0px 0px 8px rgba(147,39,143,0.5)/* glow */,
6px 6px 8px rgba(158,0,93,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 68px;
	margin: 96px -10000px 0px 0px;
}

#u19542-4:hover::before,#u19543-4:hover::before,#u19544-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u19547
{
	z-index: 88;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#9E005D),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#9E005D ,#000000 100%);
	background: linear-gradient(to right,#9E005D ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF9E005D, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9E005D', endColorstr='#FF000000', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -2px;
	margin-top: 2px;
	position: relative;
}

#pu19545
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 3px;
}

#u19545
{
	z-index: 86;
	width: 76px;
	background-color: transparent;
	border-radius: 11px;
	position: relative;
	margin-right: -10000px;
}

#u19545 .clip_frame
{
	-webkit-border-radius: 11px 11px 11px 11px;
}

#u19550
{
	z-index: 91;
	width: 60px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 121px;
}

#u19548
{
	z-index: 89;
	width: 74px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 230px;
}

#u19539
{
	z-index: 46;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#9E005D),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#9E005D ,#000000 100%);
	background: linear-gradient(to right,#9E005D ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF9E005D, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9E005D', endColorstr='#FF000000', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -2px;
	position: relative;
}

#u19538::before,#u19541::before,#u19547::before,#u19539::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u19554-4
{
	z-index: 95;
	width: 65px;
	min-height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 12px;
	color: #9E005D;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-weight: bold;
	margin-left: 150px;
	margin-top: 1px;
	position: relative;
}

#u19554-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 12px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u19554-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(147,39,143,0.5),0px 0px 8px rgba(147,39,143,0.5)/* glow */,
6px 6px 8px rgba(158,0,93,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 65px;
	margin: 1px 0px 0px 150px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

