.version.pp_st /* version checker */
{
	color: #0000F6;
	background-color: #909861;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 552px;
	background-image: none;
	border-style: none;
	border-color: #001F9D;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 6px;
	width: 0.01px;
}

#ppu26402
{
	width: 0.01px;
	margin-left: 18px;
}

#u26402
{
	z-index: 3;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 261px;
}

#u17895-4
{
	z-index: 7;
	width: 323px;
	min-height: 43px;
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	color: #1B1464;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
}

#u17895-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset -1px 4px 4px rgba(255,255,255,0.75), inset 1px -4px 4px rgba(0,0,0,0.75);
}

#u17896
{
	z-index: 11;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 9px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u17896-bw
{
	z-index: 11;
	margin-top: 17px;
	height: 11px;
}

#u17898-4
{
	z-index: 13;
	width: 121px;
	min-height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 9px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.65);
}

#u17898-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 121px;
	margin: 0px -10000px -1px 0px;
}

#u27899
{
	z-index: 51;
	width: 70px;
	background-color: transparent;
	border-radius: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 133px;
}

#u27899:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	width: 70px;
	min-height: 0px;
	margin: 6px -10000px 0px 0px;
}

#pu17899-4
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 11px;
}

#u17899-4
{
	z-index: 17;
	width: 167px;
	min-height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 9px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.65);
}

#u17899-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 167px;
	margin: 0px -10000px -1px 0px;
}

#u27896
{
	z-index: 46;
	margin-bottom: -11px;
	position: relative;
	width: 110px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 167px;
}

#u27896_states
{
	height: 42px;
	width: 110px;
	vertical-align: top;
	background: url("../images/u27896_states.png") no-repeat 0px 0px;
}

#u27896:hover #u27896_states
{
	background: url("../images/u27896_states-r.png") no-repeat 0px 0px;
}

#pu17903-4
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 10px;
}

#u17903-4
{
	z-index: 33;
	width: 104px;
	min-height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 9px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.65);
}

#u17903-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 104px;
	margin: 0px -10000px -1px 0px;
}

#u27897
{
	z-index: 49;
	height: 42px;
	width: 83px;
	vertical-align: top;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: 112px;
	background: url("../images/u27897.png") no-repeat 6px 6px;
}

#u27897:hover
{
	background: url("../images/u27897-r.png") no-repeat 0px 0px;
}

#u17900-4
{
	z-index: 21;
	width: 113px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 9px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: -1px;
	margin-top: 10px;
	position: relative;
	-pie-background: rgba(41,171,226,0.65);
}

#u17900-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 113px;
	margin: 10px 0px 0px;
}

#pu17901-4
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 5px;
}

#u17901-4
{
	z-index: 25;
	width: 133px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 9px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	-pie-background: rgba(41,171,226,0.65);
}

#u17901-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 133px;
	margin: 4px -10000px 0px 0px;
}

#u27914
{
	z-index: 59;
	width: 41px;
	background-color: transparent;
	border-radius: 9px;
	position: relative;
	margin-right: -10000px;
	left: 147px;
}

#u27914:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(96,56,19,0.5),0px 0px 8px rgba(96,56,19,0.5);
	width: 41px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u27914_img
{
	padding-right: 1px;
}

#pu17898-4,#pu17902-4
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 6px;
}

#u17902-4
{
	z-index: 29;
	width: 196px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 9px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.65);
}

#u17902-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 196px;
	margin: 0px -10000px -1px 0px;
}

#u27911-4
{
	z-index: 53;
	margin-bottom: -6px;
	position: relative;
	width: 101px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 204px;
}

#u27911-4_img
{
	display: block;
	vertical-align: top;
}

#pu18629-4
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 8px;
}

#u18629-4
{
	z-index: 41;
	width: 133px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #73C8EC;
	background-color: rgba(41,171,226,0.65);
	border-radius: 9px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	-pie-background: rgba(41,171,226,0.65);
}

#u17898-4::before,#u17899-4::before,#u17903-4::before,#u17900-4::before,#u17901-4::before,#u17902-4::before,#u18629-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 9px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.48750000000000004), inset -3px -3px 4px rgba(0,0,0,0.48750000000000004);
}

#u18629-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.325)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 133px;
	margin: 3px -10000px 0px 0px;
}

#u17898-4:hover p,#u17899-4:hover p,#u17903-4:hover p,#u17900-4:hover p,#u17901-4:hover p,#u17902-4:hover p,#u18629-4:hover p
{
	color: #2E3192;
	visibility: inherit;
}

#u27912
{
	z-index: 57;
	width: 42px;
	background-color: transparent;
	border-radius: 9px;
	position: relative;
	margin-right: -10000px;
	left: 147px;
}

#u27899::before,#u27914::before,#u27912::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 9px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u27912:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(241,90,36,0.5);
	width: 42px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u27899::before .clip_frame,#u27899 .clip_frame,#u27914::before .clip_frame,#u27914 .clip_frame,#u27912::before .clip_frame,#u27912 .clip_frame
{
	-webkit-border-radius: 9px 9px 9px 9px;
}

#u29176
{
	z-index: 64;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u29176-bw
{
	z-index: 64;
	height: 11px;
}

#u29461
{
	z-index: 65;
	width: 360px;
	height: 73px;
	background-color: transparent;
	left: -1px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#U29462_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u29115
{
	z-index: 61;
	width: 361px;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	left: -1px;
	margin-top: 9px;
	position: relative;
}

#u29116
{
	z-index: 62;
	width: 263px;
	background-color: transparent;
	border-radius: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 54px;
}

#u29116:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	width: 263px;
	min-height: 0px;
	margin: 6px -10000px 0px 0px;
}

#u29116::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u29116::before .clip_frame,#u29116 .clip_frame
{
	-webkit-border-radius: 8px 8px 8px 8px;
}

#u17897
{
	z-index: 12;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 9px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u17897-bw
{
	z-index: 12;
	margin-top: 1px;
	height: 11px;
}

#u29463
{
	z-index: 5;
	width: 361px;
	background-color: transparent;
	left: -1px;
	top: -431px;
	margin-bottom: -270px;
	position: relative;
}

#u17904-4
{
	z-index: 37;
	width: 98px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 9px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 132px;
	margin-top: 7px;
	position: relative;
}

#u17904-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 9px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u17904-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,255,0,0.5),0px 0px 8px rgba(0,255,0,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 98px;
	margin: 7px 0px 0px 132px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

