.version.roymp /* version checker */
{
	color: #0000F6;
	background-color: #5E13E1;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 551.3523682047675px;
	background-image: none;
	border-style: none;
	border-color: #001F9D;
	background-color: transparent;
	padding-bottom: 1px;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 12px;
	width: 0.01px;
}

#ppu26402
{
	width: 0.01px;
	margin-left: 113px;
}

#u26402
{
	z-index: 3;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 166px;
}

#u18765
{
	z-index: 5;
	width: 112px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 11px;
}

#u18765:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	width: 112px;
	min-height: 0px;
	margin: 32px -10000px -1px 0px;
}

#u18765_img
{
	padding-right: 7px;
}

#u18767-4
{
	z-index: 7;
	width: 133px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	color: #89009D;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 109px;
}

#u18774
{
	z-index: 21;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 4px;
	position: relative;
}

#u18771
{
	z-index: 19;
	min-height: 381px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u18771-bw
{
	z-index: 19;
	min-height: 381px;
	margin-top: -6px;
	margin-bottom: -6px;
}

#u18773
{
	z-index: 20;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 1px;
	position: relative;
}

#u18765::before,#u18774::before,#u18773::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#pu18769-4
{
	width: 0.01px;
	margin-left: 59px;
	margin-top: 18px;
}

#u18769-4
{
	z-index: 11;
	width: 66px;
	min-height: 30px;
	background-color: transparent;
	color: #1D00E6;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u18770-4
{
	z-index: 15;
	width: 73px;
	min-height: 30px;
	background-color: transparent;
	color: #39B54A;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 171px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

