.version.sensational_subs /* version checker */
{
	color: #0000FF;
	background-color: #FFB4F3;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 571px;
	border-style: none;
	border-color: #001F9D;
	background: #FFFFFF url("../images/sen4.jpg") no-repeat center center;
	background-size: cover;
}

#page_position_content
{
	padding-top: 14px;
	width: 0.01px;
}

#u26904-4
{
	z-index: 81;
	margin-left: 84px;
	position: relative;
}

#u26904-4_img
{
	display: block;
	vertical-align: top;
}

#u22034
{
	z-index: 10;
	width: 360px;
	height: 6px;
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #FCEE21));
	background: -webkit-linear-gradient(left,#F7931E ,#FCEE21 100%);
	background: linear-gradient(to right,#F7931E ,#FCEE21 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFFCEE21, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFFCEE21', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#pu26905
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 6px;
}

#u26905
{
	z-index: 85;
	width: 191px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u26905::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u26905_clip
{
	overflow: hidden;
	width: 191px;
	height: 152px;
}

#u26905_img
{
	margin-left: -39px;
	margin-right: -41px;
}

#slideshowu21973
{
	z-index: 30;
	width: 0.01px;
	height: 158px;
	position: relative;
	margin-right: -10000px;
	left: 212px;
}

#u21986
{
	position: absolute;
	width: 375px;
	height: 567px;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	top: -120px;
	left: -231px;
	-pie-background: rgba(68,68,68,0.9);
}

#u21986popup
{
	z-index: 31;
}

#u21987
{
	z-index: 32;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u21994
{
	z-index: 34;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u21989
{
	z-index: 36;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u21987_img,#u21994_img,#u21989_img
{
	padding: 205px 64px 204px;
}

#u21998
{
	z-index: 38;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u21996
{
	z-index: 40;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u21998_img,#u21996_img
{
	padding: 187px 90px 186px 91px;
}

#u21991
{
	z-index: 42;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22006
{
	position: absolute;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 3px;
}

#u22006popup
{
	z-index: 43;
}

#u22014
{
	z-index: 44;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u22007
{
	z-index: 46;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u22018
{
	z-index: 48;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u22012
{
	z-index: 50;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u22009
{
	z-index: 52;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u22011
{
	z-index: 54;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 70px;
}

.ie #u21991,.ie #u22011
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u22002-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: -4px;
}

#u22002-4popup
{
	z-index: 55;
}

#u22003-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: -36px;
}

#u22003-4popup
{
	z-index: 59;
}

#u22002,#u22003
{
	color: #999999;
}

#u21984-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 65px;
}

#u21984-4popup
{
	z-index: 63;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#ppu21969
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 3px;
}

#pu21969
{
	z-index: 9;
	width: 0.01px;
	position: relative;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u21969
{
	z-index: 0;
	width: 189px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u21969::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 2px -3px 4px rgba(255,255,255,0.75), inset -2px 3px 4px rgba(0,0,0,0.75);
}

#pu26909-4
{
	width: 0.01px;
	position: relative;
	padding-top: 25px;
	z-index: 2;
	padding-bottom: 37px;
}

#u26909-4
{
	z-index: 76;
	width: 190px;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	position: relative;
}

#u22023-4
{
	z-index: 72;
	width: 186px;
	min-height: 42px;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	margin-top: 4px;
	position: relative;
}

#u22031-5
{
	z-index: 67;
	width: 189px;
	background-color: transparent;
	text-align: center;
	margin-top: 8px;
	position: relative;
}

#u22031
{
	font-weight: bold;
}

#pu22032
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 4px;
	margin-left: 196px;
}

#u22032
{
	z-index: 12;
	width: 159px;
	height: 7px;
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #FCEE21));
	background: -webkit-linear-gradient(left,#F7931E ,#FCEE21 100%);
	background: linear-gradient(to right,#F7931E ,#FCEE21 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFFCEE21, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFFCEE21', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
}

#u22030-4
{
	z-index: 21;
	width: 54px;
	min-height: 18px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(251,176,59,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #F15A24;
	background-color: transparent;
	border-radius: 9px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 59px;
	margin-top: 19px;
	position: relative;
}

#u22030-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 54px;
	margin: 19px 0px 0px 59px;
}

#u22033-4
{
	z-index: 13;
	width: 54px;
	min-height: 20px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(251,176,59,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #F15A24;
	background-color: transparent;
	border-radius: 9px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 59px;
	margin-top: 28px;
	position: relative;
}

#u22033-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 54px;
	margin: 28px 0px 0px 59px;
}

#u22035-4
{
	z-index: 17;
	width: 67px;
	min-height: 19px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(251,176,59,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #F15A24;
	background-color: transparent;
	border-radius: 9px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 52px;
	margin-top: 27px;
	position: relative;
}

#u22030-4::before,#u22033-4::before,#u22035-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 9px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u22035-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 27px 0px 0px 52px;
}

#u22030-4:hover::before,#u22033-4:hover::before,#u22035-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u22029
{
	z-index: 25;
	height: 6px;
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #FCEE21));
	background: -webkit-linear-gradient(left,#F7931E ,#FCEE21 100%);
	background: linear-gradient(to right,#F7931E ,#FCEE21 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFFCEE21, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFFCEE21', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-size: 100% auto;
}

#u22029-bw
{
	z-index: 25;
	height: 8px;
}

#u32006
{
	z-index: 80;
	width: 360px;
	height: 73px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#U32875_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u22022
{
	z-index: 11;
	height: 5px;
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #FCEE21));
	background: -webkit-linear-gradient(left,#F7931E ,#FCEE21 100%);
	background: linear-gradient(to right,#F7931E ,#FCEE21 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFFCEE21, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFFCEE21', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-size: 100% auto;
}

#u22034::before,#u22032::before,#u22029::before,#u22022::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u22022-bw
{
	z-index: 11;
	margin-top: 3px;
	height: 7px;
}

#u21972-4
{
	z-index: 26;
	width: 65px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
	margin-left: 159px;
	margin-top: 3px;
	position: relative;
}

#u21972-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u21972-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 65px;
	margin: 3px 0px 0px 159px;
}

#pu29585-4
{
	width: 0.01px;
	margin-left: 119px;
	margin-top: -8px;
}

#u29585-4
{
	z-index: 5;
	width: 122px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u26402
{
	z-index: 3;
	height: 40px;
	width: 41px;
	margin-bottom: -6px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 120px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

