.version.sister_books /* version checker */
{
	color: #000019;
	background-color: #588824;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 565.8023682047673px;
	border-style: none;
	border-color: #001F9D;
	padding-bottom: 0px;
	background: transparent url("../images/sis.jpg") no-repeat center bottom;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 13px;
	width: 0.01px;
}

#pu24874-4
{
	width: 0.01px;
	margin-left: 6px;
}

#u24874-4
{
	z-index: 73;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
}

#u26402
{
	z-index: 3;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 274px;
}

#u24944
{
	z-index: 85;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#FF00FF),color-stop(100%, #D9E021));
	background: -webkit-linear-gradient(left,#FF00FF ,#D9E021 100%);
	background: linear-gradient(to right,#FF00FF ,#D9E021 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFF00FF, endColorstr=#FFD9E021, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF00FF', endColorstr='#FFD9E021', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-top: 19px;
	position: relative;
}

#ppu24918
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 2px;
}

#pu24918
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u24918
{
	z-index: 77;
	width: 214px;
	background-color: transparent;
	position: relative;
}

#u24918::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#ppu22948
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 8px;
}

#pu22948
{
	z-index: 6;
	width: 0.01px;
	position: relative;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u22948
{
	z-index: 0;
	width: 205px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #F0FF69;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu22947-5
{
	width: 0.01px;
	position: relative;
	left: 46px;
	padding-top: 108px;
	z-index: 2;
	padding-bottom: 28px;
}

#u22947-5
{
	z-index: 63;
	width: 112px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u22939-5
{
	z-index: 68;
	width: 190px;
	min-height: 41px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 8px;
}

#u22947,#u22939-2
{
	font-weight: bold;
}

#u24937-6
{
	z-index: 79;
	width: 200px;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 8px;
}

#ppu28364
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-left: 214px;
}

#pu28364
{
	width: 0.01px;
}

#u28364
{
	z-index: 5;
	width: 143px;
	height: 173px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #F0FF69;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u22948::before,#u28364::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 2px -3px 4px rgba(255,255,255,0.75), inset -2px 3px 4px rgba(0,0,0,0.75);
}

#slideshowu22887
{
	z-index: 28;
	width: 0.01px;
	height: 160px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 7px;
}

#u22921
{
	position: absolute;
	width: 375px;
	height: 567px;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	top: -147px;
	left: -234px;
	-pie-background: rgba(68,68,68,0.9);
}

#u22921popup
{
	z-index: 29;
}

#u22932
{
	z-index: 30;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u24927
{
	z-index: 32;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u24927_img
{
	padding-top: 121px;
	padding-bottom: 120px;
}

#u22924
{
	z-index: 34;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22928
{
	z-index: 36;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22926
{
	z-index: 38;
	width: 331px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22904
{
	position: absolute;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
}

#u22904popup
{
	z-index: 40;
}

#u22911
{
	z-index: 41;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u24930
{
	z-index: 43;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u24930_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u24930_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u22909
{
	z-index: 45;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u22907
{
	z-index: 47;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u22913
{
	z-index: 49;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u22891-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 333px;
	left: -7px;
}

#u22891-4popup
{
	z-index: 51;
}

#u22902-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 333px;
	left: -38px;
}

#u22902-4popup
{
	z-index: 55;
}

#u22891,#u22902
{
	color: #999999;
}

#u22903-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 333px;
	left: 63px;
}

#u22903-4popup
{
	z-index: 59;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u22942
{
	z-index: 8;
	width: 142px;
	height: 5px;
	background: #D9E021 url("../images/u22942-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#FF00FF),color-stop(100%, #D9E021));
	background: -webkit-linear-gradient(left,#FF00FF ,#D9E021 100%);
	background: linear-gradient(to right,#FF00FF ,#D9E021 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-left: 1px;
	position: relative;
}

#u22942:hover
{
	width: 142px;
	height: 5px;
	min-height: 0px;
	margin: 0px 0px 0px 1px;
}

#u22877
{
	z-index: 24;
	width: 67px;
	background-color: transparent;
	margin-left: 44px;
	margin-top: 5px;
	position: relative;
}

#u22885
{
	z-index: 26;
	width: 60px;
	background-color: transparent;
	margin-left: 48px;
	margin-top: 7px;
	position: relative;
}

#u28366
{
	z-index: 90;
	width: 109px;
	background-color: transparent;
	margin-left: 242px;
	margin-top: 6px;
	position: relative;
}

#u22883
{
	z-index: 23;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#FF00FF),color-stop(100%, #D9E021));
	background: -webkit-linear-gradient(left,#FF00FF ,#D9E021 100%);
	background: linear-gradient(to right,#FF00FF ,#D9E021 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFF00FF, endColorstr=#FFD9E021, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF00FF', endColorstr='#FFD9E021', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-top: 6px;
	position: relative;
}

#u22940
{
	z-index: 21;
	width: 111px;
	background-color: transparent;
	border-radius: 11px;
	margin-left: 130px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u22940 .clip_frame
{
	-webkit-border-radius: 11px 11px 11px 11px;
}

#u22946
{
	z-index: 7;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#FF00FF),color-stop(100%, #D9E021));
	background: -webkit-linear-gradient(left,#FF00FF ,#D9E021 100%);
	background: linear-gradient(to right,#FF00FF ,#D9E021 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFF00FF, endColorstr=#FFD9E021, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF00FF', endColorstr='#FFD9E021', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
}

#u24944::before,#u22942::before,#u22883::before,#u22946::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#pu22884-4
{
	width: 0.01px;
	margin-left: 13px;
	margin-top: 34px;
}

#u22884-4
{
	z-index: 9;
	width: 53px;
	min-height: 16px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFF00;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u22884-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(252,238,33,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 54px;
	margin: 0px -10000px 0px 1px;
}

#u22879-4
{
	z-index: 17;
	width: 53px;
	min-height: 17px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFF00;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 89px;
}

#u22879-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(252,238,33,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 54px;
	margin: 0px -10000px 0px 1px;
}

#u28365-4
{
	z-index: 86;
	width: 58px;
	min-height: 17px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFF00;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 179px;
}

#u28365-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(252,238,33,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 59px;
	margin: 1px -10000px -1px 1px;
}

#u22876-4
{
	z-index: 13;
	width: 63px;
	min-height: 18px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFF00;
	background-color: transparent;
	border-radius: 4px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 272px;
}

#u22884-4::before,#u22879-4::before,#u28365-4::before,#u22876-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -2px;
	left: -2px;
	bottom: -2px;
	right: -2px;
	border-radius: 4px;
	box-shadow: inset 0px 0px 8px rgba(212,20,90,0.5), inset 0px 0px 8px rgba(212,20,90,0.5), inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u22876-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(252,238,33,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 64px;
	margin: 0px -10000px -1px 1px;
}

#u22884-4:hover::before,#u22879-4:hover::before,#u28365-4:hover::before,#u22876-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 8px;
	box-shadow: inset 0px 0px 8px rgba(212,20,90,0.5), inset 0px 0px 8px rgba(212,20,90,0.5), inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u22884-4:hover p,#u22879-4:hover p,#u28365-4:hover p,#u22876-4:hover p
{
	color: #FCEE21;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

