.version.stops_and_attractions /* version checker */
{
	color: #0000F8;
	background-color: #FB083E;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/atl%20street%20car%204.jpg") no-repeat center center scroll;
	background-size: contain;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 595px;
	background-image: none;
	border-style: none;
	border-color: #0000FF;
	background-color: transparent;
}

#page::before
{
	box-shadow: none;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 360px;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 24px;
	width: 0.01px;
}

#pu26717
{
	width: 0.01px;
	margin-left: 96px;
}

#u26717
{
	z-index: 52;
	width: 185px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
}

#u26402
{
	z-index: 59;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 183px;
}

#ppu787
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 7px;
}

#pu787
{
	z-index: 3;
	width: 0.01px;
	position: relative;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 3px;
}

#u787
{
	z-index: 0;
	width: 360px;
	border-width: 1px;
	border-style: solid;
	border-color: #1B1464;
	background-color: #B6FFE4;
	opacity: 0.78;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=78)";
	filter: alpha(opacity=78);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u787:hover
{
	border-color: #0071BC;
	width: 360px;
	min-height: 0px;
	margin: 0px;
}

#pu791-4
{
	width: 0.01px;
	position: relative;
	left: 50px;
	padding-top: 5px;
	z-index: 2;
	padding-bottom: 6px;
}

#u791-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u560
{
	z-index: 30;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-size: 100% auto;
}

#u560-bw
{
	z-index: 30;
	height: 6px;
}

#pu16290
{
	width: 0.01px;
	margin-left: -1px;
}

#u16290
{
	z-index: 2;
	width: 361px;
	height: 221px;
	background-color: #FFFFFF;
	opacity: 0.36;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=36)";
	filter: alpha(opacity=36);
	position: relative;
	margin-right: -10000px;
}

#u3618
{
	z-index: 13;
	position: relative;
	width: 154px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 204px;
}

#u3618_states
{
	height: 35px;
	width: 154px;
	vertical-align: top;
	background: url("../images/u3618_states.png") no-repeat 0px 0px;
}

#u3618:hover #u3618_states
{
	background: url("../images/u3618_states-r.png") no-repeat 1px 1px;
}

#u280
{
	z-index: 16;
	position: relative;
	width: 125px;
	margin-right: -10000px;
	margin-top: 47px;
	left: 217px;
}

#u280_states
{
	height: 36px;
	width: 125px;
	vertical-align: top;
	background: url("../images/u280_states.png") no-repeat 0px 0px;
}

#u280:hover #u280_states
{
	background: url("../images/u280_states-r.png") no-repeat 1px 1px;
}

#u279
{
	z-index: 19;
	position: relative;
	width: 90px;
	margin-right: -10000px;
	margin-top: 83px;
	left: 234px;
}

#u279_states
{
	height: 36px;
	width: 90px;
	vertical-align: top;
	background: url("../images/u279_states.png") no-repeat 0px 0px;
}

#u279:hover #u279_states
{
	background: url("../images/u279_states-r.png") no-repeat 1px 1px;
}

#u278
{
	z-index: 22;
	position: relative;
	width: 133px;
	margin-right: -10000px;
	margin-top: 120px;
	left: 217px;
}

#u278_states
{
	height: 36px;
	width: 133px;
	vertical-align: top;
	background: url("../images/u278_states.png") no-repeat 0px 0px;
}

#u278:hover #u278_states
{
	background: url("../images/u278_states-r.png") no-repeat 1px 1px;
}

#u3617
{
	z-index: 25;
	position: relative;
	width: 154px;
	margin-right: -10000px;
	margin-top: 160px;
	left: 204px;
}

#u3617_states
{
	height: 36px;
	width: 154px;
	vertical-align: top;
	background: url("../images/u3617_states.png") no-repeat 0px 0px;
}

#u3617:hover #u3617_states
{
	background: url("../images/u3617_states-r.png") no-repeat 1px 1px;
}

#u276
{
	z-index: 28;
	margin-bottom: -8px;
	position: relative;
	width: 115px;
	margin-right: -10000px;
	margin-top: 194px;
	left: 227px;
}

#u276_states
{
	height: 36px;
	width: 115px;
	vertical-align: top;
	background: url("../images/u276_states.png") no-repeat 0px 0px;
}

#u276:hover #u276_states
{
	background: url("../images/u276_states-r.png") no-repeat 1px 1px;
}

#u272
{
	z-index: 35;
	position: relative;
	width: 174px;
	margin-right: -10000px;
	margin-top: 14px;
	left: -2px;
}

#u272_states
{
	height: 35px;
	width: 174px;
	vertical-align: top;
	background: url("../images/u272_states.png") no-repeat 0px 0px;
}

#u272:hover #u272_states
{
	background: url("../images/u272_states-r.png") no-repeat 1px 1px;
}

#u2270
{
	z-index: 38;
	position: relative;
	width: 107px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 32px;
}

#u2270_states
{
	height: 35px;
	width: 107px;
	vertical-align: top;
	background: url("../images/u2270_states.png") no-repeat 0px 0px;
}

#u2270:hover #u2270_states
{
	background: url("../images/u2270_states-r.png") no-repeat 1px 1px;
}

#u284
{
	z-index: 41;
	height: 35px;
	width: 121px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 30px;
	background: url("../images/u284.png") no-repeat 0px 0px;
}

#u284:hover
{
	background: url("../images/u284-r.png") no-repeat 1px 1px;
}

#u285
{
	z-index: 44;
	position: relative;
	width: 184px;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#u285_states
{
	height: 35px;
	width: 184px;
	vertical-align: top;
	background: url("../images/u285_states.png") no-repeat 0px 0px;
}

#u285:hover #u285_states
{
	background: url("../images/u285_states-r.png") no-repeat 1px 1px;
}

#u286
{
	z-index: 47;
	position: relative;
	width: 146px;
	margin-right: -10000px;
	margin-top: 160px;
	left: 26px;
}

#u286_states
{
	height: 35px;
	width: 146px;
	vertical-align: top;
	background: url("../images/u286_states.png") no-repeat 0px 0px;
}

#u286:hover #u286_states
{
	background: url("../images/u286_states-r.png") no-repeat 1px 1px;
}

#u283
{
	z-index: 50;
	margin-bottom: -11px;
	position: relative;
	width: 160px;
	margin-right: -10000px;
	margin-top: 198px;
	left: 12px;
}

#u283_states
{
	height: 35px;
	width: 160px;
	vertical-align: top;
	background: url("../images/u283_states.png") no-repeat 0px 0px;
}

#u283:hover #u283_states
{
	background: url("../images/u283_states-r.png") no-repeat 1px 1px;
}

#u301
{
	z-index: 7;
	height: 6px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-size: 100% auto;
}

#u301-bw
{
	z-index: 7;
	margin-top: 4px;
	height: 8px;
}

#pu2469-3
{
	width: 0.01px;
	margin-top: 73px;
}

#u2469-3
{
	z-index: 62;
	width: 2px;
	min-height: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
}

#u2469-3:hover
{
	background-color: #679EFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 2px;
	margin: 63px -10000px 0px 0px;
}

#u28898
{
	z-index: 54;
	width: 154px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 112px;
}

#u28898::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u28898:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(193,39,45,0.5),0px 0px 8px rgba(193,39,45,0.5)/* glow */,
6px 6px 8px rgba(193,39,45,0.5)/* drop shadow*/;
	width: 154px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u29341
{
	z-index: 61;
	width: 360px;
	height: 73px;
	background-color: transparent;
	top: -175px;
	margin-bottom: -73px;
	position: relative;
}

#U29342_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u29431
{
	z-index: 57;
	height: 6px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-size: 100% auto;
}

#u29431-bw
{
	z-index: 57;
	margin-top: -106px;
	margin-bottom: -8px;
	height: 8px;
}

#u28901
{
	z-index: 56;
	height: 6px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-size: 100% auto;
}

#u560::before,#u301::before,#u29431::before,#u28901::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u28901-bw
{
	z-index: 56;
	margin-top: -13px;
	margin-bottom: -8px;
	height: 8px;
}

#ppu291
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: -2px;
}

#u291
{
	z-index: 5;
	margin-bottom: -11px;
	position: relative;
	width: 101px;
	margin-right: -10000px;
}

#u291_states
{
	height: 34px;
	width: 101px;
	vertical-align: top;
	background: url("../images/u291_states.png") no-repeat 0px 0px;
}

#u291:hover #u291_states
{
	background: url("../images/u291_states-r.png") no-repeat 0px 0px;
}

#u28672
{
	z-index: 66;
	margin-bottom: -11px;
	position: relative;
	width: 128px;
	margin-right: -10000px;
	left: 116px;
}

#u28672_states
{
	height: 34px;
	width: 128px;
	vertical-align: top;
	background: url("../images/u28672_states.png") no-repeat 0px 0px;
}

#u28672:hover #u28672_states
{
	background: url("../images/u28672_states-r.png") no-repeat 0px 0px;
}

#u14903
{
	z-index: 32;
	margin-bottom: -11px;
	position: relative;
	width: 101px;
	margin-right: -10000px;
	left: 250px;
}

#u14903_states
{
	height: 34px;
	width: 101px;
	vertical-align: top;
	background: url("../images/u14903_states.png") no-repeat 0px 0px;
}

#u14903:hover #u14903_states
{
	background: url("../images/u14903_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

