.version.stops_and_attractions /* version checker */
{
	color: #0000F9;
	background-color: #AEA1AB;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 583px;
	background-image: none;
	border-style: none;
	border-color: #0000FF;
	background-color: transparent;
}

#page::before
{
	box-shadow: none;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 360px;
}

#page_position_content
{
	width: 0.01px;
}

#u26717
{
	z-index: 54;
	width: 152px;
	background-color: transparent;
	margin-left: 113px;
	position: relative;
}

#u26717_clip
{
	overflow: hidden;
	width: 152px;
	height: 129px;
}

#u26717_img
{
	padding-top: 6px;
}

#u560
{
	z-index: 32;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-size: 100% auto;
}

#u560-bw
{
	z-index: 32;
	height: 6px;
}

#pu787
{
	z-index: 5;
	width: 0.01px;
	position: relative;
	margin-top: -4px;
}

#u787
{
	z-index: 0;
	width: 360px;
	border-width: 1px;
	border-style: solid;
	border-color: #1B1464;
	background-color: #B6FFE4;
	opacity: 0.78;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=78)";
	filter: alpha(opacity=78);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u787:hover
{
	border-color: #0071BC;
	width: 360px;
	min-height: 0px;
	margin: 0px;
}

#pu791-4
{
	width: 0.01px;
	position: relative;
	left: 50px;
	padding-top: 5px;
	z-index: 2;
	padding-bottom: 6px;
}

#u791-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#pu29840
{
	width: 0.01px;
	margin-top: 1px;
}

#u29840
{
	z-index: 2;
	width: 356px;
	background-color: transparent;
	opacity: 0.58;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
	filter: alpha(opacity=57.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 3px;
}

#u29840_clip
{
	overflow: hidden;
	width: 356px;
	height: 278px;
}

#u29840_img
{
	margin-left: -84px;
	margin-right: -266px;
	margin-bottom: -119px;
}

#u16290
{
	z-index: 4;
	width: 359px;
	height: 192px;
	background-color: #FFFFFF;
	opacity: 0.36;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=36)";
	filter: alpha(opacity=36);
	position: relative;
	margin-right: -10000px;
}

#u301
{
	z-index: 9;
	height: 6px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-size: 100% auto;
}

#u301-bw
{
	z-index: 9;
	margin-top: 266px;
	height: 8px;
}

#u3618
{
	z-index: 15;
	position: relative;
	width: 154px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 204px;
}

#u3618_states
{
	height: 35px;
	width: 154px;
	vertical-align: top;
	background: url("../images/u3618_states.png") no-repeat 0px 0px;
}

#u3618:hover #u3618_states
{
	background: url("../images/u3618_states-r.png") no-repeat 1px 1px;
}

#u280
{
	z-index: 18;
	position: relative;
	width: 125px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 217px;
}

#u280_states
{
	height: 36px;
	width: 125px;
	vertical-align: top;
	background: url("../images/u280_states.png") no-repeat 0px 0px;
}

#u280:hover #u280_states
{
	background: url("../images/u280_states-r.png") no-repeat 1px 1px;
}

#u279
{
	z-index: 21;
	position: relative;
	width: 90px;
	margin-right: -10000px;
	margin-top: 58px;
	left: 234px;
}

#u279_states
{
	height: 36px;
	width: 90px;
	vertical-align: top;
	background: url("../images/u279_states.png") no-repeat 0px 0px;
}

#u279:hover #u279_states
{
	background: url("../images/u279_states-r.png") no-repeat 1px 1px;
}

#u278
{
	z-index: 24;
	position: relative;
	width: 133px;
	margin-right: -10000px;
	margin-top: 87px;
	left: 209px;
}

#u278_states
{
	height: 36px;
	width: 133px;
	vertical-align: top;
	background: url("../images/u278_states.png") no-repeat 0px 0px;
}

#u278:hover #u278_states
{
	background: url("../images/u278_states-r.png") no-repeat 1px 1px;
}

#u3617
{
	z-index: 27;
	position: relative;
	width: 154px;
	margin-right: -10000px;
	margin-top: 123px;
	left: 199px;
}

#u3617_states
{
	height: 36px;
	width: 154px;
	vertical-align: top;
	background: url("../images/u3617_states.png") no-repeat 0px 0px;
}

#u3617:hover #u3617_states
{
	background: url("../images/u3617_states-r.png") no-repeat 1px 1px;
}

#u276
{
	z-index: 30;
	position: relative;
	width: 115px;
	margin-right: -10000px;
	margin-top: 158px;
	left: 211px;
}

#u276_states
{
	height: 36px;
	width: 115px;
	vertical-align: top;
	background: url("../images/u276_states.png") no-repeat 0px 0px;
}

#u276:hover #u276_states
{
	background: url("../images/u276_states-r.png") no-repeat 1px 1px;
}

#u272
{
	z-index: 37;
	position: relative;
	width: 174px;
	margin-right: -10000px;
	left: -2px;
}

#u272_states
{
	height: 35px;
	width: 174px;
	vertical-align: top;
	background: url("../images/u272_states.png") no-repeat 0px 0px;
}

#u272:hover #u272_states
{
	background: url("../images/u272_states-r.png") no-repeat 1px 1px;
}

#u2270
{
	z-index: 40;
	position: relative;
	width: 107px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 30px;
}

#u2270_states
{
	height: 35px;
	width: 107px;
	vertical-align: top;
	background: url("../images/u2270_states.png") no-repeat 0px 0px;
}

#u2270:hover #u2270_states
{
	background: url("../images/u2270_states-r.png") no-repeat 1px 1px;
}

#u284
{
	z-index: 43;
	position: relative;
	width: 121px;
	margin-right: -10000px;
	margin-top: 57px;
	left: 24px;
}

#u284_states
{
	height: 35px;
	width: 121px;
	vertical-align: top;
	background: url("../images/u284_states.png") no-repeat 0px 0px;
}

#u284:hover #u284_states
{
	background: url("../images/u284_states-r.png") no-repeat 1px 1px;
}

#u285
{
	z-index: 46;
	position: relative;
	width: 184px;
	margin-right: -10000px;
	margin-top: 90px;
	left: -6px;
}

#u285_states
{
	height: 35px;
	width: 184px;
	vertical-align: top;
	background: url("../images/u285_states.png") no-repeat 0px 0px;
}

#u285:hover #u285_states
{
	background: url("../images/u285_states-r.png") no-repeat 1px 1px;
}

#u286
{
	z-index: 49;
	position: relative;
	width: 146px;
	margin-right: -10000px;
	margin-top: 125px;
	left: 16px;
}

#u286_states
{
	height: 35px;
	width: 146px;
	vertical-align: top;
	background: url("../images/u286_states.png") no-repeat 0px 0px;
}

#u286:hover #u286_states
{
	background: url("../images/u286_states-r.png") no-repeat 1px 1px;
}

#u283
{
	z-index: 52;
	position: relative;
	width: 160px;
	margin-right: -10000px;
	margin-top: 160px;
	left: 7px;
}

#u283_states
{
	height: 35px;
	width: 160px;
	vertical-align: top;
	background: url("../images/u283_states.png") no-repeat 0px 0px;
}

#u283:hover #u283_states
{
	background: url("../images/u283_states-r.png") no-repeat 1px 1px;
}

#u30355
{
	z-index: 57;
	width: 360px;
	height: 73px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 193px;
}

#U30356_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u30362
{
	z-index: 68;
	width: 361px;
	background-color: #FFFFFF;
	padding-bottom: 9px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#u30358
{
	z-index: 69;
	width: 277px;
	background-color: transparent;
	border-radius: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 42px;
}

#u30358::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u30358:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	width: 277px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#u30358::before .clip_frame,#u30358 .clip_frame
{
	-webkit-border-radius: 8px 8px 8px 8px;
}

#u28901
{
	z-index: 56;
	height: 6px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-size: 100% auto;
}

#u560::before,#u301::before,#u28901::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u28901-bw
{
	z-index: 56;
	margin-top: -2px;
	margin-bottom: -2px;
	height: 8px;
}

#ppu14903
{
	width: 0.01px;
	margin-left: 9px;
}

#u14903
{
	z-index: 34;
	margin-bottom: -11px;
	position: relative;
	width: 101px;
	margin-right: -10000px;
}

#u14903_states
{
	height: 31px;
	width: 101px;
	vertical-align: top;
	background: url("../images/u14903_states.png") no-repeat 0px 0px;
}

#u14903:hover #u14903_states
{
	background: url("../images/u14903_states-r.png") no-repeat 0px 0px;
}

#u28672
{
	z-index: 66;
	margin-bottom: -11px;
	position: relative;
	width: 128px;
	margin-right: -10000px;
	left: 112px;
}

#u28672_states
{
	height: 31px;
	width: 128px;
	vertical-align: top;
	background: url("../images/u28672_states.png") no-repeat 0px 0px;
}

#u28672:hover #u28672_states
{
	background: url("../images/u28672_states-r.png") no-repeat 0px 0px;
}

#u291
{
	z-index: 7;
	margin-bottom: -11px;
	position: relative;
	width: 101px;
	margin-right: -10000px;
	left: 251px;
}

#u291_states
{
	height: 31px;
	width: 101px;
	vertical-align: top;
	background: url("../images/u291_states.png") no-repeat 0px 0px;
}

#u291:hover #u291_states
{
	background: url("../images/u291_states-r.png") no-repeat 0px 0px;
}

#ppu32937
{
	width: 0.01px;
	margin-left: 49px;
	margin-top: 6px;
}

#u32937
{
	z-index: 72;
	margin-bottom: -12px;
	position: relative;
	width: 142px;
	margin-right: -10000px;
}

#u32937_states
{
	height: 31px;
	width: 142px;
	vertical-align: top;
	background: url("../images/u32937_states.png") no-repeat 0px 0px;
}

#u32937:hover #u32937_states
{
	background: url("../images/u32937_states-r.png") no-repeat 0px 0px;
}

#u32938
{
	z-index: 75;
	margin-bottom: -12px;
	position: relative;
	width: 142px;
	margin-right: -10000px;
	left: 145px;
}

#u32938_states
{
	height: 31px;
	width: 142px;
	vertical-align: top;
	background: url("../images/u32938_states.png") no-repeat 0px 0px;
}

#u32938:hover #u32938_states
{
	background: url("../images/u32938_states-r.png") no-repeat 0px 0px;
}

#pu29585-4
{
	width: 0.01px;
	margin-left: 119px;
	margin-top: -3px;
}

#u29585-4
{
	z-index: 61;
	width: 122px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u26402
{
	z-index: 59;
	height: 40px;
	width: 41px;
	margin-bottom: -6px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 120px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

