.version.sundial_pg /* version checker */
{
	color: #0000F0;
	background-color: #C909FE;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/sun%20dial%20logo.png") no-repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 573px;
	background: transparent url("../images/u4575-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(68%, rgba(255,255,255,0)),to(#FCCD21));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0) 68%,#FCCD21 );
	background: linear-gradient(to bottom,rgba(255,255,255,0) 68%,#FCCD21 );
	border-style: none;
	border-color: #001F9D;
}

#page_position_content
{
	padding-top: 111px;
	width: 0.01px;
}

#u4649
{
	z-index: 57;
	width: 359px;
	height: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FCEE21;
	left: -1px;
	position: relative;
}

#pu4684
{
	width: 0.01px;
	margin-left: 11px;
	margin-top: 6px;
}

#u4684
{
	z-index: 88;
	width: 212px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4684::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#slideshowu4598
{
	z-index: 10;
	width: 0.01px;
	height: 210px;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 218px;
}

#u4621
{
	position: absolute;
	width: 382px;
	height: 554px;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	top: -139px;
	left: -36px;
	-pie-background: rgba(68,68,68,0.9);
}

#u4621popup
{
	z-index: 11;
}

#u4634
{
	z-index: 12;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4622
{
	z-index: 14;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4727
{
	z-index: 16;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4632
{
	z-index: 18;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4624
{
	z-index: 20;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4624_img
{
	padding: 55px 35px 55px 36px;
}

#u4630
{
	z-index: 22;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4626
{
	z-index: 24;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4626_img
{
	padding-top: 87px;
	padding-bottom: 86px;
}

#u4636
{
	z-index: 26;
	width: 338px;
	height: 510px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4602
{
	position: absolute;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u4602popup
{
	z-index: 28;
}

#u4609
{
	z-index: 29;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4607
{
	z-index: 31;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u4730
{
	z-index: 33;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u4603
{
	z-index: 35;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u4611
{
	z-index: 37;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u4605
{
	z-index: 39;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 70px;
}

#u4615
{
	z-index: 41;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
}

#u4613
{
	z-index: 43;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 70px;
}

#u4600-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 307px;
	left: 238px;
}

#u4600-4popup
{
	z-index: 45;
}

#u4648-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 307px;
	left: 206px;
}

#u4648-4popup
{
	z-index: 49;
}

#u4600,#u4648
{
	color: #999999;
}

#u4638-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 307px;
	left: 309px;
}

#u4638-4popup
{
	z-index: 53;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu4595
{
	width: 0.01px;
	margin-left: 11px;
	margin-top: -111px;
}

#u4595
{
	z-index: 9;
	width: 211px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 6px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4595::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 2px -3px 4px rgba(255,255,255,0.75), inset -2px 3px 4px rgba(0,0,0,0.75);
}

#u4651-11
{
	z-index: 59;
	width: 205px;
	min-height: 168px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 2px;
	background: transparent url("../images/sun%20dial%20logo-u4651-11-fr.png") no-repeat center bottom;
	background-size: contain;
}

#u4651-2,#u4651-6,#u4651-7,#u4651-9
{
	text-align: center;
}

#u4652
{
	z-index: 70;
	width: 135px;
	height: 6px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FCEE21;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 211px;
}

#u4660
{
	z-index: 83;
	width: 359px;
	height: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FCEE21;
	left: -1px;
	position: relative;
}

#u4650
{
	z-index: 58;
	width: 359px;
	height: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FCEE21;
	left: -1px;
	margin-top: 159px;
	position: relative;
}

#u4649::before,#u4652::before,#u4660::before,#u4650::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u34117
{
	z-index: 90;
	width: 360px;
	height: 100px;
	background-color: transparent;
	left: -1px;
	top: -165px;
	margin-bottom: -100px;
	position: relative;
}

#U34123_animation
{
	width: 360px;
	height: 100px;
	border: none;
}

#pu4653-4
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: -39px;
}

#u4653-4
{
	z-index: 71;
	width: 80px;
	min-height: 20px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4653-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 80px;
	margin: 0px -10000px -1px 0px;
}

#u4655-4
{
	z-index: 79;
	width: 80px;
	min-height: 18px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u4655-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 80px;
	margin: 0px -10000px -1px 0px;
}

#u4661-4
{
	z-index: 84;
	width: 77px;
	min-height: 22px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 180px;
}

#u4661-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px -10000px -1px 0px;
}

#u4654-4
{
	z-index: 75;
	width: 80px;
	min-height: 19px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 274px;
}

#u4653-4::before,#u4655-4::before,#u4661-4::before,#u4654-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u4654-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 80px;
	margin: 0px -10000px -1px 0px;
}

#u4653-4:hover::before,#u4655-4:hover::before,#u4654-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#pu29585-4
{
	width: 0.01px;
	margin-left: 119px;
	margin-top: 6px;
}

#u29585-4
{
	z-index: 5;
	width: 122px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u26402
{
	z-index: 3;
	height: 40px;
	width: 41px;
	margin-bottom: -6px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 120px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

