.version.swe_aub_st /* version checker */
{
	color: #0000F3;
	background-color: #58363B;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 552px;
	border-style: none;
	border-color: #001F9D;
	background: transparent url("../images/20150106_150532-page-fr.png") no-repeat center center;
	background-size: contain;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 13px;
	width: 0.01px;
}

#ppu26402
{
	width: 0.01px;
	margin-left: 13px;
}

#u26402
{
	z-index: 11;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 266px;
}

#u17915-4
{
	z-index: 13;
	width: 323px;
	min-height: 43px;
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	color: #1B1464;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
}

#u17915-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset -1px 4px 4px rgba(255,255,255,0.75), inset 1px -4px 4px rgba(0,0,0,0.75);
}

#u17916
{
	z-index: 17;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u17916-bw
{
	z-index: 17;
	margin-top: 4px;
	height: 11px;
}

#pu18051-4
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 6px;
}

#u18051-4
{
	z-index: 55;
	width: 206px;
	min-height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #7ACAED;
	background-color: rgba(41,171,226,0.62);
	border-radius: 10px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	-pie-background: rgba(41,171,226,0.62);
}

#u18051-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.31)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 206px;
	margin: 1px -10000px -1px 0px;
}

#u27949
{
	z-index: 6;
	margin-bottom: -10px;
	position: relative;
	width: 96px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 210px;
}

#u27949_states
{
	height: 50px;
	width: 96px;
	vertical-align: top;
	background: url("../images/u27949_states.png") no-repeat 0px 0px;
}

#u27949:hover #u27949_states
{
	background: url("../images/u27949_states-r.png") no-repeat 0px 0px;
}

#pu17918-4
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: -2px;
}

#u17918-4
{
	z-index: 19;
	width: 128px;
	min-height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #7ACAED;
	background-color: rgba(41,171,226,0.62);
	border-radius: 10px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	-pie-background: rgba(41,171,226,0.62);
}

#u17918-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.31)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 128px;
	margin: 5px -10000px -1px 0px;
}

#u27935
{
	z-index: 64;
	height: 42px;
	width: 46px;
	vertical-align: top;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	left: 135px;
	background: url("../images/u27935.png") no-repeat 0px 0px;
}

#u27935:hover
{
	background: url("../images/u27935-r.png") no-repeat 0px 0px;
}

#pu17919-4
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 7px;
}

#u17919-4
{
	z-index: 23;
	width: 254px;
	min-height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #7ACAED;
	background-color: rgba(41,171,226,0.62);
	border-radius: 10px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.62);
}

#u17919-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.31)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 254px;
	margin: 0px -10000px -1px 0px;
}

#u27946
{
	z-index: 3;
	margin-bottom: -8px;
	position: relative;
	width: 91px;
	margin-right: -10000px;
	margin-top: -4px;
	left: 253px;
}

#u27946_states
{
	height: 45px;
	width: 91px;
	vertical-align: top;
	background: url("../images/u27946_states.png") no-repeat 6px 6px;
}

#u27946:hover #u27946_states
{
	background: url("../images/u27946_states-r.png") no-repeat 0px 0px;
}

#u17920-4
{
	z-index: 27;
	width: 298px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #7ACAED;
	background-color: rgba(41,171,226,0.62);
	border-radius: 10px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	-pie-background: rgba(41,171,226,0.62);
}

#u17920-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.31)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 298px;
	margin: 2px -10000px -1px 0px;
}

#u27933
{
	z-index: 61;
	width: 37px;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 308px;
}

#u27933:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	width: 37px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu17921-4
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 6px;
}

#u17921-4
{
	z-index: 31;
	width: 122px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #7ACAED;
	background-color: rgba(41,171,226,0.62);
	border-radius: 10px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	-pie-background: rgba(41,171,226,0.62);
}

#u17921-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.31)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 122px;
	margin: 2px -10000px 0px 0px;
}

#u27931
{
	z-index: 59;
	width: 34px;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 141px;
}

#u27931:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(241,90,36,0.5)/* drop shadow*/;
	width: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu17922-4
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 1px;
}

#u17922-4
{
	z-index: 35;
	width: 216px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #7ACAED;
	background-color: rgba(41,171,226,0.62);
	border-radius: 10px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	-pie-background: rgba(41,171,226,0.62);
}

#u17922-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.31)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 216px;
	margin: 5px -10000px -1px 0px;
}

#u27947
{
	z-index: 8;
	width: 36px;
	background-color: #FFFFFF;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 228px;
}

#u27933::before,#u27931::before,#u27947::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u27947:hover
{
	-pie-box-shadow: 6px 6px 8px #FBC98E;
	box-shadow: 6px 6px 8px rgba(247,147,30,0.5);
	width: 36px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u27933::before .clip_frame,#u27933 .clip_frame,#u27931::before .clip_frame,#u27931 .clip_frame,#u27947::before .clip_frame,#u27947 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

#pu18043-4
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 3px;
}

#u18043-4
{
	z-index: 43;
	width: 235px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #7ACAED;
	background-color: rgba(41,171,226,0.62);
	border-radius: 10px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	-pie-background: rgba(41,171,226,0.62);
}

#u18043-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.31)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 235px;
	margin: 4px -10000px 0px 0px;
}

#u27957
{
	z-index: 67;
	height: 43px;
	width: 46px;
	vertical-align: top;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	left: 274px;
	background: url("../images/u27957.png") no-repeat 0px 0px;
}

#u27957:hover
{
	background: url("../images/u27957-r.png") no-repeat 0px 0px;
}

#pu17920-4,#pu18044-4
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 5px;
}

#u18044-4
{
	z-index: 47;
	width: 195px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #7ACAED;
	background-color: rgba(41,171,226,0.62);
	border-radius: 10px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.62);
}

#u18044-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.31)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 195px;
	margin: 0px -10000px 0px 0px;
}

#u27959
{
	z-index: 70;
	margin-bottom: -10px;
	position: relative;
	width: 81px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 212px;
}

#u27959_states
{
	height: 50px;
	width: 81px;
	vertical-align: top;
	background: url("../images/u27959_states.png") no-repeat 6px 6px;
}

#u27959:hover #u27959_states
{
	background: url("../images/u27959_states-r.png") no-repeat 0px 0px;
}

#pu18045-4
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 4px;
}

#u18045-4
{
	z-index: 51;
	width: 189px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #7ACAED;
	background-color: rgba(41,171,226,0.62);
	border-radius: 10px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.62);
}

#u18051-4::before,#u17918-4::before,#u17919-4::before,#u17920-4::before,#u17921-4::before,#u17922-4::before,#u18043-4::before,#u18044-4::before,#u18045-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.46499999999999997), inset -3px -3px 4px rgba(0,0,0,0.46499999999999997);
}

#u18045-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.31)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u27960
{
	z-index: 73;
	margin-bottom: -7px;
	position: relative;
	width: 81px;
	margin-right: -10000px;
	margin-top: -4px;
	left: 197px;
}

#u27960_states
{
	height: 45px;
	width: 81px;
	vertical-align: top;
	background: url("../images/u27960_states.png") no-repeat 0px 0px;
}

#u27960:hover #u27960_states
{
	background: url("../images/u27960_states-r.png") no-repeat 0px 0px;
}

#u29503
{
	z-index: 79;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u29503-bw
{
	z-index: 79;
	margin-top: 1px;
	height: 11px;
}

#u29492
{
	z-index: 78;
	width: 360px;
	height: 73px;
	background-color: transparent;
	left: -1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#U29493_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u29123
{
	z-index: 75;
	width: 361px;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	left: -2px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u29124
{
	z-index: 76;
	width: 263px;
	background-color: transparent;
	border-radius: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 54px;
}

#u29124:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	width: 263px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u29124::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u29124::before .clip_frame,#u29124 .clip_frame
{
	-webkit-border-radius: 8px 8px 8px 8px;
}

#u17917
{
	z-index: 18;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u17917-bw
{
	z-index: 18;
	height: 11px;
}

#u17924-4
{
	z-index: 39;
	width: 98px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 130px;
	position: relative;
}

#u17924-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u17924-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 98px;
	margin: 0px 0px 0px 130px;
}

#u18051-4:hover p,#u17918-4:hover p,#u17919-4:hover p,#u17920-4:hover p,#u17921-4:hover p,#u17922-4:hover p,#u18043-4:hover p,#u18044-4:hover p,#u18045-4:hover p,#u17924-4:hover p
{
	color: #2E3192;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

