.version.swe3 /* version checker */
{
	color: #0000E3;
	background-color: #0DFC05;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 552px;
	border-style: none;
	border-color: #001F9D;
	background: transparent url("../images/atl%20street%20car%205png.jpg") no-repeat center center;
	background-size: cover;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 10px;
	width: 0.01px;
}

#ppu26402
{
	width: 0.01px;
	margin-left: 7px;
}

#u26402
{
	z-index: 3;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 272px;
}

#u21489
{
	z-index: 5;
	width: 192px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 85px;
}

#u21515-4
{
	z-index: 73;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: -6px;
}

#u21491
{
	z-index: 7;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-size: 100% auto;
}

#u21491-bw
{
	z-index: 7;
	margin-top: -6px;
	margin-bottom: -6px;
	height: 6px;
}

#accordionu21492
{
	z-index: 8;
	width: 360px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 0px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u21505
{
	z-index: 9;
	width: 360px;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
}

#u21510-9
{
	z-index: 10;
	width: 348px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u21510-9:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 348px;
	margin: 0px;
}

#u21510-9:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 348px;
	margin: 0px;
}

#u21506
{
	z-index: 19;
	width: 358px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u21509-7
{
	z-index: 20;
	width: 340px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u21509-2
{
	color: #000000;
}

#u21509-5
{
	text-align: left;
	color: #1806FF;
	font-weight: bold;
}

#u21507
{
	z-index: 28;
	height: 80px;
	width: 86px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 270px;
	background: url("../images/u21507.png") no-repeat 0px 0px;
}

#u21507:hover
{
	background: url("../images/u21507-r.png") no-repeat 0px 0px;
}

#u21499
{
	z-index: 30;
	width: 360px;
	background-color: transparent;
	position: relative;
}

#u21504-7
{
	z-index: 31;
	width: 348px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u21504-7:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 348px;
	margin: 0px;
}

#u21504-7:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 348px;
	margin: 0px;
}

#u21500
{
	z-index: 38;
	width: 358px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u21501-4
{
	z-index: 39;
	width: 321px;
	min-height: 101px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 11px;
}

#u23272-5
{
	z-index: 43;
	width: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	color: #1806FF;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 32px;
}

#u25046
{
	z-index: 49;
	margin-bottom: -2px;
	position: relative;
	width: 195px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 154px;
}

#u25046_states
{
	height: 72px;
	width: 195px;
	vertical-align: top;
	background: url("../images/u25046_states.png") no-repeat 6px 6px;
}

#u25046:hover #u25046_states
{
	background: url("../images/u25046_states-r.png") no-repeat 0px 0px;
}

#u21493
{
	z-index: 51;
	width: 360px;
	background-color: transparent;
	position: relative;
}

#u21498-7
{
	z-index: 52;
	width: 348px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u21498-7:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 348px;
	margin: 0px;
}

#u21498-7:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 348px;
	margin: 0px;
}

#u21510-9.AccordionPanelTabOpen,#u21504-7.AccordionPanelTabOpen,#u21498-7.AccordionPanelTabOpen
{
	background-color: #9DE4FF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 348px;
	margin: 0px;
}

#u21510-9.AccordionPanelTabOpen p,#u21510-9.AccordionPanelTabOpen span,#u21504-7.AccordionPanelTabOpen p,#u21504-7.AccordionPanelTabOpen span,#u21498-7.AccordionPanelTabOpen p,#u21498-7.AccordionPanelTabOpen span
{
	color: #000000;
	visibility: inherit;
}

#u21510-7,#u21504-5,#u21498-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u21510,#u21510-3,#u21510-5,#u21504,#u21504-3,#u21498,#u21498-3
{
	font-size: 24px;
	line-height: 24px;
}

#u21510-2,#u21510-4,#u21510-6,#u21504-2,#u21504-4,#u21498-2,#u21498-4
{
	font-size: 14px;
	line-height: 14px;
}

#u21494
{
	z-index: 59;
	width: 358px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u21497-10
{
	z-index: 60;
	width: 340px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u21497
{
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u21497-4
{
	font-weight: bold;
}

#u25047
{
	z-index: 71;
	margin-bottom: -2px;
	position: relative;
	width: 195px;
	margin-right: -10000px;
	margin-top: 57px;
	left: 169px;
}

#u25047_states
{
	height: 72px;
	width: 195px;
	vertical-align: top;
	background: url("../images/u25047_states.png") no-repeat 0px 0px;
}

#u25047:hover #u25047_states
{
	background: url("../images/u25047_states-r.png") no-repeat 0px 0px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u21516
{
	z-index: 77;
	width: 355px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-left: 4px;
	position: relative;
}

#u29512
{
	z-index: 86;
	width: 360px;
	height: 73px;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#U29513_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u29514
{
	z-index: 87;
	width: 355px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-left: 4px;
	position: relative;
}

#pu21523-4
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 3px;
}

#u21523-4
{
	z-index: 78;
	width: 65px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	border-radius: 10px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u21523-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 65px;
	margin: 0px -10000px -1px 0px;
}

#u21524-4
{
	z-index: 82;
	width: 72px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	border-radius: 10px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 228px;
}

#u21523-4::before,#u21524-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u21524-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 72px;
	margin: 0px -10000px -1px 0px;
}

#u21523-4:hover p,#u21524-4:hover p
{
	color: #0071BC;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

