.version.sweet_auburn_2 /* version checker */
{
	color: #0000F3;
	background-color: #7C4F3B;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/atl%20street%20car%204.jpg") no-repeat center center scroll;
	background-size: contain;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 562.8023682047676px;
	border-style: none;
	border-color: #001F9D;
	padding-bottom: 0px;
	background: transparent url("../images/atl%20street%20car%205png.jpg") no-repeat center bottom;
	background-size: cover;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 6px;
	width: 0.01px;
}

#pu22685
{
	width: 0.01px;
	margin-left: 29px;
}

#u22685
{
	z-index: 69;
	width: 192px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 63px;
}

#u26402
{
	z-index: 72;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 250px;
}

#u22731-4
{
	z-index: 75;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: -6px;
}

#paccordionu22705
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 5px;
}

#accordionu22705
{
	z-index: 2;
	width: 360px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u22724
{
	z-index: 3;
	width: 360px;
	background-color: transparent;
	position: relative;
}

#u22729-7
{
	z-index: 4;
	width: 348px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u22729-7:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 348px;
	margin: 0px;
}

#u22729-7:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 348px;
	margin: 0px;
}

#u22729-2
{
	line-height: 14px;
}

#u22725
{
	z-index: 11;
	width: 358px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u22728-7
{
	z-index: 12;
	width: 340px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u22728
{
	font-weight: normal;
}

#u25042
{
	z-index: 20;
	margin-bottom: -2px;
	position: relative;
	width: 163px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 181px;
}

#u25042_states
{
	height: 60px;
	width: 163px;
	vertical-align: top;
	background: url("../images/u25042_states.png") no-repeat 0px 0px;
}

#u25042:hover #u25042_states
{
	background: url("../images/u25042_states-r.png") no-repeat 0px 0px;
}

#u22712
{
	z-index: 22;
	width: 360px;
	background-color: transparent;
	position: relative;
}

#u22717-8
{
	z-index: 23;
	width: 348px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u22717-8:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 348px;
	margin: 0px;
}

#u22717-8:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 348px;
	margin: 0px;
}

#u22713
{
	z-index: 31;
	width: 358px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u22714-5
{
	z-index: 32;
	width: 340px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u22714
{
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u23263
{
	z-index: 38;
	height: 93px;
	width: 93px;
	vertical-align: top;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 249px;
	background: url("../images/u23263.png") no-repeat 0px 0px;
}

#u23263:hover
{
	background: url("../images/u23263-r.png") no-repeat 0px 0px;
}

#u25041-5
{
	z-index: 40;
	width: 64px;
	background-color: transparent;
	color: #000000;
	line-height: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 13px;
}

#u22706
{
	z-index: 45;
	width: 360px;
	background-color: transparent;
	position: relative;
}

#u22711-11
{
	z-index: 46;
	width: 348px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #C2FFBC;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u22711-11:hover
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 348px;
	margin: 0px;
}

#u22711-11:active
{
	background-color: #CEDDFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 348px;
	margin: 0px;
}

#u22729-7.AccordionPanelTabOpen,#u22717-8.AccordionPanelTabOpen,#u22711-11.AccordionPanelTabOpen
{
	background-color: #9DE4FF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 348px;
	margin: 0px;
}

#u22729-7.AccordionPanelTabOpen p,#u22729-7.AccordionPanelTabOpen span,#u22717-8.AccordionPanelTabOpen p,#u22717-8.AccordionPanelTabOpen span,#u22711-11.AccordionPanelTabOpen p,#u22711-11.AccordionPanelTabOpen span
{
	color: #000000;
	visibility: inherit;
}

#u22729-5,#u22717-6,#u22711-9
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u22729,#u22729-3,#u22717,#u22717-3,#u22717-5,#u22711,#u22711-3,#u22711-5,#u22711-7
{
	font-size: 24px;
	line-height: 24px;
}

#u22729-4,#u22717-2,#u22717-4,#u22711-2,#u22711-4,#u22711-6,#u22711-8
{
	font-size: 14px;
	line-height: 14px;
}

#u22707
{
	z-index: 57;
	width: 358px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 2px;
	position: relative;
}

#u22708-8
{
	z-index: 58;
	width: 359px;
	min-height: 128px;
	background-color: transparent;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u22728-3,#u25041,#u22708-4
{
	font-weight: bold;
}

#u24878
{
	z-index: 67;
	position: relative;
	width: 167px;
	margin-right: -10000px;
	margin-top: 61px;
	left: 189px;
}

#u24878_states
{
	height: 60px;
	width: 167px;
	vertical-align: top;
	background: url("../images/u24878_states.png") no-repeat 6px 6px;
}

#u24878:hover #u24878_states
{
	background: url("../images/u24878_states-r.png") no-repeat 0px 0px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u22732
{
	z-index: 74;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
}

#u22730
{
	z-index: 79;
	width: 360px;
	height: 5px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	position: relative;
}

#u29508
{
	z-index: 92;
	width: 360px;
	height: 73px;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#U29509_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u29510
{
	z-index: 93;
	width: 360px;
	height: 5px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu22698-4
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 8px;
}

#u22698-4
{
	z-index: 80;
	width: 65px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	border-radius: 9px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u22698-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 65px;
	margin: 0px -10000px -1px 0px;
}

#u28732-4
{
	z-index: 88;
	width: 72px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	border-radius: 9px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 114px;
}

#u22697-4
{
	z-index: 84;
	width: 72px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	border-radius: 9px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 228px;
}

#u22698-4::before,#u28732-4::before,#u22697-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 9px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u28732-4:hover,#u22697-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 72px;
	margin: 0px -10000px -1px 0px;
}

#u22698-4:hover p,#u28732-4:hover p,#u22697-4:hover p
{
	color: #0071BC;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

