.version.terrace_mp /* version checker */
{
	color: #00000F;
	background-color: #C65A33;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 551.7023682047674px;
	background-image: none;
	border-style: none;
	border-color: #001F9D;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 22px;
	width: 0.01px;
}

#pu27285
{
	width: 0.01px;
	margin-left: 31px;
}

#u27285
{
	z-index: 16;
	width: 167px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
}

#u26402
{
	z-index: 3;
	height: 94px;
	width: 85px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 248px;
}

#u27287-4
{
	z-index: 18;
	width: 100px;
	min-height: 36px;
	background-color: transparent;
	color: #A67C52;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-weight: normal;
	margin-left: 65px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u22587
{
	z-index: 14;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u22585
{
	z-index: 5;
	min-height: 395px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u22585-bw
{
	z-index: 5;
	min-height: 395px;
	margin-top: 1px;
}

#u22582
{
	z-index: 15;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #00FF00));
	background: -webkit-linear-gradient(left,#0000FF ,#00FF00 100%);
	background: linear-gradient(to right,#0000FF ,#00FF00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF00FF00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF00FF00', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u22587::before,#u22582::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#pu22584-4
{
	width: 0.01px;
	margin-left: 63px;
}

#u22584-4
{
	z-index: 6;
	width: 66px;
	min-height: 28px;
	background-color: transparent;
	color: #1D00E6;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u22583-4
{
	z-index: 10;
	width: 73px;
	min-height: 28px;
	background-color: transparent;
	color: #39B54A;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 167px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

