.version.the_ellis /* version checker */
{
	color: #00000A;
	background-color: #D08053;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 572.9951961622291px;
	background: #000D5B url("../images/u22313-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(74%, #FFFFFF),to(#000D5B));
	background: -webkit-linear-gradient(top,#FFFFFF 74%,#000D5B );
	background: linear-gradient(to bottom,#FFFFFF 74%,#000D5B );
	border-style: none;
	border-color: #001F9D;
	padding-bottom: 0px;
}

#page_position_content
{
	width: 0.01px;
}

#u28739
{
	z-index: 97;
	width: 129px;
	background-color: transparent;
	margin-left: 124px;
	position: relative;
}

#u22384
{
	z-index: 10;
	width: 360px;
	height: 5px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#0000FF ,#000000 100%);
	background: linear-gradient(to right,#0000FF ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF000000', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 6px;
	position: relative;
}

#pu27156
{
	width: 0.01px;
	margin-left: 57px;
}

#u27156
{
	z-index: 95;
	width: 104px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u27156::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#slideshowu22337
{
	z-index: 48;
	width: 0.01px;
	height: 210px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 166px;
}

#u22353
{
	position: absolute;
	width: 375px;
	height: 573px;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	top: -120px;
	left: -231px;
	-pie-background: rgba(68,68,68,0.9);
}

#u22353popup
{
	z-index: 49;
}

#u22356
{
	z-index: 50;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22357
{
	z-index: 52;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27094
{
	z-index: 54;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27094_clip
{
	overflow: hidden;
	width: 331px;
	height: 529px;
}

#u27094_img
{
	margin-left: -14px;
	margin-right: -13px;
}

#u27103
{
	z-index: 56;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27112
{
	z-index: 58;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27121
{
	z-index: 60;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27130
{
	z-index: 62;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27139
{
	z-index: 64;
	width: 331px;
	height: 529px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22368
{
	position: absolute;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u22368popup
{
	z-index: 66;
}

#u22374
{
	z-index: 67;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u22374_img
{
	margin-left: -1px;
	margin-right: -2px;
}

#u22371
{
	z-index: 69;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u27097
{
	z-index: 71;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u27106
{
	z-index: 73;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u27106_img
{
	margin-left: -4px;
	margin-right: -3px;
}

#u27115
{
	z-index: 75;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u27124
{
	z-index: 77;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 70px;
}

#u27133
{
	z-index: 79;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
}

#u27142
{
	z-index: 81;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 70px;
}

#u22374_clip,#u27106_clip,#u27115_clip,#u27124_clip,#u27133_clip,#u27142_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u27115_img,#u27124_img,#u27133_img,#u27142_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u22349-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: -4px;
}

#u22349-4popup
{
	z-index: 83;
}

#u22338-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: -36px;
}

#u22338-4popup
{
	z-index: 87;
}

#u22349,#u22338
{
	color: #999999;
}

#u22352-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 65px;
}

#u22352-4popup
{
	z-index: 91;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu22389
{
	width: 0.01px;
	margin-left: 11px;
	margin-top: -57px;
}

#u22389
{
	z-index: 9;
	width: 205px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u22389::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 2px -3px 4px rgba(255,255,255,0.75), inset -2px 3px 4px rgba(0,0,0,0.75);
}

#u22395-18
{
	z-index: 12;
	width: 207px;
	min-height: 165px;
	background-color: transparent;
	text-align: center;
	margin-bottom: -12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: -2px;
}

#u22395
{
	font-weight: bold;
}

#u22395-3,#u22395-5
{
	font-weight: bold;
	font-style: italic;
}

#u22385
{
	z-index: 30;
	width: 142px;
	height: 5px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#0000FF ,#000000 100%);
	background: linear-gradient(to right,#0000FF ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF000000', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 206px;
}

#u22332-4
{
	z-index: 31;
	width: 54px;
	min-height: 20px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(46,49,146,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: transparent;
	border-radius: 9px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 250px;
}

#u22332-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 54px;
	margin: 106px -10000px 0px 0px;
}

#u22392-4
{
	z-index: 35;
	width: 54px;
	min-height: 19px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(46,49,146,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: transparent;
	border-radius: 9px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 136px;
	left: 250px;
}

#u22392-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 136px -10000px 0px 0px;
}

#u22331-4
{
	z-index: 39;
	width: 54px;
	min-height: 18px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(46,49,146,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: transparent;
	border-radius: 9px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 250px;
}

#u22331-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.5)/* drop shadow*/;
	border-color: #2E3192;
	background-color: transparent;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 54px;
	margin: 78px -10000px 0px 0px;
}

#u22332-4:hover::before,#u22392-4:hover::before,#u22331-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u22386
{
	z-index: 43;
	height: 5px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#0000FF ,#000000 100%);
	background: linear-gradient(to right,#0000FF ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF000000', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-size: 100% auto;
}

#u22386-bw
{
	z-index: 43;
	margin-top: 14px;
	height: 7px;
}

#u32013
{
	z-index: 99;
	width: 360px;
	height: 73px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#0000FF ,#000000 100%);
	background: linear-gradient(to right,#0000FF ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF000000', GradientType=1)";
	margin-top: 2px;
	position: relative;
}

#U32014_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u22336
{
	z-index: 11;
	width: 360px;
	height: 4px;
	background: -webkit-gradient(linear, left center, right center, from(#0000FF),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#0000FF ,#000000 100%);
	background: linear-gradient(to right,#0000FF ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000FF', endColorstr='#FF000000', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -1px;
	margin-top: 1px;
	position: relative;
}

#u22384::before,#u22385::before,#u22386::before,#u22336::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u22335-4
{
	z-index: 44;
	width: 65px;
	min-height: 27px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 9px;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
	margin-left: 151px;
	top: -18px;
	margin-bottom: -18px;
	position: relative;
}

#u22332-4::before,#u22392-4::before,#u22331-4::before,#u22335-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 9px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u22335-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 65px;
	margin: 0px 0px -18px 151px;
}

#pu29585-4
{
	width: 0.01px;
	margin-left: 119px;
	margin-top: -5px;
}

#u29585-4
{
	z-index: 5;
	width: 122px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u26402
{
	z-index: 3;
	height: 40px;
	width: 41px;
	margin-bottom: -6px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 120px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

