.version.wood_st /* version checker */
{
	color: #0000E5;
	background-color: #DDC96D;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 552px;
	border-style: none;
	border-color: #001F9D;
	background: transparent url("../images/woodruff-page-fr.png") no-repeat center center;
	background-size: contain;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 8px;
	width: 0.01px;
}

#ppu26402
{
	width: 0.01px;
	margin-left: 13px;
}

#u26402
{
	z-index: 3;
	height: 94px;
	width: 85px;
	margin-bottom: -4px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 266px;
}

#u18058-4
{
	z-index: 7;
	width: 323px;
	min-height: 43px;
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	color: #1B1464;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
}

#u18058-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset -1px 4px 4px rgba(255,255,255,0.75), inset 1px -4px 4px rgba(0,0,0,0.75);
}

#u18059
{
	z-index: 11;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 9px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u18059-bw
{
	z-index: 11;
	margin-top: 12px;
	height: 11px;
}

#pu18063-4
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 4px;
}

#u18063-4
{
	z-index: 21;
	width: 261px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #76C9EC;
	background-color: rgba(41,171,226,0.64);
	border-radius: 9px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	-pie-background: rgba(41,171,226,0.64);
}

#u18063-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.32)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 261px;
	margin: 1px -10000px 0px 0px;
}

#u28061
{
	z-index: 56;
	height: 46px;
	width: 84px;
	vertical-align: top;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: 268px;
	background: url("../images/u28061.png") no-repeat 6px 6px;
}

#u28061:hover
{
	background: url("../images/u28061-r.png") no-repeat 0px 0px;
}

#pu18061-4
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 6px;
}

#u18061-4
{
	z-index: 13;
	width: 111px;
	min-height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #76C9EC;
	background-color: rgba(41,171,226,0.64);
	border-radius: 9px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.64);
}

#u18061-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.32)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 111px;
	margin: 0px -10000px -1px 0px;
}

#u28047
{
	z-index: 51;
	width: 28px;
	background-color: transparent;
	border-radius: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 137px;
}

#u28047:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(57,181,74,0.5),0px 0px 8px rgba(57,181,74,0.5)/* glow */,
6px 6px 8px rgba(0,146,69,0.5)/* drop shadow*/;
	width: 28px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#pu18062-4
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: 10px;
}

#u18062-4
{
	z-index: 17;
	width: 164px;
	min-height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #76C9EC;
	background-color: rgba(41,171,226,0.64);
	border-radius: 9px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.64);
}

#u18062-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.32)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 164px;
	margin: 0px -10000px -1px 0px;
}

#u28049
{
	z-index: 53;
	width: 36px;
	background-color: transparent;
	border-radius: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 175px;
}

#u28049:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(104,137,61,0.5);
	width: 36px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#pu18072-4
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 9px;
}

#u18072-4
{
	z-index: 45;
	width: 142px;
	min-height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #76C9EC;
	background-color: rgba(41,171,226,0.64);
	border-radius: 9px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.64);
}

#u18072-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.32)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 142px;
	margin: 0px -10000px -1px 0px;
}

#u28045
{
	z-index: 49;
	width: 52px;
	background-color: transparent;
	border-radius: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 156px;
}

#u28045:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(5,0,0,0.5);
	width: 52px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
}

#pu18064-4
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 10px;
}

#u18064-4
{
	z-index: 25;
	width: 107px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #76C9EC;
	background-color: rgba(41,171,226,0.64);
	border-radius: 9px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	-pie-background: rgba(41,171,226,0.64);
}

#u18064-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.32)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 107px;
	margin: 4px -10000px -1px 0px;
}

#u28067
{
	z-index: 5;
	width: 29px;
	background-color: transparent;
	border-radius: 9px;
	position: relative;
	margin-right: -10000px;
	left: 123px;
}

#u28067:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	width: 29px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u18065-4
{
	z-index: 29;
	width: 150px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #76C9EC;
	background-color: rgba(41,171,226,0.64);
	border-radius: 9px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 7px;
	margin-top: 9px;
	position: relative;
	-pie-background: rgba(41,171,226,0.64);
}

#u18065-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.32)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 150px;
	margin: 9px 0px 0px 7px;
}

#pu18067-4
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: 6px;
}

#u18067-4
{
	z-index: 37;
	width: 142px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #76C9EC;
	background-color: rgba(41,171,226,0.64);
	border-radius: 9px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,171,226,0.64);
}

#u18067-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.32)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 142px;
	margin: 0px -10000px -1px 0px;
}

#u28063
{
	z-index: 58;
	width: 38px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	border-radius: 9px;
	position: relative;
	margin-right: -10000px;
	left: 159px;
}

#u28047::before,#u28049::before,#u28045::before,#u28067::before,#u28063::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 9px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u28063:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(193,39,45,0.5),0px 0px 8px rgba(193,39,45,0.5)/* glow */,
6px 6px 8px rgba(193,39,45,0.5)/* drop shadow*/;
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u28047::before .clip_frame,#u28047 .clip_frame,#u28049::before .clip_frame,#u28049 .clip_frame,#u28045::before .clip_frame,#u28045 .clip_frame,#u28067::before .clip_frame,#u28067 .clip_frame,#u28063::before .clip_frame,#u28063 .clip_frame
{
	-webkit-border-radius: 9px 9px 9px 9px;
}

#u18069-4
{
	z-index: 41;
	width: 154px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #76C9EC;
	background-color: rgba(41,171,226,0.64);
	border-radius: 9px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 7px;
	margin-top: 7px;
	position: relative;
	-pie-background: rgba(41,171,226,0.64);
}

#u18063-4::before,#u18061-4::before,#u18062-4::before,#u18072-4::before,#u18064-4::before,#u18065-4::before,#u18067-4::before,#u18069-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 9px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.48), inset -3px -3px 4px rgba(0,0,0,0.48);
}

#u18069-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(247,147,30,0.5),0px 0px 8px rgba(247,147,30,0.5)/* glow */,
6px 6px 8px rgba(0,0,255,0.32)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 154px;
	margin: 7px 0px 0px 7px;
}

#u29194
{
	z-index: 63;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 9px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u29194-bw
{
	z-index: 63;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 11px;
}

#u29516
{
	z-index: 64;
	width: 360px;
	height: 73px;
	background-color: transparent;
	margin-left: 2px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#U29517_animation
{
	width: 360px;
	height: 73px;
	border: none;
}

#u29127
{
	z-index: 60;
	width: 361px;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	margin-top: 3px;
	position: relative;
}

#u29128
{
	z-index: 61;
	width: 274px;
	background-color: transparent;
	border-radius: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 45px;
}

#u29128::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 8px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u29128:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,255,0.5);
	width: 274px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
}

#u29128::before .clip_frame,#u29128 .clip_frame
{
	-webkit-border-radius: 8px 8px 8px 8px;
}

#u18060
{
	z-index: 12;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 9px;
	background: transparent url("../images/images0tehniy7-ieu16535-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/images0tehniy7.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u18060-bw
{
	z-index: 12;
	height: 11px;
}

#u18066-4
{
	z-index: 33;
	width: 98px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 9px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 131px;
	margin-top: 5px;
	position: relative;
}

#u18066-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 9px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u18066-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,255,0.5),0px 0px 8px rgba(0,0,255,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 98px;
	margin: 5px 0px 0px 131px;
}

#u18063-4:hover p,#u18061-4:hover p,#u18062-4:hover p,#u18072-4:hover p,#u18064-4:hover p,#u18065-4:hover p,#u18067-4:hover p,#u18069-4:hover p,#u18066-4:hover p
{
	color: #2E3192;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

